@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?a4jxbc');
	src:url('../fonts/icomoon.eot?a4jxbc#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?a4jxbc') format('truetype'),
		url('../fonts/icomoon.woff?a4jxbc') format('woff'),
		url('../fonts/icomoon.svg?a4jxbc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linear:before {
	content: "\e800";
}
.icon-absolut:before {
	content: "\e801";
}
.icon-bezier:before {
	content: "\e802";
}
.icon-sin:before {
	content: "\e803";
}
.icon-cubic:before {
	content: "\e804";
}
.icon-expo:before {
	content: "\e805";
}
.icon-sin_in:before {
	content: "\e806";
}
.icon-cub_in:before {
	content: "\e807";
}
.icon-exp_in:before {
	content: "\e808";
}
.icon-sin_out:before {
	content: "\e809";
}
.icon-cub_out:before {
	content: "\e80a";
}
.icon-exp_out:before {
	content: "\e80b";
}

