/*
 * Cables Color Theme
 *
 * SVG Colors defined in /ui/uiconfig.js
*/

// main colors ----------------------------------------------------------------

$highlight-color: #D95F48; // not so bright red
$mainColor: $highlight-color; // todo replace in code with $highlight-color
$background-color-dark: #222222;
$background-color-brighter: #262626;

// patch ------------------------------------------------------------------------

$color_op_bg:#333;
$color_op_bg_active:#555;

$color_op_handle_default:#E0766C;
$color_op_handle_gl:#8FD692;
$color_op_handle_audio:#83BDE0;
$color_op_handle_devices:#FFBC8A;
$color_op_handle_html:#E392BC;

$color_port_function:#50B283;
$color_port_value:#F0D165;
$color_port_object:#DE8A3C;
$color_port_array:#7A8AE3;
$color_port_dynamic:#733E70;


// general UI elements --------------------------------------------------------

// Button with Text and (optional icon)
// normal
$button-text-color: #fff;
$button-background-color: $background-color-dark;
$button-border-color: $background-color-dark;
// hover
$button-text-color-hover: $highlight-color;
$button-background-color-hover: $background-color-dark;
$button-border-color-hover: $background-color-dark;

// Button with icon only (no text)
// normal
$icon-button-color: #fff;
$icon-button-background-color: $background-color-dark;
$icon-button-border-color: $icon-button-background-color;
// hover / active
$icon-button-color-hover: $highlight-color;
$icon-button-background-color-hover: $background-color-dark;
$icon-button-border-color-hover: $highlight-color;

// input[text]
// normal
$text-input-color: white;
$text-input-background-color: #444;
$text-input-border-color: $text-input-background-color;
// hover
$text-input-color-hover: $text-input-color;
$text-input-background-color-hover: #555;
$text-input-border-color-hover: $highlight-color;

// active / focus
$text-input-color-focus: white;
$text-input-background-color-focus: ;
$text-input-border-color-focus: $highlight-color;
