$highlight-color: #D95F48; // not so bright red
$mainColor: $highlight-color; // todo replace in code with $highlight-color
//$highlight-color: #FC8058; // pinkish red
//$highlight-color: #F77A52; // knalliges rot
//$highlight-color: #ffffff; // white
$background-color-dark: #222222;
$background-color-brighter: #262626;

// Button with Text and (optional icon)
// normal
$button-text-color: #fff;
$button-background-color: $background-color-dark;
$button-border-color: $background-color-dark;
// hover
$button-text-color-hover: $highlight-color;
$button-background-color-hover: $background-color-dark;
$button-border-color-hover: $background-color-dark;

// Button with icon only (no text)
// normal
$icon-button-color: #fff;
$icon-button-background-color: $background-color-dark;
$icon-button-border-color: $icon-button-background-color;
// hover / active
$icon-button-color-hover: $highlight-color;
$icon-button-background-color-hover: $background-color-dark;
$icon-button-border-color-hover: $highlight-color;
