// color pallet

$color-cz: #FFFFFF;
$color-c10: #EEEEEE;
$color-c9: #CCCCCC;
$color-c85: #BBBBBB;
$color-c8: #BBBBBB;
$color-c7: #AAAAAA;
$color-c6: #969696;
$color-c5: #888888;
$color-c4: #555555;
$color-c3: #444444;
$color-c2: #222222;
$color-c1: #1A1A1A;
$color-ca: #111111;

$color-special: #07F78C;
$color-error: #dc5751;
$color-warning: #ec9213;

// main colors ----------------------------------------------------------------

$text-color: $color-c1;
$color-text-link: $color-c2;

$color-background-input: $color-c8;
$color-background-input-focussed: $color-c7;
$color-background-input-selected: $color-c9;

$highlight-color: $color-ca; // TODO: Create $color-headline, remove
$highlight-color-dark: $color-c7; // TODO: Delete / replace!?

$mainColor: $color-ca; // TODO: replace in code with $highlight-color

$background-color-dark: $color-c10;
$background-color-brighter: $color-c9;

$color-menubar-background: $color-cz;
$color-menubar-background-active: $background-color-dark;
$color-menubar-background-hover: $color-menubar-background;
$color-menubar-text: $text-color;
$color-menubar-hover: $color-ca;

$color-rubberband: $color-special;

$color-panelhead: $color-cz;
$color-panelhead-hover: $color-c9;

$color-splitter: $color-cz;

$color-list-border: $color-c8;

// ui elements -----------------------------------------------------------------


$color-searchInputContainer: $color-c10;

// scrollbar
$color-scrollbar-thumb: #2a2a2a;
$color-scrollbar-background: transparent;

// command pallet
$color-cmd-pallet-hotkey: $color-c6;

// intro.js
$color-introjs-skipbutton: $color-c9;
$color-introjs-progressbar: $color-special;

// color picker
$color-color-picker-input-background: $color-c9;
$color-color-picker-input-label: $color-c3;
$color-color-picker-input-text: $color-c3;
$color-color-picker-separator: $color-c9;

// patch -----------------------------------------------------------------------

$color_op_bg: $color-c4;
$color_op_bg_active: $color-c6;
$color_op_text: $color-c9;
$color_op_text_active: $color-cz;

$color_op_handle_default: #fff;
$color_op_handle_gl:#fff;
$color_op_handle_audio:#fff;
$color_op_handle_devices:#fff;
$color_op_handle_html:#fff;
$color_op_handle_math: #fff;
$color_op_handle_user: #aaa;

$color_port_function: #877c00;
$color_port_value: #008966;
$color_port_object: #AB5A94;
$color_port_array: #8084D4;
$color_port_dynamic: #FFF6E5;
$color_port_string: #06d32c;

$color_link_function: $color_port_function;
$color_link_value: $color_port_value;
$color_link_object: $color_port_object;
$color_link_array: $color_port_array;
$color_link_dynamic: $color_port_dynamic;
$color_link_string: $color_port_string;

$button-text-color: $color-ca;
$button-background-color: $color-c8;
$button-text-color-hover: $color-cz;
$button-background-color-hover: $color-ca;

$button-border-color: $background-color-dark;
$button-border-color-hover: $background-color-dark;

// Button with icon only (no text)
// normal
$icon-button-color: $color-ca;
$icon-button-background-color: $background-color-dark;
$icon-button-border-color: $icon-button-background-color;
// hover / active
$icon-button-color-hover: $highlight-color;
$icon-button-background-color-hover: $background-color-dark;
$icon-button-border-color-hover: $highlight-color;

// input[text]
// normal
$text-input-color: $color-ca;
$color-input-placeholder: $color-c4;
$text-input-background-color: $color-c9;
$text-input-border-color: $text-input-background-color;
// hover
$text-input-color-hover: $text-input-color;
$text-input-background-color-hover: $color-c8;
$text-input-border-color-hover: $highlight-color;

// active / focus
$text-input-color-focus: $color-ca;
$text-input-background-color-focus: $color-c8;
$text-input-border-color-focus: $highlight-color;


 
.ace_content *
{
    color:#fff !important;
}

.ace_gutter-layer
{
    background-color:#fff;
    color:#000;
}