// color palette
:root
{
    --color-13: #FFFFFF; // 13
    --color-12: #EEEEEE; // 12
    --color-11: #CCCCCC; // 11
    --color-10: #BBBBBB; // 10
    --color-09: #AAAAAA; // 09
    --color-08: #969696; // 08
    --color-07: #888888; // 07
    --color-06: #555555; // 06
    --color-05: #444444; // 05
    --color-04: #333333; // 04
    --color-03: #222222;  // 03
    --color-02: #1A1A1A; // 02
    --color-01: #010101;  // 111111

    --text-color: var(--color-10);

    --color-special: #07F78C;
    --color-error: #dc5751;
    --color-warning: #ec9213;
    --color-hint: #bbb;

    --color-bg-error: #760a05;
    --color-bg-warning: #734401;
    --color-bg-hint: #555555;

    --linkline-default:1.5;
    --linkline-thin:1.0;

    --text-color-textOpselect: var(--color-10);
    --text-color-textOpselectSelected: var(--color-13);
    --patch-bg-color:#404040;

    --color-blueprint: #5dc0fdA5;

}


$iconbar-borderradius:5px;

// main colors ----------------------------------------------------------------

$color-text-link: var(--color-11);

$color-background-input: var(--color-05);
$color-background-input-focussed: var(--color-06);

$highlight-color: var(--color-13); // TODO: Create $color-headline, remove
$highlight-color-dark: var(--color-06); // TODO: Delete / replace!?

$mainColor: var(--color-13); // TODO: replace in code with $highlight-color

$background-color-dark: var(--color-02);
$background-color-brighter: var(--color-03);
$background-color-hover: var(--color-04);


$color-bar-hover: var(--color-04);
$color-bar-bg: var(--color-03);


$color-menubar-background: $color-bar-bg;
$color-menubar-background-active: $background-color-dark;
$color-menubar-background-hover: $color-menubar-background;
$color-menubar-text: var(--text-color);
$color-menubar-hover: var(--color-13);




$color-rubberband: var(--color-special);


// ui elements -----------------------------------------------------------------

$color-searchInputContainer: var(--color-02);




// patch -----------------------------------------------------------------------

:root
{
    --color_op_bg: var(--color-04);
    --color_op_bg_active: var(--color-05);
    --color_op_text: var(--color-12);
    --color_op_text_active: var(--color-13);

    --color_op_handle_default: #5dc0fd;
    --color_op_handle_gl: #c0e04d;
    --color_op_handle_audio: #db88ff;
    --color_op_handle_devices: #f59259;
    --color_op_handle_html: #61bbf1;
    --color_op_handle_math: #44d4c8;
    --color_op_handle_user: #cccccc;

    --color_port_function: #F0D165;
    --color_port_trigger: var(--color_port_function);
    --color_port_value: #5CB59E;
    --color_port_number: var(--color_port_value);
    --color_port_object: #AB5A94;
    --color_port_array: #8084D4;
    --color_port_dynamic: #FFF6E5;
    --color_port_string: #d57272;

    --color-bg-error: #aa0000;
    --color-bg-warning: #995100;
    --color-bg-hint: #555555;

    --color_link_function: var(--color_port_function);
    --color_link_value: var(--color_port_value);
    --color_link_object: var(--color_port_object);
    --color_link_array: var(--color_port_array);
    --color_link_dynamic: var(--color_port_dynamic);
    --color_link_string: var(--color_port_string);
    --color-splitter:var(--color-01);

    --color-button-text:var(--color_op_text);
    --color-button-bg:var(--color_op_bg_active);
    --color-button-bg-active: var(--color-07);

    --color-button-bg-hover: var(--color-06);

}


$button-border-color: $background-color-dark;
$button-border-color-hover: $background-color-dark;

// Button with icon only (no text)
// normal
$icon-button-color: var(--color-13);
$icon-button-background-color: var(--color-button-bg);
$icon-button-border-color: $icon-button-background-color;
// hover / active
$icon-button-color-hover: $highlight-color;
$icon-button-background-color-hover: $background-color-dark;
$icon-button-border-color-hover: $highlight-color;

// input[text]
// normal
$text-input-color: var(--color-13);
$color-input-placeholder: var(--color-09);
$text-input-background-color: var(--color-03);
$text-input-border-color: $text-input-background-color;
// hover
$text-input-color-hover: $text-input-color;
$text-input-background-color-hover: var(--color-05);
$text-input-border-color-hover: $highlight-color;

body.bright
{
    --color-13: #111111;
    --color-12: #1A1A1A;
    --color-11: #222222;
    --color-10: #333333;
    --color-09: #444444;
    --color-08: #555555;
    --color-07: #888888;
    --color-06: #888888;
    --color-05: #BBBBBB;
    --color-04: #BBBBBB;
    --color-03: #CCCCCC;
    --color-02: #EEEEEE;
    --color-01: #FFFFFF;

    --text-color: var(--color-13);
    --color_op_bg: var(--color-13);
    --color_op_bg_active: var(--color-06);
    --color_op_text: var(--color-01);
    --color_op_text_active: var(--color-01);
    --color_port_function:#8a7f00;
    --color_link_function: #8a7f00;
    --color-splitter:var(--color-13);

    --text-color-textOpselect: var(--color-12);
    --text-color-textOpselectSelected: var(--color-01);

    --linkline-default:3;
    --linkline-thin:2;
}

