$text-font: "SourceSansPro";
$headline-font: "SourceSansPro";

$font-size-default: 13px;
$line-height-text: 18px;

$font-weight-headline: 400;

$text-input-font-size: 12px;

$timeline-font-size: 14px;

$panelhead-font-size: 22px;
$panelhead-font-weight: 400;


@font-face {
  font-family: 'SourceCodePro';
  src: url('/ui/fonts/SourceCodePro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('/ui/fonts/SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: url('/ui/fonts/SourceSansPro-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
