.cablesCssUi
{

    .button-icon .icon
    {
        vertical-align: bottom;
        margin-right: 0px !important;
    }

    .button-small.button-icon
    {
        padding-top:1px !important;
    }


    .button-small,.button
    {
        .icon
        {
            vertical-align: middle;
            margin-right:5px;
        }
    }

    .iconbutton
    {
        padding:3px;
        background-color: var(--color-button-bg);
        border-radius: 8px;
        padding-left:8px;
        padding-right:7px;
        padding-top:8px;
        margin-right:4px;
        cursor:pointer;

        &:hover
        {
            background-color: var( --color-button-bg-hover);
            .icon
            {
                background-color: var(--color-special) !important;
            }
        }

        &:active {
            background-color: var(--color-button-bg-active) !important;
        }

        .icon
        {
            pointer-events: none;
        }

    }

    .icon
    {
        display: inline-block;
        width: calc(16px + var(--font-size-off));
        height: calc(16px + var(--font-size-off));
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;

        mask-size: 100%;
        -webkit-mask-size: 100%;

        background-color: var(--color-13);
    }

    .icon-empty
    {
        background-color: transparent;
    }

    .icon-active
    {
        background-color:var(--color-special);
    }

    .iconhover
    {
        cursor:pointer;
        &:hover
        {
            background-color:var(--color-special) !important;
        }
    }

    .iconToggleActive
    {
        background-color:var(--color-special) !important;
    }

    .icon-2x
    {
        width: calc(32px + 2.0 * var(--font-size-off));
        height: calc(32px + 2.0 * var(--font-size-off));
    }

    .icon-4x
    {
        width: calc(64px + 4.0 * var(--font-size-off));
        height: calc(64px + 4.0 * var(--font-size-off));
    }

    .icon-1_5x
    {
        width: calc(24px + 1.5 * var(--font-size-off));
        height: calc(24px + 1.5 * var(--font-size-off));
    }

    .icon-0_75x
    {
        width: calc(12px + 0.75 * var(--font-size-off));
        height: calc(12px + 0.75 * var(--font-size-off));
    }

    .button-small .icon
    {
        width: calc(15px + 0.75 * var(--font-size-off)) !important;
        height: calc(15px + 0.75 * var(--font-size-off)) !important;
    }

    @keyframes rotating {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }
    .icon-loader
    {
        animation: rotating 2s linear infinite;
        vertical-align: sub;
    }

    .icon-empty
    {
        background-color: transparent !important;
    }


}
