




.icon
{
	display: inline-block;
	background-size: 100%;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.icon-2x
{
	width: 32px;
	height: 32px;
}

.icon-1_5x
{
	width: 24px;
	height: 24px;
}
