

.icon
{
	display: inline-block;
	width: 16px;
	height: 16px;

	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;

	mask-size: 100%;
	-webkit-mask-size: 100%;

    background-color: var(--color-13);
}

.iconhover
{
	cursor:pointer;
	&:hover
	{
		background-color:var(--color-special);
	}
}

.icon-active
{
    background-color:var(--color-special);
}

.icon-2x
{
	width: 32px;
	height: 32px;
}

.icon-1_5x
{
	width: 24px;
	height: 24px;
}
