

.button-small,.button
{
    .icon
    {
        vertical-align: bottom;
        margin-right:10px;
    }
}
.iconbutton
{
	padding:3px;
	background-color: var(--color-button-bg);
	border-radius: 8px;
	padding-left:8px;
	padding-right:7px;
	padding-top:8px;
	margin-right:4px;
	cursor:pointer;


	&:hover
	{
		background-color: var( --color-button-bg-hover);
		.icon
		{
			background-color: var(--color-special) !important;
		}
	}

    &:active {
        background-color: var(--color-button-bg-active) !important;
    }

}

.icon
{
	display: inline-block;
	width: 16px;
	height: 16px;

	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;

	mask-size: 100%;
	-webkit-mask-size: 100%;

    background-color: var(--color-13);
}

.icon-empty
{
    background-color: transparent;
}

.icon-active
{
    background-color:var(--color-special);
}

.iconhover
{
	cursor:pointer;
	&:hover
	{
		background-color:var(--color-special) !important;
	}
}

.iconToggleActive
{
	background-color:var(--color-special) !important;
}

.icon-2x
{
	width: 32px;
	height: 32px;
}

.icon-4x
{
	width: 64px;
	height: 64px;
}

.icon-1_5x
{
	width: 24px;
	height: 24px;
}

.icon-1_25x
{
	width: 20px;
	height: 20px;
}


