
.opsearch
{
    width:1024px;
    height:620px;
    overflow: hidden;

    header
    {
        width:480px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: $background-color-dark;
        padding:15px;

        input
        {
            font-size: 20px;
            padding:10px;
            border:none;
            width:100%;
            outline: none;
            background-color: $color-background-input;
            border-radius: 4px;
        }
    }

	#opselect-layout
	{
		min-width: 200px;
		min-height: 40px;
	}


    .opOptions
    {
        background-color: $background-color-brighter;
        padding:0px;
        padding-left: 15px;
        text-align: center;
    }

    .searchbrowserContainer
    {
        width:510px;
        height:100%;
        background-color: $background-color-brighter;
    }

    .shortname
    {
        // color:white;
        font-weight: bold;

        i
        {
            text-decoration: underline;
            font-style: normal;
            color:white;
        }

    }

    .searchresult //,.searchresult_cmd
    {
        font-size: 16px;
        padding:15px;
        padding-top:10px;
        padding-bottom:10px;
		border-bottom: 1px solid $color-c8;
		background-color: $background-color-brighter;

    }

    .searchbrowser
    {
        height:520px;
        overflow:auto;
    }

    .searchinfo
    {
        margin-top: 70px;
        background-color: $background-color-dark;
		border-bottom:10px solid $background-color-dark;
		border-top:10px solid $background-color-dark;
        margin-left: 510px;
        position: absolute;
        width:480px;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        height:440px;

        /* enable text selection on all elements except svg */
        * {
          -webkit-user-select: text;
          -khtml-user-select: text;
          -moz-user-select: text;
          -o-user-select: text;
          user-select: text;
        }

        h1
        {
            margin-top: 0px;
			position: absolute;
			margin-top:-33px;
			font-size: 19px;
			margin-left: 10px;
        }

        p
        {
          line-height: 21px;
        }

        #opselect-layout
        {
            min-height: 40px;
        }
    }
    .score
    {
        color:$text-color;
    }

	.insertbutton
	{
		display:inline-block !important;
		background-size: 50%;
		padding: 10px;
		background-position: center;
		border-radius: 20px;
	}

    .selected
    {
		background-color: $color_op_bg_active;
        a
        {
            color:white;
        }

        .insertbutton
        {
            // background-color:rgba(40,40,40,0.5);
            color: $color-c2 !important;
			background-color: $color_op_bg;

            &:hover
            {
                color:$color-special;
            }
        }

        .summary
        {
            color: $color-ca;
            i
            {
                text-decoration: underline;
                font-style: normal;
                color: $color-c9;
            }
        }

		.op_color_default
		{
			color: $color-ca;
		}

        .namespace
        {

            i
            {
                text-decoration: underline;
                font-style: normal;
            }

            &:hover
            {
                font-weight: bold;
                color:white;
                i
                {
                    text-decoration: underline;
                    font-style: bold;
                    color:white;
                }

            }
        }
    }

    .namespace
    {
        font-size: 11px;
        font-style: normal;
        &:hover
        {
            font-weight: bold;
            color:$highlight-color-dark;
        }
        i
        {
            text-decoration: underline;
            font-style: normal;
            // color:$text-color;
        }
    }

    .summary
    {
        color: $color-ca;
        font-size: 13px;
        font-style: normal;
        margin-top: 5px;
        i
        {
            text-decoration: underline;
            font-style: normal;
        }
    }

}
