
.opsearch
{
    width:800px;
    height:480px;
    overflow: hidden;

    input
    {
        font-size: 20px;
        padding:10px;
        width: 46%;
        border:none;
        outline: none;
        background-color: $color-background-input;
    }

    .searchbrowser
    {
        float:left;
        width:48%;
    }

    .shortname
    {
        // color:white;

        i
        {
            text-decoration: underline;
            font-style: normal;
            color:white;
        }

    }

    .searchresult //,.searchresult_cmd
    {
        // background-color: #333;
		// background-color: $background-color-dark;
        font-size: 16px;
        padding:5px;
		border-bottom: 1px solid #444;
		background-color: $background-color-brighter;

    }

    .searchbrowser
    {
        height:377px;
        overflow:auto;
    }

    .searchinfo
    {

        float:left;
        width:49%;
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        height:420px;

        /* enable text selection on all elements except svg */
        * {
          -webkit-user-select: text;
          -khtml-user-select: text;
          -moz-user-select: text;
          -o-user-select: text;
          user-select: text;
        }

        h1
        {
            margin-top: 0px;
        }

        p
        {
          line-height: 21px;
        }
    }
    .score
    {
        color:$text-color;
    }

	.insertbutton
	{
		display:inline-block !important;
		background-size: 50%;
		padding: 10px;
		background-position: center;
		border-radius: 20px;

	}

    .selected
    {
        // border:1px solid $highlight-color-dark;
		background-color: $color_op_bg_active;
        a
        {
            color:white;
        }

        .insertbutton
        {
            // background-color:rgba(40,40,40,0.5);
            color:#ddd !important;
			background-color: $color_op_bg;

            &:hover
            {
                color:$highlight-color;
            }
        }

        .summary
        {
            color:#fff;
            i
            {
                text-decoration: underline;
                font-style: normal;
                color:#222;
            }
        }

        // .score
        // {
        //     color:#222;
        // }

		.op_color_default
		{
			color:#fff;
		}

        .namespace
        {
            // color:#222;

            i
            {
                text-decoration: underline;
                font-style: normal;
                // color:#222;
            }

            &:hover
            {
                font-weight: bold;
                color:white;
                i
                {
                    text-decoration: underline;
                    font-style: bold;
                    color:white;
                }

            }
        }
    }

    .namespace
    {
        font-size: 11px;
        font-style: normal;
        &:hover
        {
            font-weight: bold;
            color:$highlight-color-dark;
        }
        i
        {
            text-decoration: underline;
            font-style: normal;
            // color:$text-color;
        }
    }

    .summary
    {
        font-size: 12px;
        font-style: normal;
        margin-top: 5px;
        i
        {
            text-decoration: underline;
            font-style: normal;
            // color:$text-color;
        }
    }

}
