
#minimapContainer
{
    border:1px solid red;
    border:2px solid #111;
    position: absolute;
    display: none;

    .title
    {
        cursor:pointer;
        background-color: rgba(15, 15, 15, 0.9);
    }
}

#minimap
{

    &:focus
    {
        outline: none;
    }

    svg
    {
        background-color: rgba(15, 15, 15, 0.9);
        cursor: pointer;
    }

    rect
    {
        vector-effect:non-scaling-stroke;
        pointer-events: none;
    }

    .op_minirect_default { fill:$color_op_handle_default;}
    .op_minirect_gl { fill:$color_op_handle_gl; }
    .op_minirect_audio { fill:$color_op_handle_audio; }
    .op_minirect_devices { fill:$color_op_handle_devices; }
    .op_minirect_html { fill:$color_op_handle_html; }
}


#patch
{
    outline:none;
    position:absolute;
    border:1px solid transparent;

    &:focus
    {
        border:1px solid $highlight-color;
    }


    svg
    {

        // shape-rendering:crispEdges;
        shape-rendering:optimizeSpeed;
        position:absolute;
        text
        {
            text-transform: capitalize;
            font-size: 13px;
            fill:$color_op_text;
            font-family: "futura-pt";
        }
    }

    .op_background
    {
        fill: $color_op_bg;
        stroke-width:0;
        cursor: move;

        &.active
        {
            fill:$color_op_bg_active;
        }
    }


    .op_handle
    {
        stroke-width:0;
        cursor: "ew-resize";
    }

    .op_subpatch
    {
        stroke:$color_op_handle_default !important;
        stroke-width:2;
    }

    .op_handle_default { fill:$color_op_handle_default;}
    .op_handle_gl { fill:$color_op_handle_gl; }
    .op_handle_audio { fill:$color_op_handle_audio; }
    .op_handle_devices { fill:$color_op_handle_devices; }
    .op_handle_html { fill:$color_op_handle_html; }

    .port
    {
        stroke-width: 0;
        fill-opacity:1;
        width:10px;
        height:6px;

        &.connected
        {
            height:9px;
        }


        &.active
        {
            stroke-width:1;
            fill-opacity:1;
            stroke:#fff !important;
            // stroke-opacity:0.5;
        }
    }

    .port_color_function { fill:$color_port_function; stroke:$color_port_function; }
    .port_color_value { fill:$color_port_value; stroke:$color_port_value; }
    .port_color_object { fill:$color_port_object; stroke:$color_port_object; }
    .port_color_array { fill:$color_port_array; stroke:$color_port_array; }
    .port_color_dynamic { fill:$color_port_dynamic; stroke:$color_port_dynamic;}
    .port_color_unknown { fill:#0f0; }

    .addCircle
    {
        fill:#222;
        stroke-width:2;
        stroke-opacity:1;

        &.active
        {
            stroke-width:4;
        }
    }

    .link_color_function { stroke:$color_link_function; }
    .link_color_value { stroke:$color_link_value; }
    .link_color_object { stroke:$color_link_object; }
    .link_color_array { stroke:$color_link_array; }
    .link_color_dynamic { stroke:$color_link_dynamic; }
    .link_color_unknown,.link_color_error { stroke:#fff; }

}
