$text-font: "futura-pt";
$headline-font: "futura-pt";

$font-size-default: 16px;
$line-height-text: 18px;

$font-weight-headline: 400;

$text-input-font-size: 12px;

$timeline-font-size: 12px;

$panelhead-font-size: 22px;
$panelhead-font-weight: 400;
