.DS_Store
node_modules
dist/js/*.js
dist/buildInfo.json
dist/js/buildInfo.json
dist/buildinfo.json
dist/js/buildinfo.json
dist/js/libs/*.js
dist/js/*.map
dist/lazyload
*.min.js
*.min.js.map
*.js.map
*.max.js
dist/css
dist/index.html
scss/svgicons.scss
dist-electron
dist/js/stats.json
report_*.html
