


<script id="bookmarks" type="text/x-handlebars-template">

        <h3>Bookmarks</h3>

        <a onclick="gui.bookmarks.add()" class="button fa fa-bookmark-o">add</a>

        <br/><br/>

        {{#each bookmarks}}
            - <a onclick="gui.bookmarks.goto('{{id}}');" class="op_color_{{class}}">{{name}} </a>
            <a class=" fa fa-trash-o" onclick="gui.bookmarks.remove('{{id}}');"></a>
            <br/>
        {{/each}}

        <h3>Subpatches</h3>

        {{#each subPatches}}
            - <a onclick="gui.patch().setCurrentSubPatch('{{id}}');">{{name}}</a>
            <br/>
        {{/each}}


</script>
