<script id="bookmarks" type="text/x-handlebars-template">

    {{#if bookmarks}}
        <div class="panel" id="bookmarkpanel">
            <h3>Bookmarks</h3>

            {{#each bookmarks}}
                <div class="list">
                    <div onclick="gui.bookmarks.goto('{{id}}');" >
                        <h3 class="op_color_{{class}}">{{name}}</h3>
                        {{objName}}
                        <a class="icon icon-x fright tt" data-tt="remove bookmark" onclick="gui.bookmarks.remove('{{id}}');"></a>
                    </div>
                </div>
            {{/each}}
            <br/>
        </div>
    {{/if}}

    {{#if subPatches}}
        <div class="panel subpatchlist" id="subpatchlist">
            <h3>Subpatches</h3>

            <div class="list">
                <table style="cell-spacing:0;">
                    <tr>
                        <td class="nopadding">
                            <div class="{{#compare currentSubPatch '==' 0 }}lastClicked{{/compare}}" onclick="gui.patchView.setCurrentSubPatch(0);CABLES.CMD.UI.centerPatchOps();gui.patchView.showBookmarkParamsPanel()">
                                <h3 class="op_color_default">Main</h3>
                            </div>
                        </td>
                    </tr>

                    {{#each subPatches}}
                        <tr>
                            {{#if id}}
                                <td class="nopadding">
                                    <div data-info="{{id}}" class="info {{type}}{{#compare ../currentSubPatch '==' id }} lastClicked{{/compare}}" onclick="gui.patchView.setCurrentSubPatch('{{id}}');CABLES.CMD.UI.centerPatchOps();gui.patchView.showBookmarkParamsPanel()">
                                        <span class="op_color_default" style="pointer-events:none;">{{{indent}}}{{name}}</span>
                                    </div>
                                </td>
                                <td class="nopadding">
                                    <a onclick="gui.opParams.subPatchContextMenu(this)" data-id="{{id}}" class="icon icon-three-dots iconhover"></a>
                                </td>
                            {{else}}
                                <td class="nopadding">
                                    <div class="info {{type}}" onclick="gui.patchView.focusOp('{{opId}}');gui.patchView.centerSelectOp('{{opId}}');gui.patchView.showBookmarkParamsPanel();" >
                                        <span class="op_color_default" style="pointer-events:none;">{{{indent}}}{{name}}</span>
                                    </div>
                                </td>
                                <td class="nopadding"></td>
                            {{/if}}
                        </tr>
                    {{/each}}
                </table>
            </div>

        </div>
    {{/if}}

    <br/><br/><br/><br/>

</script>
