<script id="changelog" type="text/x-handlebars-template">
    <div class="changelog">

        <div style="margin-left:20px;">
            <br/>
            <div class="icon icon-cables icon-2x" style="width:32px;height:45px;float:left;margin-right:20px;" />
            <h2 style="text-transform:lowercase;">Cables Changelog</h2>
            <br/>
        </div>

        <div class="log">
            {{#each items}}
                {{#if html}}
                    <div class="item selectable">
                        {{{html}}}
                        <div class="time">{{dateReadable}}</div>
                        <div class="clear"></div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</script>
