
<script id="cmdPalette" type="text/x-handlebars-template">


    <!-- <div id="cmdpalette" class="hidden cmdpalette"> -->
    <div class="input-container">
        <input
            class="medium info"
            id="cmdinput{{id}}"
            autocomplete="off"
            placeholder="search"
            style="width:85%;float:left;"/>

        <div style="width:10%;float:left">
            <a class="icon-x icon icon-2x" id="cmdClose{{id}}"></a>
        </div>

        <div class="clear"></div>
    </div>
    <div id="searchresult_cmd"></div>
    <!-- </div> -->


</script>
