
<script id="CurveEditor" type="text/x-handlebars-template">
    <div style="padding:20px;padding-top:0px;">

        <h3>{{name}} Editor</h3>

        <div id="gradientColorInput"></div>
        <a class="iconbutton" style="position:absolute;left:550px;top:117px;" id="gradientColorDelete"><span class="icon icon-x"></span></a>

        <canvas id="curveEditorCanvas" width="512" height="100" ></canvas>

        <div id="gradienteditorbar" ></div>

        <br/>

        <div id="gradienteditorKeys"></div>

        <br/><br/>
        <a id="gradientSaveButton" class="bluebutton">Save</a>
        <a id="gradientCancelButton"class="cblbutton">Cancel</a>



        <a class="iconbutton tt" data-tt="reverse" style="" id="gradientReverse"><span class="icon icon-arrow-down-up"></span></a>

    </div>

</script>
