<script id="dialog_opname" type="text/x-handlebars-template">

    {{#if showTeamHint}}Want to share your op between patches and/or people? <a href="{{cablesUrl}}/myteams" target="_blank">create a team</a><br/><br/>{{/if}}

    New op name:<br/><br/>
    <div class="clone">
        <input type="text" id="opNameDialogInput" value="{{sourceOpName}}" placeholder="{{defaultOpName}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>&nbsp;
        <!-- forms -->
        <select class="left" id="opNameDialogNamespace"></select><br/>
    </div>
    {{#if opDirs}}
        <br/>
        <div class="opDirSelect">
            <select id="opTargetDir" name="opTargetDir" style="border-radius: 2px;">
                {{#each opDirs}}
                    <option value="{{dir}}">{{dir}}</option>
                {{/each}}
            </select>
            &nbsp;<a id="addOpTargetDir" class="button-small button-icon tt info clickable" data-info="add op dir" data-tt="add op dir"><span class="icon icon-file-plus"></span></a>
            &nbsp;<a id="openOpTargetDir" class="button-small button-icon tt info clickable" data-info="open dir" data-tt="open dir"><span class="icon icon-folder"></span></a>
        </div>
    {{/if}}
    <br/>
    <!-- hints -->
    <div id="opcreateerrors" class="hidden issues"></div>
    <div id="opNameDialogHints" class="hidden hints"></div>
    <div id="opNameDialogConsequences" class="hidden consequences"></div>
    <br/><br/>
    <!-- buttons -->
    {{#if rename}}
        <a tabindex="0" id="opNameDialogSubmit" class="bluebutton hidden">Rename Op</a>
    {{else}}
        <a tabindex="0" id="opNameDialogSubmit" class="bluebutton hidden">Create Op</a>
    {{/if}}
    <a tabindex="0" id="opNameDialogSubmitReplace" class="cblbutton hidden">Create and replace existing</a>
    <br/><br/>
</script>
