

<script id="editor_bar" type="text/x-handlebars-template">


<div class="tabs">
    {{#each contents}}
    <div id="editortab{{id}}" class="tab" onclick="gui.editor().setTab('{{id}}')">{{title}}</div>
    {{/each}}
    <div style="clear:both;"></div>
</div>

<div class="iconbar">
    <a class="button" onclick="gui.editor().save()">save</a>

    
<span class="editortoolbar"></span>

<span id="editorstatus"></span>

    <div style="margin-right:10px;" class="graphbutton fa fa-times fright" onclick="gui.editor().closeCurrentTab()"></div>
</div>




</script>
