
<script id="editor_bar" type="text/x-handlebars-template">

    <div class="tabs">
        {{#each contents}}
        <div id="editortab{{id}}" class="tab" onclick="gui.editor().setTab('{{id}}')">{{title}}</div>
        {{/each}}
        <div class="fright">
            <div class="tt icon icon-chevron-left iconhover" style="margin:7px;margin-right:12px;" onclick="CABLES.CMD.UI.toggleEditor()" data-tt="minimize editor"></div>
            <div class="tt icon icon-triple-dot iconhover" style="margin:7px;margin-right:12px;" onclick="gui.editor().contextMenu(this)" data-tt="more options"></div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="iconbar">
        <a class="button editorsavebutton" onclick="gui.editor().save()">save</a>
        <span class="editortoolbar"></span>
        <span id="editorstatus"></span>
        <div style="margin-right:10px;" class="icon-x icon icon-1_5x fright iconhover" onclick="gui.editor().closeCurrentTab()"></div>
    </div>

</script>
