
<script id="error_ops" type="text/x-handlebars-template">

    {{#if errorOps}}
        <div class="panel">
            <h3>Ops with errors</h3>

            {{#each errorOps}}
                <div class="list">
                    <div onclick="gui.bookmarks.goto('{{id}}');" >
                        <h3 class="op_color_{{class}}">{{name}}</h3>
                        {{objName}}
                        {{#if isDeprecated}}deprecated{{/if}}
                    </div>
                </div>
            {{/each}}
            <br/>
        </div>
    {{/if}}


    {{#if warnOps}}
    <div class="panel">
        <h3>Ops with warnings</h3>
        {{#each warnOps}}
            <div class="list">
                <div onclick="gui.bookmarks.goto('{{id}}');" >
                    <h3 class="op_color_{{class}}">{{name}}</h3>
                    {{objName}}
                    {{#if isDeprecated}}deprecated{{/if}}
                </div>
            </div>
        {{/each}}
        <br/>
    </div>
{{/if}}


</script>
