

<script id="GradientEditor" type="text/x-handlebars-template">
    <div style="padding:20px;padding-top:0px;">

        <style>
                .gradienteditorbar rect
                {
                    cursor:pointer;
                }
        </style>


        <h3>Gradient</h3>


        <canvas id="gradientEditorCanvas" width="500" height="50"></canvas>

        <div id="gradienteditorbar" style="width:500px;background-color:grey;height:25px;overflow:hidden;">
        </div>

        <!-- <div id="gradientPickerDiv" style="width:500px;height:500px;background-color:#aaa;"></div> -->
        <div id="gradientColorInput" style="width:50px;height:50px;margin-top:20px;border-radius:5px;    border: 1px solid #AAAAAA"/>
        <br/><br/>
        <a id="gradientSaveButton" class="bluebutton">save</a>
        <a id="gradientCancelButton"class="button">cancel</a>


    </div>

</script>
