
<script id="GradientEditor" type="text/x-handlebars-template">
    <div style="padding:20px;padding-top:0px;">

        <h3>{{name}} Editor</h3>

        <div id="gradientColorInput"></div>
        <a class="iconbutton" style="position:absolute;left:550px;top:117px;" id="gradientColorDelete"><span class="icon icon-x"></span></a>

        <canvas id="gradientEditorCanvas" width="512" height="1" ></canvas>
        <canvas id="gradientEditorCanvasCurve" width="512" height="100" ></canvas>

        <div id="gradienteditorbar" ></div>

        <br/>

        <div id="gradienteditorKeys"></div>

        <br/><br/>
        <a id="gradientSaveButton" class="bluebutton">Save</a>
        <a id="gradientCancelButton"class="button">Cancel</a>

    </div>

</script>
