

<script id="help1" type="text/x-handlebars-template">

<div class="help">
    <h2>help</h2>

    <h3>keyboard shortcuts</h3>

    <h4>global</h4>


<table>
    <tr>
        <td class="monospace">
            escape
        </td>
        <td>
            - add operator / show op select dialog<br/>
            - close op select / close modal dialogs
        </td>
    </tr>


    <tr>
        <td class="monospace">
            cmd/ctrl+n
        </td>
        <td>
            - new patch
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+s
        </td>
        <td>
            - save patch
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+escape<br/>
            cmd/ctrl+o
        </td>
        <td>
            - open list of my patches
        </td>
    </tr>

</table>

    <h4>patch</h4>


<table>
    <tr>
        <td class="monospace">
            DEL
        </td>
        <td>
            - delete selected ops<br/>

        </td>
    </tr>

    <tr>
        <td class="monospace">
            a
        </td>
        <td>
            - align selected ops horizontally<br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            d
        </td>
        <td>
            - disable op<br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+a
        </td>
        <td>
            - select all ops<br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+z
        </td>
        <td>
            - undo<br/>
        </td>
    </tr>

</table>


    <h4>timeline</h4>


<table>
    <tr>
        <td class="monospace">
            h
        </td>
        <td>
            - scale timeline to show all keys <br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            j/k
        </td>
        <td>
            - jump to previous/next key <br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            left/right
        </td>
        <td>
            - move scrubber 1 frame left/right<br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+a
        </td>
        <td>
            - select all keys<br/>
        </td>
    </tr>

    <tr>
        <td class="monospace">
            cmd/ctrl+z
        </td>
        <td>
            - undo<br/>
        </td>
    </tr>
</table>


</div>

</script>
