

<script id="AnimRenderer" type="text/x-handlebars-template">
<div style="padding:20px;padding-top:0px;">
    <h3>Export Animation</h3>

    <div id="progresscontainer">
        <div class="progress"></div>
    </div>


    <div id="animRendererSettings">
        <table>
            <tr>
                <td>Time Start (seconds):</td>
                <td><input type="text" id="render_start" value="0" oninput="CABLES.animRenderer.update()"/></td>
            </tr>
            <tr>
                <td>Time End (seconds):</td>
                <td><input type="text" id="render_end" value="1" oninput="CABLES.animRenderer.update()"/></td>
            </tr>
            <tr>
                <td>FPS:</td>
                <td><input type="text" id="render_fps" value="30" oninput="CABLES.animRenderer.update()"/></td>
            </tr>

            <tr>
                <td>Resolution:</td>
                <td><input type="text" id="render_width" value="640" style="width:60px;" oninput="CABLES.animRenderer.update()"/> x <input type="text" id="render_height" value="360" style="width:60px;" oninput="CABLES.animRenderer.update()"/></td>
            </tr>
            <tr>
                <td>Remove<br/>Alpha Channel:</td>
                <td><input type="checkbox" id="render_removeAlpha" checked/></td>
            </tr>
            <tr>
                <td>Filename:</td>
                <td>
                    <input type="text" id="render_filename" value="cables"  oninput="CABLES.animRenderer.update()"/>
                    <input type="checkbox" id="render_leftpad" checked  oninput="CABLES.animRenderer.update()"/>leftpad
                </td>
            </tr>
            <tr>
                <td>format:</td>
                <td>
                    <select id="render_format">
                        <option value="webm">webm</option>
                        <option value="png">png</option>
                    </select>
                </td>
            </tr>

        </table>
        <br/>


        <!-- <a onclick="gui.saveScreenshotRenderer();" data-info="{{ texts.download_screenshot }}" class="button fa fa-image download_screenshot">Download screenshot</a> -->

        <a onclick="CABLES.animRenderer.start();" data-info="{{ texts.download_screenshot }}" class="button fa fa-video-camera download_screenshot">Download Animation</a>

    </div>
    <br/>


    </div>

    <div class="modalScrollContent">


    </div>


</script>
