

<script id="library_head" type="text/x-handlebars-template">

    <div class="tabs">
        <div onclick="CABLES.UI.fileSelect.setTab('projectfiles');" id="tab_projectfiles" class="tab">project files</div>
        <div onclick="CABLES.UI.fileSelect.setTab('library');" id="tab_library" class="tab">library</div>


        <div style="float:right">

            
            <div class="tab" onclick="CABLES.UI.fileSelect.show();">
                {{#if filter  }}
                    {{filter}} &nbsp;<i class="fa fa-times" aria-hidden="true"></i>
                {{/if}}
            </div>

            <div onclick="CABLES.UI.fileSelect.setView('list');" class="tab tab_library">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
            <div onclick="CABLES.UI.fileSelect.setView('icon');" class="tab tab_library">
                <i class="fa fa-th" aria-hidden="true"></i>
            </div>

            <div onclick="CABLES.UI.fileSelect.hide();" class="tab">
                    <i class="fa fa-times" aria-hidden="true"></i>
            </div>

        
            
    </div>


</script>



<script id="library_file_list" type="text/x-handlebars-template">
    <div class="library-file-list lvl{{file.l}}" onclick="CABLES.UI.fileSelect.setFile('{{inputId}}','{{file.p}}');">

        {{#compare file.t '==' 'image' }}<i class="fa fa-1x fa-file-image-o" ></i>{{/compare}}
        {{#compare file.t '==' 'video' }}<i class="fa fa-1x fa-file-video-o" >dscscdcd</i>{{/compare}}
        {{#compare file.t '==' 'audio' }}<i class="fa fa-1x fa-file-audio-o" ></i>{{/compare}}
        {{#compare file.t '==' 'dir' }}<i class="fa fa-1x fa-folder-open-o" ></i>{{/compare}}
        {{#compare file.t '==' 'unknown' }}<i class="fa fa-1x fa-file-o" ></i>{{/compare}}
        {{#compare file.t '==' 'mesh' }}<i class="fa fa-1x fa-cube" ></i>{{/compare}}
        {{#compare file.t '==' 'json' }}<i class="fa fa-1x fa-file-code-o" ></i>{{/compare}}

        {{file.n}} - {{file.t}}
    </div>
</script>

<script type="text/x-handlebars-template" id="library_uploadfile">

    <div class="iconcontainer iconcontainer_image" onclick="CABLES.uploadSelectFile();" style="opacity:0.5;" >
        <div class="library-file-icon uploadfile">
            <br/><br/>
            <span class="fa fa-3x fa-upload" aria-hidden="true"></span>

        </div>
        <div class="filename">Upload File
        </div>
    </div>


</script>



<script id="library_file_icon" type="text/x-handlebars-template">

    <div class="library-file-icon">

        {{#compare file.t '==' 'dir' }}
        <div style="clear:both;"></div>
        {{/compare}}

        <div class="iconcontainer iconcontainer_{{file.t}}" onclick="CABLES.UI.fileSelect.setFile('{{inputId}}','{{file.p}}','{{file._id}}');"   draggable="true" ondragstart="CABLES.DragNDrop.startDragLibraryFile(event,'{{file.p}}');">

            {{#compare file.t '==' 'audio' }}<i class="fa fa-4x fa-file-audio-o" ></i>{{/compare}}
            {{#compare file.t '==' 'dir' }}<i class="fa fa-4x fa-folder-open-o"></i>{{/compare}}
            {{#compare file.t '==' 'unknown' }}<i class="fa fa-4x fa-file-o" ></i>{{/compare}}
            {{#compare file.t '==' 'mesh' }}<i class="fa fa-4x fa-cube" ></i>{{/compare}}
            {{#compare file.t '==' 'video' }}<i class="fa fa-4x fa-file-video-o" ></i>{{/compare}}
            {{#compare file.t '==' 'json' }}<i class="fa fa-4x fa-file-code-o" ></i>{{/compare}}

            {{#compare file.t '==' 'image' }}
                <div class="library-file-icon" style="background-image:url('{{file.p}}');">
                </div>
            {{/compare}}
            <div class="filename">

                {{#compare file.t '==' 'dir' }}<h2>{{/compare}}

                {{file.n}}

                {{#compare file.t '==' 'dir' }}</h2>{{/compare}}
            </div>


        </div>
        {{#compare file.t '==' 'dir' }}
        <div style="clear:both;"></div>
        {{/compare}}

    </div>


</script>



<script id="library_preview" type="text/x-handlebars-template">

    <div class="previewImage" style="background-image:url('{{previewImageUrl}}');"></div>
    <div class="info"></div>

    <div>
        <br/><br/><br/>
    </div>

</script>



<script id="library_preview_full" type="text/x-handlebars-template">

        {{file.fileDb.fileName}}
        <br/><br/>

        {{#if file.imgPreview  }}
            <img src="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}" style="width:100%;"/>
            <br/><br/>
        {{/if}}

        {{#if file.imgSizeWidth  }}
            {{ file.imgSizeWidth }} x {{ file.imgSizeHeight }} <!-- - {{ file.imgSizePower }} -->
        {{/if}}

        - {{file.sizeKb}}kb - {{file.fileDb.type}}

        <br/>changed {{file.readableDateSince}} <br/>
        {{file.readableDate}}


        <br/><br/>

        {{#each file.ops}}
            <a class="button fa fa-plus-circle" onclick="gui.patch().addAssetOp('{{op}}','{{portname}}','{{../file.fileDb.fileName}}','{{title}}')">&nbsp;add <b>{{op}}</b></a>
            <br/><br/>
        {{/each}}

        {{#if file.converters  }}
            {{#each file.converters}}
                <a class="button fa fa-retweet" onclick="gui.showConverter('{{ id }}','{{ ../file.fileDb.projectId }}','{{ ../file.fileDb._id }}','{{ name }}');">&nbsp;{{ name }}</a>
                <br/>
            {{/each}}
            <br/><br/>

        {{/if}}


        <a href="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}" target="_blank" class="button fa fa-external-link" >open file</a>
        <a download href="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}" target="_blank" class="button fa fa-download" >download file</a>


        <br/><br/>
        <a class="button fa fa-trash-o" onclick="CABLES.api.delete('project/{{projectId}}/file/{{file.fileDb._id}}',null,function(){ CABLES.UI.fileSelect.load(); });$('#lib_preview').html('');">delete </a>



</script>
