asasas
<div id="library">
    <div class="left">
        <div id="lib_head"></div>
        <div id="lib_files"></div>
    </div>
    <div class="right">
        <div id="lib_preview"></div>
    </div>
</div>

<div id="suggestionDialog"></div>
<div id="modalbg"></div>
<div id="modalcontent"></div>
<div id="notify"></div>




<div id="button_subPatchBack" class="hidden"><i class="fa  fa-3x fa-arrow-circle-o-left"></i></div>



<div id="editor" style="">
    <div id="editorbar"></div>
    <div id="ace" style="padding:0;height:300px;"></div>
</div>

<div id="patch" tabindex="1"></div>

<div id="minimapContainer" data-info="{{ texts.minimapContainer }}" >
    <div onclick="gui.toggleMiniMap();" class="title title_closed">&nbsp;<i class="fa fa-angle-up" ></i>&nbsp; Mini Map</div>
    <div onclick="gui.toggleMiniMap();" class="title title_opened">&nbsp;<i class="fa fa-angle-down" ></i> </div>
    <div id="minimap"></div>
</div>

<div id="timing"></div>
<div id="splitterPatch" class="splitter"></div>
<div id="splitterRenderer" class="splitter"></div>
<div id="splitterRendererWH" class="splitter"></div>
<div id="splitterTimeline" class="splitter"></div>
<div id="splitterEditor" class="splitter"></div>




<div id="menubar">
    <!-- <a class="button" href="/" target="_blankk">cables</a> -->
    <nav>
        <ul>
            <li class="cables">
                <div class="logo cablesLogo"></div>
                <a href="/" target="_blank">cables</a>
                <ul id="jobs"></ul>
            </li>
            <li>
                Patch
                <ul>
                    <li class="nav_patch_new">New</li>
                    <li class="divide"></li>
                    <li onclick="CABLES.UI.SELECTPROJECT.show();">Open <span class="shortcut">[cmd + o]</span></li>
                    <li class="divide"></li>
                    <li class="nav_patch_save">Save <span class="shortcut">[cmd + s]</span></li>
                    <li class="nav_patch_saveas">Save As</li>
                    <li class="divide"></li>
                    <li class="nav_patch_load_version" onclick="gui.showVersions();">Load Backup</li>
                    <li class="divide"></li>
                    <li class="nav_patch_users" onclick="gui.showUsers();">Manage Contributors</li>
                    <li class="nav_patch_screenshot" onclick="gui.saveScreenshot();">Save Screenshot</li>
                    <li class="divide"></li>
                    <li class="nav_patch_clear">Clear</li>
                    <li class="nav_patch_settings">Settings</li>
                    <li class="nav_patch_export">Export</li>
                    <li class="divide"></li>
                    <li class="nav_patch_profile">Profiler</li>

                </ul>
            </li>
            <li>
                Op
                <ul>
                    <li class="nav_op_addOp">Add New <span class="shortcut">[esc]</span></li>
                    <li class="divide"></li>
                    <li class="nav_op_copy inactive">Copy <span class="shortcut">[mod + c]</span></li>
                    <li class="nav_op_paste inactive">Paste <span class="shortcut">[mod + v]</span></li>
                    <li class="nav_op_delete inactive">Delete <span class="shortcut">[backspace]</span></li>
                </ul>
            </li>
            <li>
                Help
                <ul>
                    <li class="nav_help_documentation">Documentation</li>
                    <li class="nav_help_introduction">Introduction</li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- <a id="button_openprojects" class="button fa fa-folder-open" ></a> -->

    <!-- <a class="button_addOp button fa fa-plus-square-o tt" data-tt="create new op"></a> -->


    <!-- <a id="help" href="/doc" target="_blankkk" class="button fa fa-question-circle"></a> -->

    <!-- <a id="button_editor" class="button fa fa-pencil-square"></a> -->


    <!-- <a id="button_settings" class="button fa fa-cog"></a> -->
    <!-- <a id="button_chat" class="button fa fa-users" style="display: none">
        <span class="badge"></span>
    </a> -->


    <!-- <div id="assetsloadingindicator" style="display:none;float:left;margin-top:6px;margin-left:10px;padding-top:2px;"><i class="fa fa-spinner fa-pulse"></i></div> -->



    <div id="" style="float:right;">
        <a target="_blank" class="viewProjectLink button fa fa-external-link"></a>

        <a id="button_cycleRenderSize" class="button fa fa-expand tt"  data-info="resize webgl renderer (esc to exit fullscreen)"></a>
        &nbsp;
    </div>


    <!-- <div id="serverproject" style="float:right;display:none;">
        <a  class="button_saveCurrentProject button">save project "<span id="serverprojectname"></span>"</a>
    </div> -->




    <div id="loggedin">
        <div class="button projectname fa fa-cog" style="margin-right:20px;margin-top:2px;" onclick="gui.showSettings();"></div>
        <div id="username"></div>
    </div>

    <div id="loggedout">
        <div id="username">not logged in</div> <a class="button fa fa-sign-out" href="/"></a>
    </div>

</div>


<div id="meta">
    <div id="metatabs">
        <div class="tabs">
            <a class="tab_files active fa fa-files-o" data-info="{{ texts.tab_files }}" onclick="gui.setMetaTab('files')"> </i> </a>
            <a class="tab_profiler fa fa-pie-chart" data-info="{{ texts.tab_profiler }}" onclick="gui.setMetaTab('profiler')"></a>
            <a class="tab_bookmarks fa fa-bookmark-o" data-info="{{ texts.tab_bookmarks }}" onclick="gui.setMetaTab('bookmarks')"></a>

            <a class="tab_debug fa fa-info-circle" onclick="gui.setMetaTab('debug')"></a>
            <a class="tab_screen fa fa-television" onclick="gui.setMetaTab('screen')"></a>
        </div>
    </div>
    <div id="meta_content">
        <div id="meta_content_files" class="meta_content"></div>
        <div id="meta_content_profiler" class="meta_content"></div>
        <div id="meta_content_debug" class="meta_content"></div>
        <div id="meta_content_bookmarks" class="meta_content"></div>
        <div id="meta_content_screen" class="meta_content"></div>
    </div>

    <div id="infoArea"></div>
</div>

<div id="options" class="panel"></div>


<div class="" style="float:right">
    <div class="hidden easingselect" >

<div>
    <span class="button icon-linear" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_LINEAR);"></span>
    <span class="button icon-absolut" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_ABSOLUTE);"></span>
    <span class="button icon-bezier" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_BEZIER);"></span>
<br/>
<br/>
</div>
<div>
    <span class="button icon-sin_in" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_IN);"></span>
    <span class="button icon-sin" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_INOUT);"></span>
    <span class="button icon-sin_out" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_OUT);"></span>
</div>
<div>
    <span class="button icon-cub_in" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_IN);"></span>
    <span class="button icon-cubic" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_INOUT);"></span>
    <span class="button icon-cub_out" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_OUT);"></span>
</div>

<div>
    <span class="button icon-exp_in" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_IN);"></span>
    <span class="button icon-expo" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_INOUT);"></span>
    <span class="button icon-exp_out" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_OUT);"></span>
</div>



<!--
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SMOOTHSTEP);">smoothstep</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SMOOTHERSTEP);">smootherstep</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_BEZIER);">bezier</a><br/>

-->

    </div>
</div>


<div class="tooltip"></div>
