
<div id="modalbg"></div>
<div id="modalcontent"></div>


<div id="sidebar" class="hidden ">
    <div class="content">
        <a  class="button_toggleSidebar button">close</a>
        <br/>
        <br/>
        <a class="button_saveLocalStorage" >save local storage</a>
        <br/>
        <a class="button_loadLocalStorage" >load local storage</a>

        <hr/>

        <a class="button_export" >export</a>
        <br/>
        <a class="button_import" >import</a>
        <br/>
        <br/>
        <a class="button button_clearPatch" >clear patch</a>
        <br/>
        <br/>
        <span class="button" onclick="gui.createProject();">create project</span>
        <br/>
        <br/>
        <span class="button" onclick="CABLES.UI.SELECTPROJECT.show();">open projects</span>


    </div>
</div>

<div id="button_subPatchBack" class="hidden"><i class="fa  fa-3x fa-arrow-circle-o-left"></i></div>

<div id="patch" tabindex="1"></div>

<div id="timing"></div>
<div id="statusbar"></div>
<!-- <div id="splitter"></div> -->


<div id="meta">

    <div id="projectfiles">
    </div>
</div>
<div id="options" class="panel"></div>

<div id="menubar">

    <a class="button_toggleSidebar button">cables</a>

    <a class="button_addOp button fa fa-plus-square-o tt" data-tt="create new op"></a>

    <a id="button_cycleRenderSize" class="button fa fa-expand tt"  data-tt="resize webgl renderer (esc to exit fullscreen)"></a>

    <div id="serverproject" style="float:left;display:none;">
        <a  class="button_saveCurrentProject button">save project <span id="serverprojectname"></span></a>
    </div>

    <a target="_blankk" class="viewProjectLink button fa fa-external-link"></a>

    <div id="loggedin">
        <div id="username"></div> <a class="button tt" href="/logout" data-tt="logout">logout</a>
    </div>

    <div id="loggedout">
        <div id="username">not logged in</div> <a class="button fa fa-sign-out" href="/"></a>
    </div>

</div>

<div class="tooltip"></div>