
<script id="meta_code" type="text/x-handlebars-template">

<h4>{{op.objName}}</h4>


{{#if user.isAdmin}}
<h3>Admin</h3>

<span class="button fa fa-lock" onclick="gui.serverOps.edit('{{op.objName}}');">edit code</span>
<!-- <br/> -->
<!-- <span class="button fa fa-lock" onclick="CABLES.UI.MetaCode.rename('{{op.objName}}');">rename</span> -->
<br/>
<span class="button fa fa-lock" onclick="">move from/to experimental</span>

<br/><br/>

{{/if}}


<!-- <h3>Summary</h3>

<input type="text" id="opsummary" style="width:100%" value="{{summary}}"/>
<a class="button fa fa-plus-o" onclick="gui.serverOps.addOpSummary('{{op.objName}}', $('#opsummary').val() );">save</a>
<br/><br/> -->



<h3>Code</h3>

<br/>
<span class="button fa fa-file-text-o" onclick="gui.serverOps.edit('{{op.objName}}',{{#if ownsOp}}false{{else}}true{{/if}});">{{#if ownsOp}}edit{{else}}view{{/if}} code</span>
<br/>
<span class="button fa fa-clone" onclick="gui.serverOps.cloneDialog('{{op.objName}}');">clone op code</span>
<br/>

<br/>
    <h3>attachments</h3>
    {{#each doc.attachmentFiles}}
        <a class="button fa fa-edit" onclick="gui.serverOps.editAttachment('{{../op.objName}}','{{.}}');"></a>

        {{.}}
        <a class="button fa fa-trash" onclick="gui.serverOps.deleteAttachment('{{../op.objName}}','{{.}}');"></a>
        <br/>
    {{/each}}
    <a class="button fa fa-plus-o" onclick="gui.serverOps.addAttachmentDialog('{{op.objName}}');">add</a>


    <br/><br/>

    <h3>Libs</h3>

    {{#each doc.libs}}
        {{.}}<br/>
    {{/each}}

    <select id="addoplib">
        <option value="">---</option>
    {{#each libs}}
        <option value="{{.}}">{{.}}</option>
    {{/each}}
    <select>
    <a class="button fa fa-plus-o" onclick="gui.serverOps.addOpLib('{{op.objName}}', $('#addoplib').val() );">add</a>





</script>
