
<script id="meta_code" type="text/x-handlebars-template">

<h3>Code</h3>
<h3>{{op.objName}}</h3>

{{#if user.isAdmin}}
<span class="button fa fa-lock" onclick="gui.serverOps.edit('{{op.objName}}');">edit code</span>
{{/if}}
<br/>
<span class="button fa fa-file-text-o" onclick="gui.serverOps.edit('{{op.objName}}',{{#if ownsOp}}false{{else}}true{{/if}});">{{#if ownsOp}}edit{{else}}view{{/if}} code</span>
<br/>
<span class="button fa fa-clone" onclick="gui.serverOps.cloneDialog('{{op.objName}}');">clone op code</span>
<br/>

{{#if doc.attachmentFiles}}
<br/>
    <h3>attachments</h3>
    {{#each doc.attachmentFiles}}
        {{.}} <br/>
    {{/each}}
{{/if}}
</script>
