<script id="meta_preview" type="text/x-handlebars-template">

    <style>
        .previewcontainer
        {
            cursor:pointer;
            padding:10px;
            border-left:1px solid #000;
            margin-bottom:5px;
        }

        .activePreview
        {
            border-left:1px solid #07F78C;
        }

        .previewcontainer canvas
        {
            transform: scale(1,-1);
        }

        .previewcontainer:hover
        {
            background-color: #000;
        }
    </style>

    <h3>Texture Preview {{numTextures}}</h3>
    
    <div style="display:flex;flex-flow: column-reverse;" id="meta_preview_textures"></div>

</script>

<script id="meta_preview_texture" type="text/x-handlebars-template">
    <div id="preview{{tex.id}}" onclick="gui.patch().focusOp('{{tex.opid}}');gui.patch().setSelectedOpById('{{tex.opid}}');" class="previewcontainer tt" data-tt="{{tex.title}} {{tex.size}}" data-sort="0">
        <canvas id="preview_img_{{tex.id}}" style="transform:scale(1 -1)" class="dark" ></canvas>
        <div id="activity{{tex.id}}"></div>
    </div>
</script>