

<script id="meta_paco" type="text/x-handlebars-template">



    <h3>patch connection</h3>

    <!-- <a target="_blank" href="/renderer/" class="tt button fa fa-youtube-play" >open renderer in new window</a> -->

    <a onclick="gui.metaPaco.open()" class="tt button fa fa-youtube-play" >open renderer in new window</a>


<br/>

<a onclick="gui.socket.startPacoSend()" class="tt button fa fa-youtube-play" >stream to other clients</a>

    <!-- <div id="tabtest" style="border:1px solid red;width:80%;min-height:400px;"></div> -->

    <!-- <a onclick="var tabs=new CABLES.UI.TabPanel('tabtest');" class="tt button fa fa-youtube-play" >tab test</a> -->


</script>
