
<script id="meta_profiler" type="text/x-handlebars-template">
    <div class="tabContentScrollContainer">
        <div>
            <h3>Profiler</h3>

            <a  class="button " id="profilerstartbutton"><span class="icon icon-pie-chart"></span>Start</a>


            <div id="profilerui" style="display:none" class="editor_spreadsheet">

                <a class="button-small" onclick="gui.corePatch().profiler.clear();gui.corePatch().cgl.profileData.heavyEvents=[];">Reset</a>
                <br/>
                <br/>
                <div class="text-center">
                    <a id="profilerTabOpsCum" class="tabActiveSubtab" data-info="file_source_patch">Cumulated Ops</a>
                    <a id="profilerTabOps" class="tabSubtab" data-info="file_source_patch">Individual Ops</a>
                    <a id="profilerTabSubpatches" class="tabSubtab" data-info="file_source_patch">Subpatches</a>
                    <a id="profilerTabPeaks" class="tabSubtab" data-info="file_source_patch">Peaks</a>
                    <a id="profilerTabEvents" class="tabSubtab" data-info="file_source_patch">Events</a>
                </div>
                <br/><br/>

                <div id="profilerdata"></div>
                <div id="profilerbar"></div>

                <div id="profilerlist" style="font-family:monospace;font-size:12px;"></div>

                <br/>
            </div>
        </div>
    </div>

</script>
