
<script id="meta_keyframes" type="text/x-handlebars-template">

<div>

    <h3>Easings</h3>

    <div class="easingselect" >
        <div>
            <a class="button-small icon-linear" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_LINEAR);">&nbsp;Linear</a>
            <a class="button-small icon-absolut" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ABSOLUTE);">&nbsp;Absolute</a>
        <br/>
        <br/>
        </div>
        <div>
            <div class="title">Sin</div>

            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Cubic</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Quart</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Quint</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Expo</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Back</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        </div>
        <div>
            <div class="title">Elastic</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_IN);"><span class="icon icon-ease-exp-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_OUT);"><span class="icon icon-ease-exp-out"></span></a>
        </div>
        <div>
            <div class="title">Bounce</div>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BOUNCE_OUT);"><span class="icon icon-ease-exp-out"></span></a>
        </div>
    </div>


    <h3>Keyframes {{op.objName}}</h3>

    {{#if anim}}
        <a onclick="gui.metaKeyframes.addKey();" class="button">Add Keyframe</a>
        <br/><br/>
    {{/if}}

    {{#if anim.keys}}
        <table class="table">
            <tr>
                <th></th>
                <th>frame</th>
                <th>value</th>
                <th>easing</th>
                <th></th>
            </tr>
            {{#each anim.keys}}
                <tr>
                    <td>
                        <a onclick="var newFrame=prompt('new frame');if(newFrame==null){return;}gui.timeLine().getAnim().moveKeyAt({{time}},parseInt(newFrame)/gui.timeLine().getFPS() );gui.metaKeyframes.update();gui.timeLine().refresh()" class="fa fa-arrows-h tt" data-tt="move"></a>
                    </td>

                    <td onclick="gui.scene().timer.setTime({{time}});gui.metaKeyframes.update()" style="cursor:pointer;">{{frame}}&nbsp;&nbsp;</td>
                    <td onclick="var newValue=prompt('value');if(newValue==null){return;}gui.timeLine().getAnim().setValue({{time}},newValue);gui.metaKeyframes.update()" style="cursor:pointer;">{{value}}</td>
                    <td>{{_easing}}</td>
                    <td>
                        <a onclick="gui.timeLine().getAnim().deleteKeyAt({{time}});gui.metaKeyframes.update()" class="fa fa-times"></a>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{else}}
    No animations found<br/><br/>
    {{/if}}
    <br/><br/>

    {{#if anims}}
    <h3>Animated Ports</h3>

    <div class="list">
        {{#each anims}}
            <div  onclick="gui.metaKeyframes.showAnim('{{opid}}','{{portname}}');">
                <span class="{{colorClass}}">{{opname}}</span> - {{portname}}
            </div>
        {{/each}}
    </div>
    {{/if}}

</div>

</script>
