<script id="op-doc-template" type="text/x-handlebars-template">
    <div class="op-doc">
        <base target="_blank"/> <!-- open links in new window -->
        {{#if opDoc}}
            <p class="op-doc__name">{{opDoc.shortNameDisplay}}</p>
            <p class="">
                {{opDoc.name}}
                {{#if opDoc.oldVersion}} OLD {{/if}}
            </p>

            {{#if opDoc.userOp}}
                <br/>
                <br/>
                <a onclick="gui.serverOps.edit('{{ opDoc.name}}');gui.closeModal();" class="button">Edit Op</a>
            {{/if}}

            {{#if opDoc.summaryHtml}}
                <div class="op-doc__summary">{{{opDoc.summaryHtml}}}</div>
            {{/if}}
            {{#if opDoc.hasScreenshot}}
                <img class="op-doc__screenshot" src="{{cablesUrl}}/op/screenshot/{{ opDoc.name }}.png"/>
            {{/if}}
            {{#if opDoc.content}}
                <div class="op-doc__description">
                    {{{opDoc.content}}}
                </div>
            {{/if}}
        {{/if}}
        <br/><br/>
    </div>
</script>
<script id="op-doc-collection-template-extension" type="text/x-handlebars-template">
    <div id="opselect-layout" class="collection extension">
        {{#compare collectionInfo.numOps '==' 0}}
            <h2><i class="icon icon-book-open"></i>&nbsp;{{collectionInfo.shortName}} Extension</h2>
        {{else}}
            <h2><i class="icon icon-book-open"></i>&nbsp;{{collectionInfo.shortName}} Extension - {{collectionInfo.numOps}} ops</h2>
        {{/compare}}
        {{#if collectionInfo.teamName}}
            Maintained by Team <a target="_blank" href="{{cablesUrl}}{{collectionInfo.teamLink}}">{{collectionInfo.teamName}}</a><br/>
        {{/if}}
        {{#if opDoc.summaryHtml}}
            <div class="op-doc__summary">{{{opDoc.summaryHtml}}}</div>
        {{/if}}
        {{#if opDoc.descriptionHtml}}
            <div class="op-doc__description">{{{opDoc.descriptionHtml}}}</div>
        {{/if}}
        {{#if collectionInfo.teamLink}}
            <a target=\"_blank\" href="{{cablesUrl}}{{collectionInfo.teamLink}}" class="button-small">View team</a>
        {{/if}}
        <a target="_blank" href="{{cablesUrl}}/ops/{{collectionInfo.name}}" class="button-small">View ops in this namespace</a>
        {{#if collectionInfo.ops.length}}
            <br/><br/>
            {{#each collectionInfo.ops}}
                <img src="{{../cablesUrl}}/api/op/layout/{{.}}"/>
            {{/each}}
        {{/if}}
    </div>
</script>
<script id="op-doc-collection-template-teamnamespace" type="text/x-handlebars-template">
    <div id="opselect-layout" class="collection teamnamespace">
        {{#compare collectionInfo.numOps '==' 0}}
            <h2><i class="icon icon-book-open"></i>&nbsp;{{collectionInfo.shortName}}</h2>
        {{else}}
            <h2><i class="icon icon-book-open"></i>&nbsp;{{collectionInfo.shortName}} - {{collectionInfo.numOps}} ops</h2>
        {{/compare}}
        {{#if collectionInfo.teamName}}
            Maintained by Team <a target="_blank" href="{{cablesUrl}}{{collectionInfo.teamLink}}">{{collectionInfo.teamName}}</a><br/>
        {{/if}}
        {{#if opDoc.summaryHtml}}
            <div class="op-doc__summary">{{{opDoc.summaryHtml}}}</div>
        {{/if}}
        {{#if opDoc.descriptionHtml}}
            <div class="op-doc__description">{{{opDoc.descriptionHtml}}}</div>
        {{/if}}
        {{#if collectionInfo.teamLink}}
            <a target=\"_blank\" href="{{cablesUrl}}{{collectionInfo.teamLink}}" class="button-small">View team</a>
        {{/if}}
        <a target="_blank" href="{{cablesUrl}}/ops/{{collectionInfo.name}}" class="button-small">View ops in this namespace</a>
        {{#if collectionInfo.ops.length}}
            <br/><br/>
            {{#each collectionInfo.ops}}
                <img src="{{../cablesUrl}}/api/op/layout/{{.}}"/>
            {{/each}}
        {{/if}}
    </div>
</script>
