<script id="op-doc-template" type="text/x-handlebars-template">
    <div class="op-doc">
        <base target="_blank"/> <!-- open links in new window -->
        {{#if opDoc}}
            <p class="op-doc__name">{{opDoc.shortNameDisplay}}</p>
            <p class="">
                {{opDoc.name}}
                {{#if opDoc.oldVersion}} OLD {{/if}}
            </p>

            {{#if opDoc.userOp}}
                <br/>
                <br/>
                <a onclick="gui.serverOps.edit('{{ opDoc.name}}');gui.closeModal();" class="button">Edit Op</a>
            {{/if}}

            {{#if opDoc.summaryHtml}}
                <div class="op-doc__summary">{{{opDoc.summaryHtml}}}</div>
            {{/if}}
            {{#if opDoc.hasScreenshot}}
                <img class="op-doc__screenshot" src="{{cablesUrl}}/op/screenshot/{{ opDoc.name }}.png"/>
            {{/if}}
            {{#if opDoc.content}}
                <div class="op-doc__description">
                    {{{opDoc.content}}}
                </div>
            {{/if}}
        {{/if}}
        <br/><br/>
    </div>
</script>
