<script id="op_add_dependency_lib" type="text/x-handlebars-template">
    <div id="addopdependency_lib_{{viewId}}" class="libselect">
        <div class="highlightBlock info">Add a lib from the cables library to your op:</div>
        <select id="{{viewId}}_addoplib">
            <option value="">---</option>
            {{#each libs}}
                <option value="{{url}}">{{#if isAssetLib}}patch file - {{/if}}{{name}}</option>
            {{/each}}
        </select><br/>
        <a class="button bluebutton" onclick="gui.serverOps.addOpLib('{{opDoc.name}}', ele.getSelectValue(ele.byId('{{viewId}}_addoplib')));">Add</a>
    </div>
</script>
<script id="op_add_dependency_corelib" type="text/x-handlebars-template">
    <div id="addopdependency_corelib_{{viewId}}" class="libselect">
        <div class="highlightBlock info">Add a cables core library to your op:</div>
        <select id="{{viewId}}_addcorelib">
            <option value="">---</option>
            {{#each coreLibs}}
                <option value="{{.}}">{{.}}</option>
            {{/each}}
        </select><br/>
        <a class="button bluebutton" onclick="gui.serverOps.addCoreLib('{{opDoc.name}}', ele.getSelectValue(ele.byId('{{viewId}}_addcorelib')));">Add</a>
    </div>
</script>
<script id="op_add_dependency_commonjs" type="text/x-handlebars-template">
    <div id="addopdependency_commonjs_{{viewId}}">
        <div class="highlightBlock info">Add a commonjs javascript library to your op, enter a URL or select a file to download:</div>
        <input class="depSrc" type="text">
        <div class="edit">
            <a class="button add bluebutton">Add</a>
            <a class="button upload"><span class="icon icon-plus-circle icon-1_25x"></span>Select file</a>
            <input class="hidden" type="file" accept=".js,application/javascript"/>
        </div>
    </div>
</script>
<script id="op_add_dependency_module" type="text/x-handlebars-template">
    <div id="addopdependency_module_{{viewId}}">
        <div class="highlightBlock info">Add a ESM javascript library to your op, enter a URL or select a file to download:</div>
        <input class="depSrc" type="text">
        <span class="exportName">Export as: <input type="text" value=""/></span>
        <div class="edit">
            <a class="button add bluebutton">Add</a>
            <a class="button upload"><span class="icon icon-plus-circle icon-1_25x"></span>Select file</a>
            <input class="hidden" type="file" accept=".js,application/javascript"/>
        </div>
    </div>
</script>
<script id="op_add_dependency_npm" type="text/x-handlebars-template">
    <div id="addopdependency_npm_{{viewId}}" placeholder="@cables/cables">
        <div class="highlightBlock info">Add any NPM to your op:</div>
        <input class="depSrc" type="text">
        <div class="edit">
            <a class="button add bluebutton">Add</a>
            <a class="button upload"><span class="icon icon-plus-circle icon-1_25x"></span>Upload</a>
            <input class="hidden" type="file" accept=".js,application/javascript"/>
        </div>
    </div>
</script>
<script id="op_add_dependency_op" type="text/x-handlebars-template">
    <div id="addopdependency_op_{{viewId}}" placeholder="Ops.Gl.MainLoop">
        <div class="highlightBlock info">Make this op inherit dependencies from another op:</div>
        <input class="depSrc" type="text">
        <div class="edit">
            <a class="button add bluebutton">Add</a>
        </div>
    </div>
</script>

