<script id="op_add_credits" type="text/x-handlebars-template">
    <div id="addopcredits" class="addopcredits" style="width: 80%; padding-top: 15px;">
        <div class="highlightBlock error hidden"></div>
        Title*:<br/>
        <input class="src" type="text" name="title"><br/><br/>
        Author*:<br/>
        <input class="src" type="text" name="author"><br/><br/>
        URL:<br/>
        <input class="src" type="text" name="url"><br/><br/>
        Version:<br/>
        <input class="src" type="text" name="version"><br/><br/>
        Licence:<br/>
        <input class="src" type="text" name="licence"><br/><br/>
    </div>
</script>
