<script id="op_add_dependency_file" type="text/x-handlebars-template">
    <div id="addopdependency_file_{{viewId}}" class="addopdependency">
        Upload a javascript library to use it in your op:<br/>
        <input type="hidden" name="depType" value="commonjs"/>
        <div class="edit">
            <input class="depSrc upload" type="text" readonly disabled>
            <a class="button upload"><span class="icon icon-plus-circle icon-1_25x"></span>Select file</a><br/>
            <div class="exportName hidden">Export as: <input type="text" value=""/></div>
            Type of library:
            <select name="type" class="type">
                <option value="commonjs">Common JS</option>
                <option value="module">JS Module</option>
            </select><br/><br/>
            <a class="button add">Add</a>
            <input class="hidden" type="file" accept=".js,application/javascript"/>
        </div>
    </div>
</script>
<script id="op_add_dependency_url" type="text/x-handlebars-template">
    <div id="addopdependency_url_{{viewId}}" class="addopdependency">
        Load a javascript library via URL to use in your op:<br/>
        <input type="hidden" name="depType" value="commonjs"/>
        <div class="edit">
            <input class="depSrc" type="text">
            <div class="exportName hidden">Export as: <input type="text" value=""/></div>
            Type of library:
            <select name="type" class="type">
                <option value="commonjs">Common JS</option>
                <option value="module">JS Module</option>
            </select><br/><br/>
            <a class="button add">Add</a>
        </div>
    </div>
</script>
<script id="op_add_dependency_npm" type="text/x-handlebars-template">
    <div id="addopdependency_npm_{{viewId}}" class="addopdependency">
        Add any NPM to your op:<br/>
        <input type="hidden" name="depType" value="npm"/>
        <input class="depSrc" type="text" placeholder="@cables/cables">
        <div class="edit">
            <a class="button add">Add</a>
        </div>
    </div>
</script>
<script id="op_add_dependency_op" type="text/x-handlebars-template">
    <div id="addopdependency_op_{{viewId}}" class="addopdependency">
        <div class="warning-error warning-error-level1 hidden">Invalid op-name</div>
        Make you op inherit dependencies from another op:<br/>
        <input type="hidden" name="depType" value="op"/>
        <input class="depSrc" type="text" placeholder="Ops.Gl.MainLoop">
        <div class="edit">
            <a class="button add">Add</a>
        </div>
    </div>
</script>
<script id="op_add_dependency_corelib" type="text/x-handlebars-template">
    <div id="addopdependency_corelib_{{viewId}}" class="libselect addopdependency">
        Add a cables core library to your op:<br/>
        <input type="hidden" name="depType" value="corelib"/>
        <select id="{{viewId}}_addcorelib">
            <option value="">---</option>
            {{#each coreLibs}}
                <option value="{{.}}">{{.}}</option>
            {{/each}}
        </select><br/>
        <a class="button" onclick="gui.serverOps.addCoreLib('{{opDoc.name}}', ele.getSelectValue(ele.byId('{{viewId}}_addcorelib')));">Add</a>
    </div>
</script>
<script id="op_add_dependency_lib" type="text/x-handlebars-template">
    <div id="addopdependency_lib_{{viewId}}" class="libselect addopdependency">
        Add a lib from the cables library to your op:<br/>
        <input type="hidden" name="depType" value="lib"/>
        <select id="{{viewId}}_addoplib">
            <option value="">---</option>
            {{#each libs}}
                <option value="{{url}}">{{#if isAssetLib}}patch file - {{/if}}{{name}}</option>
            {{/each}}
        </select><br/>
        <a class="button" onclick="gui.serverOps.addOpLib('{{opDoc.name}}', ele.getSelectValue(ele.byId('{{viewId}}_addoplib')));">Add</a>
    </div>
</script>
