
<script id="op_select" type="text/x-handlebars-template">

    <div class="opsearch">
        <!-- <div id="optree" class="optree"></div> -->
        <div id="searchinfo" class="searchinfo"></div>
        <!-- <div id="closearea" onclick="gui.closeModal();" style="width:100px;height:50px;position: absolute;left:500px;height:100px;width:500px;"></div> -->

        <div  class="opselectclose">
            <a class="icon-x icon icon-1_5x" onclick="gui.pressedEscape();"></a>
        </div>

        <header>
            <input id="opsearch" class="opsearchInput notIgnoreEscape" placeholder="Search for op" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="search"/>
            <br/>
            <span style="margin-top:6px;position:absolute;font-size:13px;opacity:0.35;" id="realsearch"></span>
        </header>

        <style id="search_style"></style>

        <div class="searchbrowserContainer" id="searchbrowserContainer">
      </div>
    </div>

</script>

<script id="op_select_ops" type="text/x-handlebars-template">

    <div class="searchbrowser">

        {{#each ops}}
        <div id="result_{{id}}"
            class="searchresult clickable hidden searchable {{#if notUsable}}not-usable{{/if}} {{#if isCollection }}collection{{/if}}"
            data-opname="{{name}}"
            data-item-type="{{type}}"
            onclick="gui.opSelect().selectOp('{{ name }}')"
            ondblclick="gui.opSelect().addOp('{{name}}', false, '{{type}}');"
            style="{{#if old}}opacity:0.5{{/if}}">
                <div class="button fright addbutton" style="margin-top:10px;" >{{buttonText}}</div>

                <a>
                    {{#if notUsable}}
                        <span class="icon icon-x"></span>
                    {{else}}
                        {{#if userOp }}<span class="icon icon-user"></span>{{/if}}
                        {{#if devOp }}<span class="icon icon-tool"></span>{{/if}}
                        {{#if patchOp }}<span class="icon icon-op"></span>{{/if}}
                        {{#if isTeamNamespace }}<span class="icon icon-users"></span>{{/if}}
                        {{#if isExtension }}<span class="icon icon-book-open"></span>{{/if}}
                    {{/if}}
                    <span class="shortname nsColor_{{ nscolor }}">{{shortName}}</span>
                    {{oldState}}
                    {{#if old}}OLD{{/if}}
                    - <span class="namespace" onClick="gui.opSelect().searchFor('{{nameSpace}}');">{{nameSpace}}
                    </span>{{isFunction}}

                    {{#if notUsable}}<div class="summary warning">NOT USABLE - {{#each notUsableReasons}}{{.}}{{/each}}</div>{{else}}<div class="summary">{{summary}}&nbsp;</div>{{/if}}
                </a>
            </div>
        {{/each}}


      <div id="search_startType" class="hidden">
          <div class="padded text-center">
              <br/>
              {{{texts.opselect_intro}}}
          </div>
      </div>

      <div id="search_startTypeMore" class="hidden">
          <div class="padded text-center">
              <br/>
              {{{texts.opselect_typemore}}}
          </div>
      </div>

      <div id="search_noresults" class="hidden">
          <div class="padded text-center">
              <br/>
              {{{texts.opselect_notfound}}}
          </div>
      </div>
    </div>
    <div id="opOptions" class="opOptions">.</div>

</script>
