

<script id="op_select" type="text/x-handlebars-template">

    <div class="opsearch">

        
        <div id="optree" class="optree">hallo</div>
        <div id="searchinfo" class="searchinfo"></div>

        <header>
            <input id="opsearch" placeholder="search for op" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="search"/>
        </header>

        <style id="search_style"></style>

        <div class="searchbrowserContainer" id="searchbrowserContainer">
      </div>

    </div>




</script>

<script id="op_select_ops" type="text/x-handlebars-template">

    <div class="searchbrowser">
      {{#each ops}}

        <div id="result_{{id}}" class="searchresult clickable searchable" data-opname="{{name}}" onclick="gui.opSelect().selectOp('{{ name }}')" >
            <div class="insertbutton fright"><div class="icon icon-plus" onclick="gui.scene().addOp('{{name}}');CABLES.UI.MODAL.hide();"></div></div>

            <a>
                {{#if userOp }}<i class="fa fa-user" style="color:white;"></i>{{/if}}
                <span class="shortname op_color_{{ nscolor }}">{{shortName}}</span>
                - <span class="namespace" onClick="gui.opSelect().searchFor('{{nameSpace}}');">{{nameSpace}}
                </span>{{isFunction}}

                <div class="summary">{{summary}}&nbsp;</div>

            </a>

        </div>

      {{/each}}



      <div id="search_startType" class="hidden">
          <div class="padded text-center">
              <br/>
              <h2>&nbsp;start typing!</h2>
              <br/>
              <br/>
              ...then press <span class="icon icon-arrow-up"></span> and <span class="icon icon-arrow-down"></span> to navigate.
              <br/><br/>
              finally press <span class="icon icon-corner-down-left"></span> to create the selected op
          </div>
      </div>

      <div id="search_startTypeMore" class="hidden">
          <div class="padded text-center">
              <br/>
              <h2>&nbsp;type some more!</h2>
          </div>
      </div>

      <div id="search_noresults" class="hidden">
          <div class="padded text-center">
              <br/>
              <h2>&nbsp;404 - op not found</h2>
              <br/><br/>
              <a class="bluebutton" id="createuserop">create <span class="userCreateOpName" style="color:#222"></span></a>
          </div>
      </div>
    </div>
    <div id="opOptions" class="opOptions">.</div>

</script>
