

<script id="op_select" type="text/x-handlebars-template">

    <div class="opsearch">
        <h2>Add Op</h2>

        <input id="opsearch"/>
        <div id="clearsearch" style="position:absolute;margin-top:-34px;margin-left:760px;"><a class="button fa fa-times" onclick="CABLES.UI.OPSELECT.clear();"></a></div>

        <br/><br/>
        <style id="search_style"></style>


        <div class="searchbrowser">
          {{#each ops}}
<!-- gui.scene().addOp('{{name}}');CABLES.UI.MODAL.hide(); -->
            <div class="searchresult clickable searchable item_color_{{ nscolor }}" data-opname="{{ name }}" data-index="{{lowercasename}}"  onclick="CABLES.UI.OPSELECT.selectOp('{{ name }}')" >
                <a>
                    {{#if userOp }}<i class="fa fa-user" style="color:white;"></i>{{/if}}
                    {{shortName}} <span class="namespace" onClick="CABLES.UI.OPSELECT.searchFor('{{nameSpace}}');">{{nameSpace}}</span>{{isFunction}}
                </a>
            </div>

          {{/each}}

          <div id="search_noresults" class="hidden">
              &nbsp;no ops found
              <br/><br/><br/>
              <a class="bluebutton" id="createuserop">create <span class="userCreateOpName" style="color:#222"></span></a>
          </div>
        </div>

        <div id="searchinfo" class="searchinfo"></div>

    </div>
    <div id="opOptions" class="opOptions"></div>

</script>
