

<script id="params_op_head" type="text/x-handlebars-template">

    <div class="selectable">
        <div class="panel">
            <input class="medium info" id="opname" oninput="gui.patch().setCurrentOpTitle($('#opname').val());" value="{{op.name}}" data-info="op title - click to edit">
            <br/><br/>

            {{op.objName}}
            <br/><br/>

            {{#if op.isDeprecated }}
                <div class="warning" id="">This operator is deprecated. Please use another one.</div>
                <br/><br/>
            {{/if}}

            {{#if op.isExperimental }}
                <div class="warning-dark" id=""><b>Warning: This operator is Experimental.</b><br/> You can play around with it, but a lot will change and it might stop working for you.</div>
                <br/><br/>
            {{/if}}


            <div class="warning " id="options_warning" >
            {{op.uiAttribs.warning}}
            </div>
            <div class="warning" id="options_error" >
            {{op.uiAttribs.error}}
            </div>
        </div>
    </div>



    <div id="opparams" class="panel" style="padding:0px;">
        <table>

</script>


<script id="params_op_foot" type="text/x-handlebars-template">

        </table>

    <div class="info " id="options_info" style="padding:0px;">
        {{{op.uiAttribs.info}}}
    </div>

    <div class="panelhead" data-panelselector="#opcode">Code</div>
    <div id="opcode" class="panel" style="padding:0px;">
        <div class="panel">
            {{#if op.isServerOp }}
                {{#if user.isAdmin}}
                <span class="button fa fa-lock" onclick="gui.serverOps.edit('{{op.objName}}');">edit code</span>

                <span class="button fa fa-lock" onclick="CABLES.UI.MetaCode.rename('{{op.objName}}');">rename</span>
                <br/>
                <span class="button fa fa-lock" onclick="">move from/to experimental</span>
<br/><br/>
                {{/if}}
                <span class="button fa fa-file-text-o" onclick="gui.serverOps.edit('{{op.objName}}',{{#if ownsOp}}false{{else}}true{{/if}});">{{#if ownsOp}}edit{{else}}view{{/if}} code</span>
                <span class="button fa fa-clone" onclick="gui.serverOps.cloneDialog('{{op.objName}}');">clone op code</span>
            {{/if}}
        </div>
    </div>


    <div class="panelhead" data-panelselector="#doc_op">Documentation</div>
    <div id="doc_op" class="panel"></div>



    <div class="panelhead closed" data-panelselector="#optools">Tools</div>
    <div id="optools" class="panel" style="display:none">

        <span class="button  fa fa-remove" onclick="gui.patch().selectChilds('{{op.id}}');">select all children </span>

        <!-- <br/><br/><br/><br/> -->
        <!-- <span class="button  fa fa-remove" onclick="gui.patch().deleteChilds('{{op.id}}');">delete all children </span> -->
    </div>



    <!-- <div class="panelhead">
        <pre>{{{ json op.uiAttribs }}}</pre>
    </div> -->

    <script>

        gui.showOpDoc('{{{op.objName}}}');

        $("input").keydown(function(e)
        {
            switch(e.which)
            {
                case 38: // up
                    this.value=CABLES.UI.inputIncrement(this.value,1);
                    $(this).trigger('input');
                    return false;
                break;

                case 40: // down
                    this.value=CABLES.UI.inputIncrement(this.value,-1);
                    $(this).trigger('input');
                    return false;
                break;

                default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
        });

        $("input").bind("mousewheel", function(event, delta)
        {
            if($(this).is(":focus") )
            {
                if (delta > 0)
                {
                    if(event.shiftKey) this.value = CABLES.UI.inputIncrement(this.value,0.1);
                        else this.value = CABLES.UI.inputIncrement(this.value,1);
                }
                else
                {
                    if(event.shiftKey) this.value = CABLES.UI.inputIncrement(this.value,-0.1);
                        else this.value = CABLES.UI.inputIncrement(this.value,-1);
                }

                 $(this).trigger('input');
                return false;
            }
         });
    </script>

</script>
