
<script id="params_ports_head" type="text/x-handlebars-template">
    <tr>
        <td colspan="11" class="panelhead" data-panelselector=".opports_{{dirStr}}">
            <div class="groupSpacer"><h3>{{title}}</h3></div>
        </td>
    </tr>
</script>

<script id="params_port_general" type="text/x-handlebars-template">

{{#if port.uiAttribs.spaceBefore }}
    <tr>
        <td></td>
    </tr>
{{/if}}

{{#if groupSpacer}}
    <tr>
        <td colspan="11" >
            <div class="groupSpacer">
                {{startGroup}}
            </div>
        </td>
    </tr>
{{/if}}

<tr id="tr_{{ dirStr }}_{{ portnum }}" class="paramport_{{panelid}}_{{port.id}} {{#if port.uiAttribs.hideParam}}hide {{/if}}{{#if port.uiAttribs.greyout }}greyedout{{/if}} {{#if port.uiAttribs.group}}op-port-group{{/if}} opportgroup_{{port.uiAttribs.group}} opports_{{ dirStr }}" data-portname="{{port.name}}"   onmouseover="gui.opDocs.showPortDoc('{{op.objName}}','{{port.name}}');">
    <td class="port portType_{{ port.type }}{{#if port.links}}_linked{{/if}}" style="{{#if port.uiAttribs.hidePort }}box-shadow:none !important;{{/if}}" id="portLineTitle_{{ dirStr }}_{{ portnum }}"  data-portname="{{port.name}}" >

        {{#if port.uiAttribs.editableTitle}}
            <a class="icon icon-edit iconhover" onclick="gui.patchView.setPortTitle('{{op.id}}','{{port.name}}');"></a>
        {{/if}}

        <span id="portTitle_{{ dirStr }}_{{ portnum }}" data-opid="{{op.id}}" data-portname="{{port.name}}" class="{{#if port.uiAttribs.hidePort}}{{else}}paramsPortTitleClickable{{/if}} {{#if port.uiAttribs.axis}}axis{{ port.uiAttribs.axis }}{{/if}}">
            {{#compare port.uiAttribs.display '==' 'buttons' }}
            {{else}}
            {{#compare port.uiAttribs.display '==' 'button' }}
            {{else}}
                {{#if port.uiAttribs.title }}
                    {{port.uiAttribs.title}}
                {{else}}
                    {{port.name}}
                {{/if}}
            {{/compare}}
            {{/compare}}
        </span>

        {{#if port.uiAttribs.colorPick }}
            <div class="button_colorpick fright" id="watchcolorpick_{{ dirStr }}_{{ portnum }}"></div>
        {{/if}}

    </td>
    <td class="">
        {{#if port.links}}

            {{#if port.direction }}
            </td><td  style="overflow: hidden;text-overflow:ellipsis">
                <table>
                {{#each port.links}}
                    <tr>
                        <td>
                            <a class="info icon-x icon iconhover" data-info="{{ ../texts.portUnlink }}" id="portdelete_{{ ../dirStr }}_{{ ../portnum }}" style="vertical-align:bottom"></a>
                            <span class="paramsPortLink" onclick="gui.patchView.centerSelectOp('{{portIn.parent.id}}',true);">{{{ portIn.parent.name }}}</span><br/>
                        </td>
                    </tr>
                {{/each}}
                </table>
                {{else}}
                    </td><td>
                {{#each port.links}}

                        <a class="info icon-x icon iconhover" data-info="{{ ../texts.portUnlink }}" id="portdelete_{{ ../dirStr }}_{{ ../portnum }}" style="vertical-align:bottom"></a>
                        <span class="paramsPortLink" onclick="gui.patchView.centerSelectOp('{{portOut.parent.id}}',true);">{{{ portOut.parent.name }}}</span><br/>
                {{/each}}
            {{/if}}
        {{/if}}

</script>



<script id="params_port_general_end" type="text/x-handlebars-template">

</td>

<td style="min-width:15px;">
<!-- animation/variable button -->

{{#if isInput}}
    {{#if port.links}}
    {{else}}
        {{#compare port.type '==' 1 }}
        {{else}}

            {{#compare port.uiAttribs.display '==' 'switch' }}
            {{else}}
            {{#compare port.uiAttribs.display '==' 'dropdown' }}
            {{else}}
                <div style="{{#if port.uiAttribs.isAnimated}}{{else}}display:none;{{/if}}">
                    <a class="info timingbutton " data-info="{{ texts.portAnimToggle }}" id="portanim_{{ dirStr }}_{{ portnum }}" >
                        <span class="icon icon-clock"></span>
                    </a>
                </div>

                {{#if port.uiAttribs.isAnimated}}
                {{else}}
                    {{#if port.uiAttribs.useVariable}}
                        <a class="icon-x icon iconhover" id="portremovevar_{{portnum}}" data-portid="{{port.id}}"></a>
                    {{else}}
                        <a class="icon-three-dots icon iconhover" style="opacity:0.6" id="port_contextmenu_{{dirStr}}_{{portnum}}" data-portid="{{port.id}}"></a>
                    {{/if}}
                {{/if}}

            {{/compare}}
            {{/compare}}

        {{/compare}}
        {{/if}}
        {{/if}}

</td>
</tr>
</script>
