

<script id="params_file" type="text/x-handlebars-template">
    <div class="">
        <h3>{{file.fileDb.fileName}}</h3>

        {{file.fileDb.type}} - {{file.sizeKb}} KB

        {{#if file.imgSizeWidth  }}
            - {{ file.imgSizeWidth }} x {{ file.imgSizeHeight }} - {{ file.imgSizePower }}<br/>
        {{/if}}

        uploaded {{file.readableDateSince}} ( {{file.readableDate}} )


        <br/><br/>

        {{#each file.ops}}
            <a class="button fa fa-plus-circle" onclick="gui.patch().addAssetOp('{{op}}','{{portname}}','{{../file.fileDb.fileName}}','{{title}}')">&nbsp;add <b>{{op}}</b></a>
            <br/><br/>
        {{/each}}

        <a href="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}" target="_blank" class="button fa fa-external-link" >open file</a>

        <br/><br/>

        {{#if file.imgPreview  }}
            <img src="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}" style="width:100%;"/>
            <br/><br/>
        {{/if}}


        <table>

            <tr>
                <td>&nbsp;</td>
                <td>filename</td>
                <td>{{file.fileDb.fileName}}</td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>created</td>
                <td>{{file.fileDb.created}}</td>
            </tr>



            <tr>
                <td>&nbsp;</td>
                <td>suffix</td>
                <td>{{file.fileDb.suffix}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>projectId</td>
                <td>{{file.fileDb.projectId}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>user</td>
                <td>{{file.fileDb.userId}}</td>
            </tr>

        </table>


        <br/>
        <a class="button fa fa-trash-o" onclick="CABLES.api.delete('project/{{projectId}}/file/{{fileId}}',null,function(){gui.patch().updateProjectFiles();$('#options').html('')});">delete </a>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <div>
        <!-- <a class="bluebutton fa fa-retweet" onclick="gui.convertFile('{{fileId}}');">&nbsp;convert</a> -->
    </div>



</script>
