

<script id="params_ops" type="text/x-handlebars-template">

    <div class="panel">

        <h2>{{numOps}} ops selected</h2>

        <br/>

        <a onclick="CABLES.CMD.PATCH.opsAlignHorizontal()" class="button fa fa-align-left">Align Horizontally  [a]</a>
        <br/>
        <a onclick="CABLES.CMD.PATCH.opsCompress()" class="button fa fa-align-justify">Compress Vertically [shift]+[a]</a>
        <br/>
        <br/>

        <a onclick="gui.patch().disableEnableOps()" class="button fa fa-align-justify">Disable / Enable Ops [d]</a>
        <br/>

        <a onclick="gui.patch().tempUnlinkOp()" class="button fa fa-align-justify">temporary unlink op [shift-d]</a>


        <br/>
        <br/>
        <br/>

        <a onclick="CABLES.CMD.PATCH.createSubPatchFromSelection()" class="button fa fa-database">create subpatch</a>
        <br/><br/>
        <a onclick="gui.patch().createCommentFromSelection()" class="button fa fa-comment-o">create comment</a>


        <br/>
        <br/>
        <br/>
        <a onclick="CABLES.CMD.PATCH.deleteSelectedOps()" class="button fa fa-trash">delete</a>
    </div>

</script>
