<script id="params_port_input" type="text/x-handlebars-template">

    {{#if port.uiAttribs.useVariable}}
</td><td>
            Var
            <select id="portsetvar_{{ portnum }}" data-portid="{{port.id}}">
                {{#compare 'unknown' '==' port.uiAttribs.variableName }}
                    <option value="">UNKNOWN</option>
                {{/compare}}
                {{#each vars}}
                    <option {{#compare _name '==' ../port.uiAttribs.variableName }} SELECTED="SELECTED" {{/compare}} value="{{ _name }}">#{{_name}}</option>
                {{/each}}
            </select>

            {{#compare port.type '==' 5 }} <span class="value valuetext linkedValue monospace watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" >{{port.port.getValueForDisplay}}</span>{{/compare}}
            {{#compare port.type '==' 0 }} <span class="value valuetext linkedValue monospace watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" >{{port.port.getValueForDisplay}}</span>{{/compare}}
        </td>

{{else}}
{{#if port.links}}


    {{#compare port.type '==' 5 }} <span class="value valuetext linkedValue monospace watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" >{{port.port.getValueForDisplay}}</span>{{/compare}}
    {{#compare port.type '==' 0 }} <span class="value valuetext linkedValue monospace watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" >{{port.port.getValueForDisplay}}</span>{{/compare}}
    {{else}}

        {{#if port.uiAttribs.display}}

            {{#compare port.uiAttribs.display '==' 'bool' }}
        </td><td>
                    <span class="checkbox-container {{#compare port.value '==' true }}checkbox-active{{/compare}}{{#compare port.value '==' false }}checkbox-inactive{{/compare}}">
                        <span id="portcheckbox_{{ portnum }}_{{ panelid }}" style="height:20px;width:20px;" class="ccheckbox icon icon-check" onclick="CABLES.UI.paramsHelper.togglePortValBool('portval_{{ portnum }}_{{ panelid }}','portcheckbox_{{ portnum }}_{{ panelid }}');" ></span>
                    </span>
                <input autocomplete="off" class="value hidden" id="portval_{{ portnum }}_{{ panelid }}" value="{{#if port.value }}true{{else}}false{{/if}}" style="display:none;"/>
            {{/compare}}

            {{#compare port.uiAttribs.display '==' 'buttons' }}
                </td><td>
                    {{#each port.value}}
                        <span class="button-small" id="portbutton_{{ ../portnum }}_{{ ../panelid }}_{{@key}}" data-title="{{.}}">{{.}}</span>
                    {{/each}}
            {{/compare}}

            {{#compare port.uiAttribs.display '==' 'button' }}
            </td><td>
                <span class="{{#if port.uiAttribs.buttonTitleClass }}{{port.uiAttribs.buttonTitleClass}}{{else}}button{{/if}}" id="portbutton_{{ portnum }}_{{ panelid }}" >
                    {{#if port.uiAttribs.buttonTitle }}{{port.uiAttribs.buttonTitle}}
                    {{else}}{{port.name}}{{/if}}
                </span>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'editor' }}
            </td><td>
                <a class="button-small" id="portedit_{{ dirStr }}_{{ portnum }}_{{ panelid }}" ><span class="icon icon-edit"></span>edit</a>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'spreadsheet' }}
            </td><td>
                <a class="button-small" id="portspreadsheet_{{ dirStr }}_{{ portnum }}_{{ panelid }}" ><span class="icon icon-edit"></span>edit</a>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'createOpHelper' }}
                </td><td>

                <a class="button-small" data-info="{{ texts.portCreateOp }}" id="portCreateOp_{{ dirStr }}_{{ portnum }}" ><span class="icon icon-plus-circle"></span></a>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'range' }}
                </td><td>
                <!-- new value input2 !!! -->
                <div
                    class="numberinput valuesliderinput tabable"
                    id="portval_{{ portnum }}_{{ panelid }}-container"
                    data-portnum="{{ portnum }}"
                    data-panelid="{{ panelid }}"
                    data-opid="{{op.id}}"
                    data-portname="{{ port.name }}"
                    onmousedown="new CABLES.UI.ParamTabInputListener(this);CABLES.UI.valueChanger('portval_{{ portnum }}_{{ panelid }}',false,'{{port.name}}','{{op.id}}');"
                    ontouchstart="CABLES.UI.valueChanger('portval_{{ portnum }}_{{ panelid }}',false,'{{port.name}}','{{op.id}}');new CABLES.UI.ParamTabInputListener(this);"
                    onmouseover="gui.showInfo(CABLES.UI.TEXTS.valueChangerHover);"
                    {{#if port.uiAttribs.min}}data-min="{{port.uiAttribs.min}}"{{/if}} {{#if port.uiAttribs.max}}data-max="{{port.uiAttribs.max}}"{{/if}}>

                    <span class="numberinput-display" id="numberinputDisplay_{{ port.watchId }}_{{ panelid }}">{{ port.value }}</span>
                    <input autocomplete="off" class="numberinput-value hidden watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" id="portval_{{ portnum }}_{{ panelid }}" value="{{ port.value }}"/>
                </div>
            {{/compare}}

            {{#compare port.uiAttribs.display '==' 'dropdown' }}
                </td><td>
                    <select oninput="ele.byId('portval_{{ portnum }}_{{ panelid }}').value=this.value;ele.byId('portval_{{ portnum }}_{{ panelid }}').dispatchEvent(new Event('input'));">
                        {{#compare '' '==' port.value }}
                            <option value="">...</option>
                        {{/compare}}

                        {{#each port.uiAttribs.values}}
                            <option {{#compare this '==' ../port.value }} SELECTED="SELECTED" {{/compare}} value="{{ this }}">{{#if ../port.uiAttribs.showIndex}}{{@key}} - {{/if}}{{ this }}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" class="value" id="portval_{{ portnum }}_{{ panelid }}" value="{{ port.value }}" />
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'switch' }}
                </td><td>
                    <input class="value hide" type="hidden" id="portval_{{ portnum }}_{{ panelid }}" style="width:40px;" value="{{port.value}}"/>
                    <div class="radioToggle">
                        {{#each port.uiAttribs.values}}
                            <label><input type="radio" name="radio_portval_{{ ../portnum }}_{{ ../panelid }}" value="{{ this }}"
                                oninput="ele.byId('portval_{{ ../portnum }}_{{ ../panelid }}').value=this.value;ele.byId('portval_{{ ../portnum }}_{{ ../panelid }}').dispatchEvent(new Event('input'));" {{#compare this '==' ../port.value }} CHECKED="CHECKED" {{/compare}}><span>{{ this }}</span></label>
                        {{/each}}
                    </div>

                    {{#if port.uiAttribs.info}}
                    <br/>
                        {{port.uiAttribs.info}}
                    {{/if}}

            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'readonly' }}
                {{ port.value }}
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'gradient' }}
                </td>
                <td>
                    <span class="button" onclick="var ge=new CABLES.GradientEditor('{{op.id}}','{{port.name}}');ge.show();">edit</span>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'texture' }}
                </td>
                <td>
                    <a class="button-small button-icon"  onclick="gui.patchView.addOpAndLink(CABLES.UI.DEFAULTOPNAMES.defaultOpImage,'{{op.id}}','{{port.name}}');"><span class="icon icon-plus-circle"></span></a>

                </td>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'file' }}
                    <a class="icon icon-external iconhover" href="{{ port.value }}" target="_blank"></a>
                    <a class="icon icon-download iconhover" href="{{ port.value }}" target="_blank" download></a>
                </td>
                <td>
                    <div id="fileInputContainer_{{ portnum }}" class="hidden">
                        <input autocomplete="off" class="value filevalue portFileVal_{{ portnum }} watchPort watchPortValue_{{ port.watchId }}_{{ panelid }}" id="portval_{{ portnum }}_{{ panelid }}" value="{{ port.value }}" style="width:95%;display:block;"/>
                        <br/><br/>
                    </div>
                    <div id="portFilename_{{ portnum }}" onclick="document.getElementById('fileInputContainer_{{ portnum }}').classList.remove('hidden');this.classList.add('hidden');gui.showFileSelect('.portFileVal_{{ portnum }}',{{#if port.uiAttribs.filter}}{{json port.uiAttribs.filter}}{{else}}null{{/if}},'{{ port.parent.id }}','portFileVal_{{ portnum }}_preview');" style="cursor:pointer;">[???]</div>
            {{/compare}}
            {{#compare port.uiAttribs.display '==' 'text' }}
                </td><td>
                    <textarea class="value watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} info" id="portval_{{ portnum }}_{{ panelid }}">{{port.value}}</textarea>
            {{/compare}}
        {{else}}
            {{#compare port.type '==' '5' }}
                    </td>
                <td>
                <!-- string -->
                <input onmousedown="new CABLES.UI.ParamTabInputListener(this);"  class="tabable value watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} info" data-portnum="{{ portnum }}" data-panelid="{{ panelid }}" id="portval_{{ portnum }}_{{ panelid }}" value="{{port.value}}" style="width:90%;"/>
            {{/compare}}

            {{#compare port.type '==' '1' }} </td><td>[trigger]
            {{/compare}}
            {{#compare port.type '==' 0 }}
                </td><td>
                        <!-- new value input2 -->
                        <div
                            class="numberinput tabable valueinputtype-{{ port.uiAttribs.type }} {{#if port.uiAttribs.increment }}inc_int{{/if}}"
                            data-portnum="{{ portnum }}"
                            data-panelid="{{ panelid }}"
                            data-opid="{{op.id}}"
                            data-portname="{{ port.name }}"
                            data-portname="{{ port.name }}"
                            id="portval_{{ portnum }}_{{ panelid }}-container"
                            onmousedown="CABLES.UI.valueChanger('portval_{{ portnum }}_{{ panelid }}',false,'{{port.name}}','{{op.id}}');new CABLES.UI.ParamTabInputListener(this);"
                            onmouseover="gui.showInfo(CABLES.UI.TEXTS.valueChangerHover);">
                            <span class="numberinput-display" id="numberinputDisplay_{{ port.watchId }}_{{ panelid }}">{{ port.value }}</span>
                            <input autocomplete="off" class="numberinput-value hidden watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} {{#if port.uiAttribs.increment }}inc_int{{/if}}" data-valuetype="{{ port.uiAttribs.type }}" id="portval_{{ portnum }}_{{ panelid }}" value="{{ port.value }}"/>
                        </div>
                    {{/compare}}
                    {{#compare port.type '==' 3}}
                        </td><td>
                            <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} inspectable" >Array{{#if port.uiAttribs.stride}}{{port.uiAttribs.stride}}{{/if}}</span>
                    {{/compare}}
                    {{#compare port.type '==' 2}}
                </td><td>
                    <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} inspectable" >
                        {{#if port.uiAttribs.objType}}
                            <span class="objType">{{port.uiAttribs.objType}}</span>
                        {{/if}}
                    </span>
            {{/compare}}
            {{#compare port.type '==' 4}}

            {{/compare}}
        {{/if}}
    {{/if}}
{{/if}}



</script>
