<script id="params_anim" type="text/x-handlebars-template">


        <div class="panel_head">
            <h2 class="nomargin">anim: {{anim.name}}</h2>
{{anim.keys.length}} keys - {{length}}s
        </div>

    <div class="content">
        <br/>

        <a class="button-small">
            <span id="ap_spreadsheet" class="icon icon-spreadsheet"></span>
        </a>

        <br/>
        loop:
         <a id="ap_loop_off" class="button-left button-small">off</a>
         <a id="ap_loop_repeat" class="button-middle button-small">repeat</a>
         <a id="ap_loop_mirror" class="button-middle button-small">mirror</a>
         <a id="ap_loop_offset" class="button-right button-small">offset</a>

        <br/>
         <a id="ap_select" class="button-small">select all keys</a>
         <br/><br/>

    </div>

</script>
