<script id="params_port_output" type="text/x-handlebars-template">

    <!--  --------- outputs ---------- -->
    {{#if port.links}}
        {{else}}
        </td><td>
    {{/if}}

    {{#compare port.type '==' 0 }}
        <span data-portname="{{port.name}}" data-opid="{{op.id}}" class="value valuetext portCopyClipboard watchPort linkedValue monospace watchPortValue_{{ port.watchId }}_{{ panelid }}" >
            {{port.port.getValueForDisplay}}
        </span>
    {{/compare}}

    {{#compare port.type '==' 5 }}
        <span class="value valuetext watchPort linkedValue monospace watchPortValue_{{ port.watchId }}_{{ panelid }}">{{port.port.getValueForDisplay}}</span>
        <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="new CABLES.UI.TabPortObjectInspect('{{op.id}}','{{port.name}}');"><span class="icon icon-search"></span></span><br />
    {{/compare}}

    {{#compare port.type '==' 3 }}
        <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} inspectable" >Array </span>

        <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="gui.watchArray('{{op.id}}','{{port.name}}');"><span class="icon icon-align-justify"></span></span>

        <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="new CABLES.UI.TabPortObjectInspect('{{op.id}}','{{port.name}}');"><span class="icon icon-search"></span></span>
        <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="gui.opPortModal.showJsonStructure('{{op.id}}','{{port.name}}');"><span class="icon icon-settings"></span></span><br/>

    {{/compare}}
    {{#compare port.type '==' '2' }}

        {{#if port.links}}
            <br/>
            {{else}}
        {{/if}}

        {{#if port.uiAttribs.objType}}
            <span class="fleft" >
                <span class="objType tt" data-tt="Object type {{port.uiAttribs.objType}}">{{port.uiAttribs.objType}}</span>

            {{#compare port.uiAttribs.objType '==' 'texture' }}

                {{port.port.get.shortInfoString}}
                &nbsp;<span class="button-small button-icon info" onclick="gui.watchArray('{{op.id}}','{{port.name}}');"><span class="icon icon-align-justify"></span></span>

                <a class="button-small button-icon"  onclick="gui.patchView.addOpAndLink(CABLES.UI.DEFAULTOPNAMES.defaultOpVizTexture,'{{op.id}}','{{port.name}}');"><span class="icon icon-eye"></span></a>


            {{/compare}}

            </span>
        {{/if}}

        {{#if port.uiAttribs.preview}}

        {{else}}
            <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}_{{ panelid }} inspectable" >
            </span>
            <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="new CABLES.UI.TabPortObjectInspect('{{op.id}}','{{port.name}}');"><span class="icon icon-search"></span></span>
            <span class="button-small button-icon info" data-info="{{ texts.portObjectSnapshot }}" onclick="gui.opPortModal.showJsonStructure('{{op.id}}','{{port.name}}');"><span class="icon icon-settings"></span></span><br/>
        {{/if}}
    {{/compare}}


</script>
