

<script id="params_ports_head" type="text/x-handlebars-template">

<tr>
<td colspan="11" class="panelhead" data-panelselector=".opports_{{dirStr}}">{{title}}</td>
</tr>

</script>

<script id="params_port" type="text/x-handlebars-template">





<tr id="tr_{{ dirStr }}_{{ portnum }}" class="opports_{{ dirStr }}" {{#if port.uiAttribs.greyout }}style="opacity:0.3;"{{/if}}  onmouseover="gui.opDocs.showPortDoc('{{op.objName}}','{{port.name}}');">
    <td class="port portType_{{ port.type }}{{#if port.links}}_linked{{/if}}" style="{{#if port.uiAttribs.hidePort }}box-shadow:none !important;{{/if}}">
        <span id="portTitle_{{ dirStr }}_{{ portnum }}" ondblclick="gui.opDocs.editPortDoc('{{op.objName}}','{{port.name}}');">
        {{port.name}}
        </span>
    
        {{#compare port.uiAttribs.colorPick '==' 'true' }}
        <div class="button_colorpick button fa fa-eyedropper fright" id="watchcolorpick_{{ dirStr }}_{{ portnum }}"></div>
        {{/compare}}
    </td>
    <td class="">
        {{#if port.links}}
            {{#if port.links}}
            {{/if}}

            {{#if port.direction }}
            </td><td>
                <table>
                {{#each port.links}}
                    <tr>
                        <td>
                            <a class="info graphbutton fa fa-chain-broken" data-info="{{ ../texts.portUnlink }}" id="portdelete_{{ ../dirStr }}_{{ ../portnum }}" ></a>
                            <span class="paramsPortLink" onclick="gui.patch().setSelectedOpById('{{portIn.parent.id}}');">{{{ portIn.parent.name }}} - {{{portIn.name}}}</span><br/>
                        </td>
                    </tr>
                {{/each}}
                </table>
            {{else}}
                {{#each port.links}}
                    </td><td>
                        <a class="info graphbutton fa fa-chain-broken" data-info="{{ ../texts.portUnlink }}" id="portdelete_{{ ../dirStr }}_{{ ../portnum }}" ></a>
                        <span class="paramsPortLink" onclick="gui.patch().setSelectedOpById('{{portOut.parent.id}}');">{{{ portOut.parent.name }}} - {{{portOut.name}}}</span><br/>
                {{/each}}
            {{/if}}
        {{/if}}

        {{#if isInput}}

            {{#if port.links}}

                <!-- {{#compare port.type '==' '1' }}[function]{{/compare}} -->

                {{#compare port.type '==' 0 }} <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}" >{{port.val}}</span>{{/compare}}
                {{#compare port.type '==' '2' }}
                <!-- {{#if port.uiAttribs.preview}}
                    <span class="button fa fa-eye" onclick="console.log(1);CABLES.UI.togglePreview('{{op.id}}','{{port.name}}');">preview</span>
                {{/if}} -->

                <!--[object]-->

                {{/compare}}
            {{else}}
                {{#if port.uiAttribs.display}}

                    {{#compare port.uiAttribs.display '==' 'bool' }}
                        </td><td colspan="3">
                        <span id="portcheckbox_{{ portnum }}" class="graphbutton fa {{#compare port.val '==' true }}fa-check-square{{/compare}}{{#compare port.val '==' false }}fa-square-o{{/compare}}" onclick="CABLES.UI.togglePortValBool('portval_{{ portnum }}','portcheckbox_{{ portnum }}');" style="padding-right:10px;"></span>
                        <input class="value hidden" id="portval_{{ portnum }}" value="{{#if port.val }}true{{else}}false{{/if}}" style="display:none;"/>
                    {{/compare}}

                    {{#compare port.uiAttribs.display '==' 'button' }}
                    </td><td colspan="3">
                        <span class="button" id="portbutton_{{ portnum }}" >{{port.name}}</span>
                    {{/compare}}

                    {{#compare port.uiAttribs.display '==' 'editor' }}
                        <a class="graphbutton fa fa-edit" id="portedit_{{ dirStr }}_{{ portnum }}" ></a>
                    {{/compare}}

                    {{#compare port.uiAttribs.display '==' 'createOpHelper' }}
                        </td><td colspan="3">
                        <a class="info graphbutton fa fa-plus-circle" data-info="{{ texts.portCreateOp }}" id="portCreateOp_{{ dirStr }}_{{ portnum }}" ></a>
                    {{/compare}}

                    {{#compare port.uiAttribs.display '==' 'range' }}
                        <a class="info timingbutton fa fa-clock-o" data-info="{{ texts.portAnimToggle }}" id="portanim_{{ dirStr }}_{{ portnum }}" ></a>
                        <!-- <a class="info graphbutton showgraphbutton fa fa-line-chart" data-info="{{ texts.portAnimKeep }}" id="portgraph_{{ dirStr }}_{{ portnum }}" ></a> -->
                        </td><td colspan="3">

                        <input type ="range" class="range" id="portval_{{ portnum }}_range" min ="{{#if port.uiAttribs.min}}{{ port.uiAttribs.min }}{{ else }}0{{/if}}" max="{{#if port.uiAttribs.max }}{{ port.uiAttribs.max }}{{else}}1.0{{/if}}" value="{{ port.val }}" step ="0.001" oninput="$('#portval_{{ portnum }}').val(this.value);$('#portval_{{ portnum }}').trigger('input');" style=""/>
                        <input class="value watchPort watchPortValue_{{ port.watchId }}" id="portval_{{ portnum }}" value="{{ port.val }}" style="width:40px;display:inline;"/>
                    {{/compare}}
                    {{#compare port.uiAttribs.display '==' 'dropdown' }}
                        </td><td colspan="3">
                            <select oninput="$('#portval_{{ portnum }}').val(this.value);$('#portval_{{ portnum }}').trigger('input');">
                                {{#compare '' '==' port.val }}
                                    <option value="">...</option>
                                {{/compare}}
                                {{#each port.uiAttribs.values}}
                                    <option {{#compare this '==' ../port.val }} SELECTED="SELECTED" {{/compare}} value="{{ this }}">{{ this }}</option>
                                {{/each}}
                            </select>
                            <input type="hidden" class="value" id="portval_{{ portnum }}" value="{{ port.val }}" />
                    {{/compare}}
                    {{#compare port.uiAttribs.display '==' 'readonly' }}
                        {{ port.val }}
                    {{/compare}}

                    {{#compare port.uiAttribs.display '==' 'file' }}
                            <a class="graphbutton fa fa-folder-open-o" onclick="gui.showLibrary('.portFileVal_{{ portnum }}','{{port.uiAttribs.filter}}','{{ ../port.parent.id }}');"></a>
                            <a class="graphbutton fa fa-external-link" href="{{ port.val }}" target="_blank"></a>
                        </td><td colspan="3">

                        <input class="value filevalue portFileVal_{{ portnum }} watchPort watchPortValue_{{ port.watchId }}" id="portval_{{ portnum }}" value="{{ port.val }}" style="width:95%;"/>
                        <br/><br/>

                        <div id="portpreview_{{ portnum }}" onclick="gui.showLibrary('.portFileVal_{{ portnum }}','{{port.uiAttribs.filter}}');" style="padding:0px;"></div>
                    {{/compare}}

					{{#compare port.uiAttribs.display '==' 'text' }}
                </td><td colspan="3">
							<textarea class="value watchPort watchPortValue_{{ port.watchId }} info" id="portval_{{ portnum }}">{{port.val}}</textarea>
					{{/compare}}
                {{else}}

                        {{#compare port.type '==' '1' }} </td><td>[function]
                        {{/compare}}{{#compare port.type '==' 0 }}
                        {{#if port.uiAttribs.type }}
                        {{else}}
                            <a class="info timingbutton fa fa-clock-o" data-info="{{ texts.portAnimToggle }}" id="portanim_{{ dirStr }}_{{ portnum }}" ></a>
                        {{/if}}
                        </td><td colspan="3">

                        <!-- <a class="info graphbutton showgraphbutton fa fa-line-chart" data-info="{{ texts.portAnimKeep }}" id="portgraph_{{ dirStr }}_{{ portnum }}" ></a> -->

                        <input class="value watchPort watchPortValue_{{ port.watchId }} info {{#if port.uiAttribs.increment }}inc_int{{/if}}" id="portval_{{ portnum }}" value="{{ port.val }}"  data-info="{{ texts.portFloatInput }}"
                        {{#if port.uiAttribs.type }} type="search"{{/if}}/>
                        {{#if port.uiAttribs.type }}
                        {{else}}
                            <a class="valueDragger graphbutton fa fa-sort info" onmousedown="valueChanger('portval_{{ portnum }}');"  data-info="{{ texts.portFloatDrag }}"></a>
                        {{/if}}
                    {{/compare}}
                    <!-- dynamic port -->
                    {{#compare port.type '==' 4}}
                    {{#if port.uiAttribs.type }}
                    {{else}}
                        <a class="info timingbutton fa fa-clock-o" data-info="{{ texts.portAnimToggle }}" id="portanim_{{ dirStr }}_{{ portnum }}" ></a>
                    {{/if}}
                    </td><td>

                        <!-- <a class="info graphbutton showgraphbutton fa fa-line-chart" data-info="{{ texts.portAnimKeep }}" id="portgraph_{{ dirStr }}_{{ portnum }}" ></a> -->

                    <input class="value watchPort watchPortValue_{{ port.watchId }} info" id="portval_{{ portnum }}" value="{{ port.val }}"  data-info="{{ texts.portFloatInput }}" />
                    {{#if port.uiAttribs.type }}
                    {{else}}
                        <a class="valueDragger graphbutton fa fa-sort info" onmousedown="valueChanger('portval_{{ portnum }}');"  data-info="{{ texts.portFloatDrag }}"></a>
                    {{/if}}
                {{/compare}}

                {{/if}}
            {{/if}}

        {{else}}

            <!-- {{#compare port.type '==' '1' }}[function]{{/compare}}-->
            {{#compare port.type '==' 0 }}
        </td><td>
                <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}" >{{port.val}}</span>
                
                <span class="button fa fa-search info" data-info="{{ texts.portObjectSnapshot }}" onclick="CABLES.UI.showJson('{{op.id}}','{{port.name}}');"></span><br/>
            {{/compare}}

            {{#compare port.type '==' 3 }}
                <!-- Array -->
            </td><td>
                <span class="value valuetext watchPort watchPortValue_{{ port.watchId }}" >{{port.val.length}}</span><br/><br/>
            </td>
            <td>

                <span class="button fa fa-search info" data-info="{{ texts.portObjectSnapshot }}" onclick="CABLES.UI.showJson('{{op.id}}','{{port.name}}');"></span><br/>
            {{/compare}}
            {{#compare port.type '==' '2' }}

                {{#if port.links}}
                <br/>
                {{else}}
            </td>
            <td>

                {{/if}}

                {{#if port.uiAttribs.preview}}
                    <span class="button fa fa-eye" onclick="gui.setMetaTab('preview');gui.preview.setTexture('{{op.id}}','{{port.name}}');">preview</span>
                {{else}}
                    <span class="button fa fa-search info" data-info="{{ texts.portObjectSnapshot }}" onclick="CABLES.UI.showJson('{{op.id}}','{{port.name}}');"></span><br/>
                {{/if}}
            {{/compare}}
        {{/if}}
    </td>


</tr>


</script>
