

<script id="params_project" type="text/x-handlebars-template">


    <div class="">
        <input class="medium" id="projectsettings_name" oninput="ui.saveProjectParams();" value="{{project.name}}">

        <br/>
        <br/>

    </div>
        <table>
            <tr>
                <th colspan="11">
                    <div class="panelhead">project settings</div>
                </th>
            </tr>
            <tr onclick="togglePublic();">
            <td></td>
                <td>
                    &nbsp;public
                    <input type="hidden" id="projectsettings_public" value="{{ project.settings.isPublic }}"></input>
                </td>
                <td>
                    <a id="projectsettings_public_icon" class="button fa fa-square-o"></a>
                </td>
            </tr>

        </table>

        <br/>
        <br/>

    <div class="">
        <a onclick="gui.patch().saveCurrentProject();" class="button">save settings</a>
    </div>


<script>

function updateIcons()
{
    if($('#projectsettings_public').val()=='true')
    {
        $('#projectsettings_public_icon').addClass('fa-check-square-o');
        $('#projectsettings_public_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_public_icon').removeClass('fa-check-square-o');
        $('#projectsettings_public_icon').addClass('fa-square-o');
    }
    gui.patch().saveProjectParams();
}

function togglePublic()
{
    $('#projectsettings_public').val(''+!($('#projectsettings_public').val()=='true')); 

    updateIcons();
}

updateIcons();



</script>


</script>
