<script id="params_keys" type="text/x-handlebars-template">
    <div class="panel_head">
        <h2 class="nomargin">{{numKeys}} keys selected
            <a id="kp_delete" class="button-small"><span class="icon icon-trash"></span></a>
        </h2>
        length {{timeBounds}} <br/>
        value range {{valueBounds}}

    </div>
    <div class="content panel">

        move <input style="width:50px" id="kp_input_time" value="1">&nbsp;
        <a id="kp_time_moveb" class="button-left button-small"><span class="nomargin icon icon-chevron-left"></span></a>
        <a id="kp_time_movef" class="button-right button-small"><span class="nomargin icon icon-chevron-right"></span></a>
         {{displayunit}} <br/>

        value <input style="width:50px" id="kp_input_value" value="0.25">&nbsp;
        <a id="kp_value_moveb" class="button-left button-small"><span class="nomargin icon icon-chevron-up"></span></a>
        <a id="kp_value_movef" class="button-right button-small"><span class="nomargin icon icon-chevron-down"></span></a>

        <hr/>


        <a class="button-small icon-linear" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_LINEAR);">&nbsp;Linear</a>
        <a class="button-small icon-absolut" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ABSOLUTE);">&nbsp;Absolute</a>
        <a class="button-small icon-absolut" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ABSOLUTE);">&nbsp;Bezier</a>

        <br/><br/>

        <a class="iconbutton nomargin button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_IN);"><span class="icon icon-ease-cub-in"></span></a>
        <a class="iconbutton nomargin button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_IN);"><span class="icon icon-ease-exp-in"></span></a>

        <br/><br/>

        <a class="iconbutton nomargin button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a class="iconbutton nomargin button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_INOUT);"><span class="icon icon-ease-cubic"></span></a>

        <br/><br/>

        <a class="iconbutton nomargin button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_OUT);"><span class="icon icon-ease-cub-out"></span></a>
        <a class="iconbutton nomargin button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_OUT);"><span class="icon icon-ease-exp-out"></span></a>
        <a class="iconbutton nomargin button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BOUNCE_OUT);"><span class="icon icon-ease-exp-out"></span></a>

<hr/>
        <br/>
        <input style="width:250px" id="kp_comment" placeholder="comment" value="{{comment}}">&nbsp;
        <br/>
        {{#each commentColors}}
            <a data-col="{{.}}" style="background-color:{{.}};" class="kp_colorbutton colorbutton"></a>
        {{/each}}
        <a onclick="gui.patchView.setOpColor(null)" style="background-color:#fff;" class="kp_colorbutton colorbutton"></a>
        <br/>
        <br/>

        {{#each errors}}
        - {{.}}<br/>
        {{/each}}
    </div>
</script>
