

<script id="params_ports_head" type="text/x-handlebars-template">
    
<tr>
<th colspan="11">
<div class="panelhead">{{title}}:</div>
</th>
</tr>

</script>

<script id="params_port" type="text/x-handlebars-template">

<tr>
    <td class="port portType_{{ port.type }}">


        {{port.name}}
    </td>

    <td>

        {{#if isInput}}


            {{#if port.links}}

                    {{#compare port.type '==' '1' }}function{{/compare}}
                    {{#compare port.type '==' 0 }} <span class="value watchPortValue_{{ port.watchId }}">{{port.val}}</span>{{/compare}}
                    {{#compare port.type '==' '2' }} object {{/compare}}
                    
                {{else}}

                    {{#if port.uiAttribs.display}}
                        {{#compare port.uiAttribs.display '==' 'bool' }}
                            
                            <span class="button fa fa-toggle-on" onclick="CABLES.togglePortValBool('portval_{{ portnum }}');"></span>
                            <input class="value" id="portval_{{ portnum }}" value="{{ port.val }}" style="width:70px;display:inline;"/>

                        {{/compare}}
                        {{#compare port.uiAttribs.display '==' 'range' }}

                            <a class="timingbutton fa fa-clock-o" id="portanim_{{ dirStr }}_{{ portnum }}" ></a>
                            <input type ="range" min ="0" max="1.0" value="{{ port.val }}" step ="0.001" oninput="$('#portval_{{ portnum }}').val(this.value);$('#portval_{{ portnum }}').trigger('input');" style="width:135px;"/>
                            <input class="value watchPortValue_{{ port.watchId }}" id="portval_{{ portnum }}" value="{{ port.val }}" style="width:40px;display:inline;"/>

                        {{/compare}}
                        {{#compare port.uiAttribs.display '==' 'dropdown' }}
                            
                            <select oninput="$('#portval_{{ portnum }}').val(this.value);$('#portval_{{ portnum }}').trigger('input');">
                                <option value="">...</option>
                                {{#each port.uiAttribs.values}}
                                    <option value="{{ this }}">{{ this }}</option>
                                {{/each}}
                            </select>
                            <input class="value" id="portval_{{ portnum }}" value="{{ port.val }}" style="width:70px;display:inline;"/>
                        {{/compare}}

                    {{else}}
                    
                        {{#compare port.type '==' '1' }} function
                        {{/compare}}{{#compare port.type '==' 0 }}

                        <a class="timingbutton fa fa-clock-o" id="portanim_{{ dirStr }}_{{ portnum }}" ></a>
                        <input class="value watchPortValue_{{ port.watchId }}" id="portval_{{ portnum }}" value="{{ port.val }}"/>

                        {{/compare}}
                        {{#compare port.type '==' '2' }} object {{/compare}}
                    
                    {{/if}}
            {{/if}}

        {{else}}

            {{#compare port.type '==' '1' }}function{{/compare}}
            {{#compare port.type '==' 0 }} <span class="value watchPortValue_{{ port.watchId }}" >{{port.val}}</span> {{/compare}}
            {{#compare port.type '==' '2' }} object {{/compare}}

            
        {{/if}}
    </td>


    <td>

        {{#if port.links}}
            <a class="button fa fa-chain-broken" id="portdelete_{{ dirStr }}_{{ portnum }}" ></a>
            {{port.links.length}}x
        {{/if}}
    </td>
</tr>

</script>
