

<script id="params_project" type="text/x-handlebars-template">


    <div class="">
        <input class="medium" id="projectsettings_name" onblur="gui.patch().saveProjectParams();" value="{{project.name}}">
        <br/>
        <br/>
    </div>
    <table>
        <tr>
            <th colspan="11">
                <div class="panelhead">project settings</div>
            </th>
        </tr>
        <tr onclick="togglePublic();">
            <td></td>
            <td>
                &nbsp;public
                <input type="hidden" id="projectsettings_public" value="{{ project.settings.isPublic }}"></input>
            </td>
            <td>
                <a id="projectsettings_public_icon" class="button fa fa-square-o"></a>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                &nbsp;secret
            </td>
            <td>
                <input type="text" id="projectsettings_secret" value="{{ project.settings.secret }}" onblur="gui.patch().saveProjectParams();"></input>
                <!-- <a id="projectsettings_public_icon" class="button fa fa-square-o"></a> -->
            </td>
        </tr>

    </table>

    <br/>



        <div class="panel" style="padding:0px;">
            <div class="panelhead">functions</div>
            <div>
                <a onclick="gui.patch().exportStatic();" class="button fa fa-cloud-download">export static archive</a>
                <br/><br/>
                <a class="button fa fa-user" onclick="gui.showUsers();">&nbsp;users</a>
                <br/><br/>
                <a onclick="gui.showVersions();" class="button fa fa-code-fork">show versions</a>
                <br/><br/>
                <a onclick="gui.editProjectDescription();" class="button fa fa-edit">edit description</a>
                <br/><br/>
                <a class="button fa fa-times" onclick="if(confirm('really?'))gui.scene().clear();">&nbsp;clear patch</a>

            </div>

        </div>


    <div id="projectdescription" class="panel" style="padding:0px;">
        <div class="panelhead">description</div>
        <div>
            {{{descr}}}
        </div>

    </div>

    <div id="projectdescription" class="panel" style="padding:0px;">






    <div class="panel" style="padding:0px;">
        <div class="panelhead">debug</div>
        <div>

            <!-- <a onclick="gui.patch().saveCurrentProject();" class="button">save settings</a> -->
            <h3>debug</h3>
            numOps:{{debug.numOps}}
            <br/>
            numSvgElements:{{debug.numSvgElements}}
            <br/>
            numVisibleOps:{{debug.numVisibleOps}}
            <br/>
            <br/>
            <br/>
            <br/>
            {{project.id}}




            <br/>
            <br/><br/>
            <a class="button " onclick="localStorage['cables']=gui.scene().serialize();">&nbsp;load from local storage</a>

            <a class="button " onclick="gui.scene().clear();self.scene().deSerialize(localStorage['cables']);">&nbsp;save to local storage</a>
            <br/><br/><br/>

            <a class="button " onclick="gui.exportDialog();">export</a>
            <a class="button " onclick="gui.importDialog();">import</a>
            <br/><br/>
            <br/><br/>
            <a class="button fa fa-trash-o tt" data-tt="delete" onclick="if(confirm('really?'))gui.deleteCurrentProject();">&nbsp;delete project</a>


        </div>

    </div>






    </div>


<script>

function updateIcons()
{
    if($('#projectsettings_public').val()=='true')
    {
        $('#projectsettings_public_icon').addClass('fa-check-square-o');
        $('#projectsettings_public_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_public_icon').removeClass('fa-check-square-o');
        $('#projectsettings_public_icon').addClass('fa-square-o');
    }

}

function togglePublic()
{
    $('#projectsettings_public').val(''+!($('#projectsettings_public').val()=='true'));

    updateIcons();
    gui.patch().saveProjectParams();

}



updateIcons();



</script>


</script>
