<script id="params_keys" type="text/x-handlebars-template">
    <div class="panel_head">
        <h2 class="nomargin">{{numKeys}} keys selected
            <a id="kp_more" class="button-small"><span class="icon icon-three-dots"></span></a>
        </h2>
        length: {{timeLength}} <br/>
        time range: {{timeBounds}}<br/>
        value range: {{valueBounds}}

    </div>
    {{#if writable}}
    <div class="content panel">

        <a data-info="tlIpLin" class="info iconbutton nomargin {{#compare easing '==' '0' }}button-active{{/compare}} button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_LINEAR);"><span class="icon icon-ease-linear"></span></a>
        <a data-info="tlIpAbs" class="info iconbutton nomargin {{#compare easing '==' '1' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ABSOLUTE);"><span class="icon icon-ease-absolute"></span></a>
        <a data-info="tlIpCurves" class="info iconbutton nomargin {{#if showCurves  }}button-active{{/if}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_INOUT);"><span class="icon icon-ease-cubic"></span></a>
        <a data-info="tlIpBez" class="info iconbutton nomargin {{#compare easing '==' '4' }}button-active{{/compare}} button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBICSPLINE);"><span class="icon icon-tangent"></span></a>

        <br/><br/>

        {{#compare easing '==' '4' }}
            <a id="kp_bezfree" class="button-small eleAsButton" tabindex="0">toggle free tangents </a>
            <br/>
            <a id="kp_bezreset" class="button-small eleAsButton" tabindex="0">reset</a>
            <br/>
        {{/compare}}

        {{#if showCurves}}
            <a class="iconbutton nomargin {{#compare easing '==' '11' }}button-active{{/compare}} button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '5' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '22' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '25' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '8' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '14' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '17' }}button-active{{/compare}} button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_IN);"><span class="icon icon-ease-exp-in"></span></a>

            <br/><br/>

            <a class="iconbutton nomargin {{#compare easing '==' '13' }}button-active{{/compare}} button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '7' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '24' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '27' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '10' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '16' }}button-active{{/compare}} button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_INOUT);"><span class="icon icon-ease-cubic"></span></a>

            <br/><br/>

            <a class="iconbutton nomargin {{#compare easing '==' '12' }}button-active{{/compare}} button-left" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '6' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '23' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '26' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '9' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '15' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '18' }}button-active{{/compare}} button-middle" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_OUT);"><span class="icon icon-ease-exp-out"></span></a>
            <a class="iconbutton nomargin {{#compare easing '==' '21' }}button-active{{/compare}} button-right" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BOUNCE_OUT);"><span class="icon icon-ease-exp-out"></span></a>
            <br/><br/>
        {{/if}}

        <a id="kp_movecursor" class="button-small">Move to cursor</a>
        <br/>
        <a id="kp_fit" class="button-small">Fit view</a>
        <br/>
        <a id="kp_looparea" class="button-small">loop area boundings</a>
        <br/>

        move <input style="width:50px" id="kp_input_time" value="{{lastInputMove}}">&nbsp;
        <a id="kp_time_moveb" class="button-left button-small"><span class="nomargin icon icon-chevron-left"></span></a>
        <a id="kp_time_movef" class="button-right button-small"><span class="nomargin icon icon-chevron-right"></span></a>
         {{displayunit}} <br/>

        value <input style="width:50px" id="kp_input_value" value="{{lastInputValue}}">&nbsp;
        <a id="kp_value_moveb" class="button-left button-small">-</a>
        <a id="kp_value_movef" class="button-right button-small">+</a>
        <a id="kp_value_set" class="button-right button-small">set</a>

        <br/>
        <br/>
        clip:
        <select id="kp_clip">
            <option>-- </option>
            {{#each clipsVars}}
                <option {{#compare name '==' ../clipId}}selected{{/compare}}>
                    {{name}}
                </option>
            {{/each}}
        </select>

        <hr/>
        <br/>
        <input style="width:250px" id="kp_comment" placeholder="comment" value="{{comment}}">&nbsp;
        <br/>
            {{#each commentColors}}
                <a data-col="{{.}}" style="background-color:{{.}};" class="kp_colorbutton colorbutton"></a>
            {{/each}}
            <a style="background-color:#fff;" class="kp_colorbutton colorbutton icon-x icon"></a>
        <div style="clear:both"> </div>
        <br/>

        {{#each errors}}
        - {{.}}<br/>
        {{/each}}
    </div>
            {{else}}
            readonly!
    {{/if}}
</script>
