<script id="params_keys" type="text/x-handlebars-template">
        <div class="panel_head">
            <h2 class="nomargin">{{numKeys}} keys selected</h2>
            length {{timeBounds}} <br/>
            value range {{valueBounds}}

        </div>
        <div class="content">
            <a id="kp_delete" class="button-small"><span class="icon icon-trash"></span></a>

            <a class="button-small icon-linear" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_LINEAR);">&nbsp;Linear</a>
            <a class="button-small icon-absolut" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ABSOLUTE);">&nbsp;Absolute</a>


            <br/><br/>

            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_IN);"><span class="icon icon-ease-cub-in"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_IN);"><span class="icon icon-ease-exp-in"></span></a>

            <br/><br/>

            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_INOUT);"><span class="icon icon-ease-cubic"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_INOUT);"><span class="icon icon-ease-cubic"></span></a>

            <br/><br/>

            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_SIN_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_CUBIC_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUART_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_QUINT_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_EXPO_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BACK_OUT);"><span class="icon icon-ease-cub-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_ELASTIC_OUT);"><span class="icon icon-ease-exp-out"></span></a>
            <a class="iconbutton" onclick="gui.timeLine().setSelectedKeysEasing(CABLES.EASING_BOUNCE_OUT);"><span class="icon icon-ease-exp-out"></span></a>


        </div>
</script>
