
<script id="params_convert" type="text/x-handlebars-template">
    <div class="panel">

        <h2>{{ converterName }}</h2>
        <br/>
        <i id="converterprogress" class="fa fa-circle-o-notch fa-spin" style="display:none;"></i>

        <form id="converterform">
            {{#compare converterId '==' 'pcconv' }}

                <div>
                    <table>
                        <tr>
                            <td>Center Points</td>
                            <td>
                                <select name="doCenter">
                                    <option value="false">false</option>
                                    <option value="true">true</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Reduce Points Num</td>
                            <td>
                                <input name="reduce" value="0"/>
                                <br/>0 - do not reduce
                            </td>
                        </tr>
                    </table>
                </div>

            {{/compare}}
            {{#compare converterId '==' 'assimpfile' }}

            <div>
                <table>
                    <tr>
                        <td>Assimp Options</td>
                        <td>
                            <select name="optimize">
                                <option value="optimize">optimize</option>
                                <option value="noopt">do not optimize</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Float Arrays as Base64</td>
                        <td>
                            <select name="floatbase64">
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>

            {{/compare}}

            <a class="button fa fa-retweet" onclick="gui.converterStart('{{ projectId }}','{{ fileId }}','{{ converterId }}')">&nbsp;Start Converter: {{ converterName }}</a>
            <br/><br/>


        </form>

    </div>
    <div class="modalScrollContent hidden" id="converteroutput">
            
    </div>
            
</script>
