

<script id="params_ops" type="text/x-handlebars-template">

    <div class="panel">

        <h2>{{numOps}} ops selected</h2>

        <br/>
        <a onclick="gui.patch().setOpColor('#07F78C')" style="background-color:#07F78C;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor('#F0D165')" style="background-color:#F0D165;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor('#f59259')" style="background-color:#f59259;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor('#dc5751')" style="background-color:#dc5751;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor('#db88ff')" style="background-color:#db88ff;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor('#5dc0fd')" style="background-color:#5dc0fd;" class="colorbutton"></a>
        <a onclick="gui.patch().setOpColor(null)" style="background-color:#fff;" class="colorbutton icon-x icon"></a>
        <br/><br/><br/>

        <a onclick="CABLES.CMD.PATCH.opsAlignHorizontal()" class="button fa fa-align-left">Align Horizontally  [a]</a>
        <br/>
        <a onclick="CABLES.CMD.PATCH.opsCompress()" class="button fa fa-align-justify">Compress Vertically [shift]+[a]</a>
        <br/>
        <br/>

        <a onclick="gui.patch().disableEnableOps()" class="button fa fa-align-justify">Disable / Enable Ops [d]</a>

        <br/>
        <br/>
        <br/>

        <a onclick="CABLES.CMD.PATCH.createSubPatchFromSelection()" class="icon-button button-small "><span class="icon icon-subpatch icon-1_25x"></span>Create Subpatch</a>
        <br/><br/>
        <a onclick="gui.patch().createCommentFromSelection()" class="button fa fa-comment-o">Create Comment</a>

        <br/>
        <br/>
        <br/>
        <a onclick="CABLES.CMD.PATCH.deleteSelectedOps()" class="button fa fa-trash">delete</a>

    </div>

</script>
