
<script id="params_op_head" type="text/x-handlebars-template">

    <div class="selectable params">

        <a onclick="gui.opParams.opContextMenu(this)" class="tt icon icon-triple-dot iconhover op-contextmenu info" data-info="More Options"></a>
        {{#if isBookmarked}}
            <a onclick="gui.bookmarks.add('{{op.id}}')" class="icon iconhover icon-bookmark-filled info toggle-bookmark-button" data-info="Add Bookmark"></a>
        {{else}}
            <a onclick="gui.bookmarks.add('{{op.id}}')" class="icon iconhover icon-bookmark info toggle-bookmark-button" data-info="Add Bookmark"></a>
        {{/if}}

        <div class="panel params_op_head">
            <input class="medium info" id="opname" oninput="gui.opParams.setCurrentOpTitle(this.value);" value="{{optitle}}" data-info="op_title">
			<br/>
            <a href="{{cablesUrl}}/op/{{op.objName}}" class="{{colorClass}}" target="_blank"></i>&nbsp;{{op.objName}}</a>
            <br/>

            {{#if oldVersion}}
                <a href="{{cablesUrl}}/op/{{op.objName}}"><b>NEWER VERSION AVAILABLE</b></a>
                <a class="button-small" onclick="gui.patchView.replaceOpCheck('{{op.id}}','{{newestVersion.name}}')">Upgrade</a>
            {{/if}}

			<div class="summary selectable">
	            <!-- {{#if op.summary }} -->
                    {{op.summary}}
                    <!-- {{#if user.isAdmin}}
                    &nbsp;<a onclick="gui.opDocs.writeSummary('{{op.objName}}','{{op.summary}}')"><i class="icon icon-edit"></i></a>
                    {{/if}}
                {{else}}
                    {{#if user.isAdmin}}
                    <a onclick="gui.opDocs.writeSummary('{{op.objName}}')">no summary - click to write one! <i class="icon icon-edit"></i></a>
                    {{/if}}
                {{/if}} -->
			</div>


            {{#if ownsOp }}
                <a class="button tt" data-tt="[e] - edit op " onclick="gui.serverOps.edit('{{op.objName}}',false,false,true);">Edit op</a>
                <br/><br/>
            {{/if}}


            <a href="{{cablesUrl}}/op/{{op.objName}}" class="button-small"  target="_blank">View documentation</a>
            {{#if hasExample}}
                <a href="{{cablesUrl}}/op/example/{{op.objName}}" class="button-small"  target="_blank">View example</a>
            {{/if}}

            {{#if op.isDeprecated }}
                <div class="warning" id="">
                    This operator is outdated.
                    {{#if op.isDeprecatedAlternative }}
                        <br/>
                        we recommend to use the new version: <a onclick="gui.scene().addOp('{{op.isDeprecatedAlternative}}');">{{ op.isDeprecatedAlternative }}</a>
                    {{/if}}
                </div>
                <br/><br/>
            {{/if}}

            {{#if op.uiAttribs.error }}

                <div class="warning-error warning-error-level2" id="options_error"  >
                    OLD ERROR MSG<br/>
                    <i>Error:</i> {{op.uiAttribs.error}}
                </div>
            {{/if}}

            {{#if op.uiAttribs.errors }}
                {{#each op.uiAttribs.errors}}
                    <div class="warning-error warning-error-level2" id="options_error"  >
                        OLD ERROR MSG<br/>
                        {{{.}}}<br/>
                    </div>
                {{/each}}
            {{/if}}

            <div id="op_params_uierrors"></div>

            {{#if op.isExperimental }}
                <div class="warning-experimental" id=""><b>Warning: This operator is Experimental.</b><br/> You can play around with it, but a lot will change and it might stop working for you.</div>
            {{/if}}

            {{#if op.uiAttribs.warning }}
                <div class="warning" id="options_warning" >
                    <i>Warning:</i> {{op.uiAttribs.warning}}
                </div>
            {{/if}}

            {{#if op.uiAttribs.hint }}
                <div class="hint" id="options_hint" >
            	    <i>Hint:</i> {{op.uiAttribs.hint}}
                </div>
            {{/if}}



        </div>
    </div>

    <div id="opparams" class="panel" style="padding:0px;">
        <table>

</script>


<script id="params_op_foot" type="text/x-handlebars-template">

        </table>

    <div class="info " id="options_info" style="padding:0px;">
        {{{op.uiAttribs.info}}}
    </div>

    <br/>
    <div class="groupSpacer"><h3>Misc</h3></div>

    <div class="panel" >
        Comment:
        <textarea id="commentTextarea" spellcheck="false" style="height:60px;width:100%;" onInput="gui.opParams.setCurrentOpComment(this.value);" >{{op.uiAttribs.comment}}</textarea>

        <br/>
        <a onclick="gui.patchView.setOpColor('#07F78C')" style="background-color:#07F78C;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor('#F0D165')" style="background-color:#F0D165;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor('#f59259')" style="background-color:#f59259;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor('#dc5751')" style="background-color:#dc5751;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor('#db88ff')" style="background-color:#db88ff;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor('#5dc0fd')" style="background-color:#5dc0fd;" class="colorbutton"></a>
        <a onclick="gui.patchView.setOpColor(null)" style="background-color:#fff;" class="colorbutton icon-x icon"></a>

    </div>
    <br/><br/><br/>

    <script>
    </script>

</script>
