

<script id="params_project" type="text/x-handlebars-template">


    <div class="">
        <input class="medium info" id="projectsettings_name" onblur="gui.patch().saveProjectParams();" value="{{project.name}}" data-info="{{ texts.projectSettingsTitle }}">
        <br/>
        <br/>
    </div>
    <table>
        <tr>
            <th colspan="11">
                <div class="panelhead">project settings</div>
            </th>
        </tr>
        <tr onclick="togglePublic();" class="info" data-info="{{ texts.projectSettingsPublic }}">
            <td></td>
            <td>
                &nbsp;public
                <input type="hidden" id="projectsettings_public" value="{{ project.settings.isPublic }}"></input>
            </td>
            <td>
                <a id="projectsettings_public_icon" class="button fa fa-square-o"></a>
            </td>
        </tr>

        <tr onclick="toggleAutoScreenshot();">
            <td></td>
            <td>
                &nbsp;manual screenshot
                <input type="hidden" id="projectsettings_autoscreenshot" value="{{ project.settings.manualScreenshot }}"></input>
            </td>
            <td>
                <a id="projectsettings_autoscreenshot_icon" class="button fa fa-square-o"></a>
            </td>
        </tr>



        <tr>
            <td></td>
            <td>
                &nbsp;secret
            </td>
            <td>
                <input type="text" id="projectsettings_secret" value="{{ project.settings.secret }}" onblur="gui.patch().saveProjectParams();"></input>
                <!-- <a id="projectsettings_public_icon" class="button fa fa-square-o"></a> -->
            </td>
        </tr>



        {{#if user.isAdmin}}

            <tr onclick="toggleExample();" class="info" data-info="{{ texts.projectSettingsExample }}">
                <td>&nbsp;</td>
                <td>
                    <i class="fa fa-lock"/>
                    &nbsp;example
                    <input type="hidden" id="projectsettings_example" value="{{ project.settings.isExample }}"></input>
                </td>
                <td>
                    <a id="projectsettings_example_icon" class="button fa fa-square-o"></a>
                </td>
            </tr>

            <tr onclick="toggleTest();" class="info" data-info="{{ texts.projectSettingsTest }}">
                <td>&nbsp;</td>
                <td>
                    <i class="fa fa-lock"/>
                    &nbsp;testcase
                    <input type="hidden" id="projectsettings_test" value="{{ project.settings.isTest }}"></input>
                </td>
                <td>
                    <a id="projectsettings_test_icon" class="button fa fa-square-o"></a>
                </td>
            </tr>
        {{/if}}


    </table>

    <br/>



        <div class="panel" style="padding:0px;">
            <div class="panelhead">functions</div>
            <div>
                <!-- <a onclick="" class="button fa fa-cloud-download">export static archive</a> -->
                <!-- <br/><br/> -->
                <a class="button fa fa-user" onclick="gui.showUsers();">&nbsp;users</a>
                <br/><br/>
                <a class="button fa fa-book" onclick="gui.showUserOps();">&nbsp;user ops</a>
                <br/><br/>

                <a onclick="gui.showVersions();" class="button fa fa-code-fork">show versions</a>
                <br/><br/>
                <a onclick="gui.editProjectDescription();" class="button fa fa-edit">edit description</a>
                <br/><br/>
                <a onclick="gui.editProjectTags();" class="button fa fa-edit">edit tags</a>
                <!-- <br/><br/> -->
                <!-- <a class="button fa fa-times" onclick="if(confirm('really?'))gui.scene().clear();">&nbsp;clear patch</a> -->

            </div>

        </div>


    <div id="projectdescription" class="panel" style="padding:0px;">
        <div class="panelhead">description</div>
        <div>
            {{{descr}}}
        </div>

    </div>

    <div id="projectdescription" class="panel" style="padding:0px;">






    <div class="panel" style="padding:0px;">
        <div class="panelhead">debug</div>
        <div>
            numOps:{{debug.numOps}}
            <br/>
            numSvgElements:{{debug.numSvgElements}}
            <br/>
            numVisibleOps:{{debug.numVisibleOps}}
            <br/>
            <br/>
            <br/>
            <br/>
            {{project.id}}

            <br/>
            <br/><br/>
            <a class="button " onclick="localStorage['cables']=gui.scene().serialize();">&nbsp;load from local storage</a>

            <a class="button " onclick="gui.scene().clear();self.scene().deSerialize(localStorage['cables']);">&nbsp;save to local storage</a>
            <br/><br/><br/>

            <a class="button " onclick="gui.exportDialog();">export</a>
            <a class="button " onclick="gui.importDialog();">import</a>
            <br/><br/>
            <br/><br/>
            <a class="button fa fa-trash-o tt" data-tt="delete" onclick="if(confirm('really?'))gui.deleteCurrentProject();">&nbsp;delete project</a>


        </div>

    </div>






    </div>


<script>

function updateIcons()
{
    if($('#projectsettings_public').val()=='true')
    {
        $('#projectsettings_public_icon').addClass('fa-check-square-o');
        $('#projectsettings_public_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_public_icon').removeClass('fa-check-square-o');
        $('#projectsettings_public_icon').addClass('fa-square-o');
    }

    if($('#projectsettings_autoscreenshot').val()=='true')
    {
        $('#projectsettings_autoscreenshot_icon').addClass('fa-check-square-o');
        $('#projectsettings_autoscreenshot_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_autoscreenshot_icon').removeClass('fa-check-square-o');
        $('#projectsettings_autoscreenshot_icon').addClass('fa-square-o');
    }

    if($('#projectsettings_example').val()=='true')
    {
        $('#projectsettings_example_icon').addClass('fa-check-square-o');
        $('#projectsettings_example_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_example_icon').removeClass('fa-check-square-o');
        $('#projectsettings_example_icon').addClass('fa-square-o');
    }

    if($('#projectsettings_test').val()=='true')
    {
        $('#projectsettings_test_icon').addClass('fa-check-square-o');
        $('#projectsettings_test_icon').removeClass('fa-square-o');
    }
    else
    {
        $('#projectsettings_test_icon').removeClass('fa-check-square-o');
        $('#projectsettings_test_icon').addClass('fa-square-o');
    }

}

function togglePublic()
{
    $('#projectsettings_public').val(''+!($('#projectsettings_public').val()=='true'));

    updateIcons();
    gui.patch().saveProjectParams();
}

function toggleAutoScreenshot()
{
    $('#projectsettings_autoscreenshot').val(''+!($('#projectsettings_autoscreenshot').val()=='true'));

    updateIcons();
    gui.patch().saveProjectParams();
}

function toggleExample()
{
    $('#projectsettings_example').val(''+!($('#projectsettings_example').val()=='true'));

    updateIcons();
    gui.patch().saveProjectParams();
}

function toggleTest()
{
    $('#projectsettings_test').val(''+!($('#projectsettings_test').val()=='true'));

    updateIcons();
    gui.patch().saveProjectParams();
}



updateIcons();



</script>


</script>
