
<script id="patch_summary" type="text/x-handlebars-template">
    <div class="panel params_op_head panel_head patch_summary">


        <h2 class="nomargin" style="margin-bottom:10px !important;">
            {{#compare project.summary.visibility '==' 'unlisted'}}<span class="icon icon-eye"></span>{{/compare}}
            {{#compare project.summary.visibility '==' 'view_only'}}<span class="icon icon-eye"></span>{{/compare}}
            {{#compare project.summary.visibility '==' 'private'}}<span class="icon icon-lock"></span>{{/compare}}
            <b style="color:var(--color-13)">
                {{#if project.summary.allowEdit}}
                    <a onclick="gui.patchView.store.showModalTitleDialog(this)">{{project.name}}</a>
                {{else}}
                    {{project.name}}
                {{/if}}
            </b>{{#if project.summary.owner.username }} by <a target="_blank" href="{{cablesUrl}}/user/{{project.summary.owner.username}}">{{project.summary.owner.username}}{{/if}}</a>
        </h2>


        {{#if project.description}}
            {{md project.summary.description}}
            <br/><br/>
        {{/if}}


        {{#if project.summary.licence}}
            {{#compare port.uiAttribs.display '!=' 'none' }}
                {{#compare project.summary.licence.name '!=' 'No licence chosen' }}
                    <b>Licence</b>:
                    {{#if project.summary.licence.link}}
                        <a href="{{project.summary.licence.link}}" class="link" target="_blank">{{project.summary.licence.name}}</a>
                    {{else}}
                        {{project.summary.licence.name}}
                    {{/if}}
                    <br/>{{project.summary.licence.description}}
                    <br/><br/>
                {{/compare}}
            {{/compare}}
        {{/if}}

        {{#if project.teams}}
            Teams:
            {{#each project.teams}}
                {{#unless @first}}, {{/unless}}
                <a href="{{../cablesUrl}}{{link}}" target="_blank" class="link">{{name}}</a>
            {{/each}}
            <br/><br/>
        {{/if}}
        {{#if project.summary.patchLists}}
            Lists:
            {{#each project.summary.patchLists}}
                {{#unless @first}}, {{/unless}}
                <a href="{{../cablesUrl}}{{link}}" target="_blank" class="link">{{name}}</a>
            {{/each}}
            <br/><br/>
        {{/if}}

        {{#if project.summary.exampleForOps }}
            {{#each project.summary.exampleForOps}}
                <a target="_blank" href="{{../cablesUrl}}/op/{{.}}" class="button-small">Example for {{.}}</a>
            {{/each}}
            <br/><br/>
        {{/if}}


        {{#if project.summary.isTest }}
            <a target="_blank" href="{{cablesUrl}}/tests/{{project.shortId}}" class="button-small">Run Test </a>
            <br/><br/>
        {{/if}}

        <div>
            {{#if frontendOptions.hasCommunity}}
                <a class="iconbutton" onclick="CABLES.CMD.PATCH.togglePatchLike(this);"><span class="icon icon-heart{{#if project.summary.isFav}}-fill{{/if}}"></span>{{project.summary.numFavs}}</a>
            {{/if}}
            {{#if frontendOptions.hasCommunity}}
                <a class="iconbutton" onclick="CABLES.CMD.UI.settings();"><span class="icon icon-settings"></span></a>
            {{/if}}
            {{#if frontendOptions.hasCommunity}}
                <a class="iconbutton" target="_blank" href="{{cablesUrl}}/p/{{project.shortId}}"><span class="icon icon-external"></span></a>
            {{/if}}
            {{#if frontendOptions.openLocalFiles}}
                <a class="iconbutton" onclick="CABLES.CMD.STANDALONE.openProjectDir();"><span class="icon icon-folder"></span></a>
            {{/if}}
        </div>

    </div>



{{#if sameHost}}
{{else}}
    <div class="warning-error warning-error-level0">
        Patch was last saved on a different environment: <a class="link" href="{{patchHost}}" target="top">{{patchHost}}</a>
    </div>
{{/if}}


</script>
