
<script id="settings" type="text/x-handlebars-template">

    <div class="fleft settings_tabs" style="width:100px;">
        <br/><br/>
        <a class="tab_params active"onclick="gui.projectSettings().tab('params');">Parameters</a>
        <a class="tab_users" onclick="gui.projectSettings().tab('users');">Users</a>
        <a class="tab_reports" onclick="gui.projectSettings().tab('reports');">Reports</a>
        <a class="tab_versions" onclick="gui.projectSettings().tab('versions');">Versions</a>
        <br/>
        <a class="tab_delete" onclick="gui.projectSettings().tab('delete');">Delete</a>
    </div>
    <div class="settings_content projectsettings fleft" style="width:500px;overflow:hidden;">

        <div id="settings_error" class="warning" style="padding:10px;display:none;margin-bottom:15px;"></div>

        <div id="settings_tab_versions" class="hidden">
            <h2>Old Versions</h2>
            <div id="loadversions"></div>
        </div>


        <div id="settings_tab_reports" class="hidden">
            <div id="fpsreports"></div>
        </div>



        <div id="settings_tab_delete" class="hidden">
            <a class="button fa fa-trash-o tt" data-tt="delete" onclick="if(confirm('really?'))gui.deleteCurrentProject();">&nbsp;delete project</a>
        </div>



        <div id="settings_tab_params">


            <table>
                <tr>
                    <td>
                      Patch Name
                    </td>
                    <td style="width: 75%;">
                        <input type="text" class="" id="projectsettings_name" onblur="" value="{{project.name}}" data-info="{{ texts.projectSettingsTitle }}"></input>
                    </td>
                </tr>
                <tr onclick="gui.projectSettings().togglePublic();" class="info" data-info="{{ texts.projectSettingsPublic }}">
                    <td>
                        Public
                        <input type="hidden" id="projectsettings_public" value="{{ project.settings.isPublic }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_public_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>
                <tr onclick="gui.projectSettings().toggleAutoScreenshot();">
                    <td>
                        Manual screenshot
                        <input type="hidden" id="projectsettings_autoscreenshot" value="{{ project.settings.manualScreenshot }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_autoscreenshot_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>

                <!-- <tr>
                    <td>
                        API Secret
                    </td>
                    <td>
                        <input type="text" id="projectsettings_secret" value="{{ project.settings.secret }}" onblur="gui.projectSettings().saveProjectParams();"></input>
                    </td>
                </tr> -->



                {{#if user.isAdmin}}

                    <tr onclick="gui.projectSettings().toggleExample();" class="info" data-info="{{ texts.projectSettingsExample }}">
                        <td>
                            <i class="fa fa-lock"/>
                            example
                            <input type="hidden" id="projectsettings_example" value="{{ project.settings.isExample }}"></input>
                        </td>
                        <td>
                            <a id="projectsettings_example_icon" class="graphbutton fa fa-square-o"></a>
                        </td>
                    </tr>

                    <tr onclick="gui.projectSettings().toggleTest();" class="info" data-info="{{ texts.projectSettingsTest }}">
                        <td>
                            <i class="fa fa-lock"/>
                            testcase
                            <input type="hidden" id="projectsettings_test" value="{{ project.settings.isTest }}"></input>
                        </td>
                        <td>
                            <a id="projectsettings_test_icon" class="graphbutton fa fa-square-o"></a>
                        </td>
                    </tr>
                {{/if}}

            </table>

            <hr/>

            <h2>Tags</h2>
            comma seperated tags<br/>
            <input type="text" id="settings_tags" value="{{ tags }}" />

            <hr/>

            <h2>Description</h2>

            <textarea type="text" id="settings_description" style="height:200px;" >{{ project.description }}</textarea>

<br/><br/>
<div class="bluebutton" onclick="gui.projectSettings().saveParams();">Save Settings</div>


        </div>

        <div id="settings_tab_users" class="hidden">
            <h2>Users</h2>
            <div id="projectSettingsUsers"></div>
            <br/><br/>
        </div>

    </div>

</script>


<script id="settings_users" type="text/x-handlebars-template">

    <ul>
    {{#each userData.users}}
    <li>
        {{username }}
        {{#if owner }}(owner)
        {{else}}
        |
        <a onclick="gui.projectSettings().userManager.removeFromProject( '{{id}}' );">remove</a>
        {{/if}}
    </li>
    {{/each}}
    </ul>

    <div id="adduserdialog" class="hidden">

        <input type="text" id="userid" class="hidden" />
        <select id="userAddSelectBox" onchange="$('#userid').val($(this).val());">
            <option value="">Select</option>
        </select>
        <a class="bluebutton" onclick="gui.projectSettings().userManager.addToProject($('#userid').val());">Add User</a>
    </div>

    <br/>

    <a id="adduserbutton" class="bluebutton" onclick="gui.projectSettings().userManager.showAddUserNames('userAddSelectBox')">Add User</a>
<br/><br/>

</script>
