
<script id="tmpl_projectfiles_list" type="text/x-handlebars-template">
    <h2>files</h2>

    <table class="list">
        {{#each files}}
            <tr>
            <!--
            <td>
                <a class="button fa fa-info-circle" onclick="gui.patch().showFileInfo*()"></a>
            </td>-->
            <td style="text-overflow: ellipsis;">
                <a class="filename" onclick="gui.patch().addAssetOp('{{p}}','{{suffix}}','{{name}}')">
                {{name}}
                </a>
            </td>
            <td>
                <a class="button fa fa-trash-o" onclick="CABLES.api.delete('project/{{projectId}}/file/{{_id}}',null,function(){gui.patch().updateProjectFiles();});"></a>&nbsp;

                {{#compare suffix '==' '.fbx' }}

                <a class="button fa fa-retweet" onclick="gui.showConverter('{{_id}}')"></a>
                {{/compare}}

            </td>
            </tr>
        {{/each}}
    </table>
</script>


<script id="tmpl_projectfiles_upload" type="text/x-handlebars-template">
    <br/>
    <a class="fa fa-upload"></a>
    drag & drop files to browser window to upload...
</script>
