
<script id="tmpl_projectfiles_list" type="text/x-handlebars-template">
    <h2>files</h2>

    <table class="list">
        {{#each files}}
            <tr>
            <!--
            <td>
                <a class="button fa fa-info-circle" onclick="gui.patch().showFileInfo*()"></a> 
            </td>-->
            <td>
                <a class="filename" onclick="gui.patch().addAssetOp('/assets/{{projectId}}/{{_id}}{{suffix}}','{{suffix}}','{{name}}')">
                {{name}}
                </a>
            </td>
            <td>
                <a class="button fa fa-trash-o" onclick="CABLES.api.delete('project/{{projectId}}/file/{{_id}}',null,function(){gui.patch().updateProjectFiles();});"></a>&nbsp;

                <!-- <a class="button fa fa-retweet"></a> -->
            </td>
            </tr>
        {{/each}}
    </table>
</script>


<script id="tmpl_projectfiles_upload" type="text/x-handlebars-template">
    <br/>
    <a class="fa fa-upload"></a>
    drag & drop files to browser window to upload...
</script>


