
<script id="settings" type="text/x-handlebars-template">

    <div class="fleft settings_tabs" style="width:100px;">
        <br/><br/>
        <a class="tab_params active"onclick="gui.projectSettings().tab('params');">Parameters</a>
        <a class="tab_users" onclick="gui.projectSettings().tab('users');">Users</a>
        <a class="tab_secret" onclick="gui.projectSettings().tab('secret');">Secret</a>
        <a class="tab_reports" onclick="gui.projectSettings().tab('reports');">Reports</a>
        <a class="tab_versions" onclick="gui.projectSettings().tab('versions');">Versions</a>
        <br/>
        <a class="tab_delete" onclick="gui.projectSettings().tab('delete');">Delete</a>
    </div>
    <div class="settings_content projectsettings fleft" style="width:500px;overflow:hidden;">

        <div id="settings_error" class="warning" style="padding:10px;display:none;margin-bottom:15px;"></div>

        <div id="settings_tab_versions" class="hidden">
            <h2>Old Versions</h2>
            <div id="loadversions"></div>
        </div>

        <div id="settings_tab_reports" class="hidden">
            <div id="fpsreports"></div>
        </div>

        <div id="settings_tab_delete" class="hidden">
            <h2>Delete Patch</h2>
            will delete this patch once and for all.
            <br/>
            <br/>
            <a class="button fa fa-trash-o tt" data-tt="delete" onclick="if(confirm('really?'))gui.deleteCurrentProject();">&nbsp;delete Patch</a>
        </div>


        <div id="settings_tab_secret" class="hidden">
            <h2>Secret</h2>
            

                by setting a secret you can share the url of a patch without public listing it on cables.gl
                <br/><br/>
                <table style="width:100%">
                    <tr>
                        <td>Secret:</td>
                        <td><input type="text" id="projectsettings_secret" value="{{ project.settings.secret }}"  style="width:100%;"/></td>
                    </tr>
                </table>
                
                <br/><br/>
                <a class="bluebutton" onclick="$('#projectsettings_secret').val(CABLES.uuid());gui.projectSettings().saveParams();gui.projectSettings().show();gui.projectSettings().tab('secret');">generate secret</a>
                <a class="button" onclick="$('#projectsettings_secret').val('');gui.projectSettings().saveParams();gui.projectSettings().show();gui.projectSettings().tab('secret');">clear</a>

                <br/><br/>

                {{#if project.settings.secret}}
                        <a target="_blank" href="https://cables.gl/p/{{project._id}}?s={{project.settings.secret}}">https://cables.gl/p/{{project._id}}?s={{project.settings.secret}}</a>
                    {{else}}
                        Your project is private!
                {{/if}}
                

            
        </div>
    

        <div id="settings_tab_params">

			<h2>Settings</h2>


            <table>
                <tr>
                    <td>
                      Patch Name
                    </td>
                    <td style="width: 75%;">
                        <input type="text" class="" id="projectsettings_name" onblur="" value="{{project.name}}" data-info="{{ texts.projectSettingsTitle }}"></input>
                    </td>
                </tr>
                <tr onclick="gui.projectSettings().togglePublic();" class="info" data-info="{{ texts.projectSettingsPublic }}">
                    <td>
                        Public
                        <input type="hidden" id="projectsettings_public" value="{{ project.settings.isPublic }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_public_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>
                <tr onclick="gui.projectSettings().toggleAutoScreenshot();">
                    <td>
                        Manual screenshot
                        <input type="hidden" id="projectsettings_autoscreenshot" value="{{ project.settings.manualScreenshot }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_autoscreenshot_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>


            </table>

            <hr/>

            <h2>Tags</h2>
            enter some tags<br/>

			<div class="taginputcontainer">
				<div id="taginput"></div>
				<div class="clear"></div>
			</div>


			<input type="text" id="settings_tags" value="{{ tags }}" readonly style="opacity:0.5;display:none;"/>


            <hr/>

            <h2>Description</h2>

            <textarea type="text" id="settings_description">{{ project.description }}</textarea>

            <br/><br/>
            <div class="bluebutton" onclick="gui.projectSettings().saveParams();">Save Settings</div>

            <br/><br/>
            <br/><br/>
            <h2>Admin stuff</h2>

            {{#if user.isAdmin}}
            <table style="width:100%">
                <tr onclick="gui.projectSettings().toggleExample();" class="info" data-info="{{ texts.projectSettingsExample }}">
                    <td>
                        <i class="fa fa-lock"/>
                        example
                        <input type="hidden" id="projectsettings_example" value="{{ project.settings.isExample }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_example_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>

                <tr onclick="gui.projectSettings().toggleTest();" class="info" data-info="{{ texts.projectSettingsTest }}">
                    <td>
                        <i class="fa fa-lock"/>
                        testcase
                        <input type="hidden" id="projectsettings_test" value="{{ project.settings.isTest }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_test_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>

                <tr onclick="gui.projectSettings().toggleTemplate();" class="info" data-info="{{ texts.projectSettingsTemplate }}">
                    <td>
                        <i class="fa fa-lock"/>
                        default template
                        <input type="hidden" id="projectsettings_template" value="{{ project.settings.isTemplate }}"></input>
                    </td>
                    <td>
                        <a id="projectsettings_template_icon" class="graphbutton fa fa-square-o"></a>
                    </td>
                </tr>


                <tr onclick="" class="info" data-info="{{ texts.projectSettingsTemplate }}">
                    <td>
                        <i class="fa fa-lock"/>
                        op example
                    </td>
                    <td>
                        <input type="text" id="projectsettings_opExample" value="{{ project.settings.opExample }}" style="width:100%;"></input>
                    </td>
                </tr>
            </table>
            {{/if}}

        </div>

        <div id="settings_tab_users" class="hidden">
            <h2>Users</h2>
            <div id="projectSettingsUsers"></div>
            <br/><br/>
        </div>

    </div>

</script>


<script id="settings_users" type="text/x-handlebars-template">

    <ul>
    {{#each userData.users}}
    <li>
        {{username }}
        {{#if owner }}(owner)
        {{else}}
        |
        <a onclick="gui.projectSettings().userManager.removeFromProject( '{{id}}' );">remove</a>
        {{/if}}
    </li>
    {{/each}}
    </ul>

    <div id="adduserdialog" class="hidden">

        <input type="text" id="userid" class="hidden" />
        <select id="userAddSelectBox" onchange="$('#userid').val($(this).val());">
            <option value="">Select</option>
        </select>
        <a class="bluebutton" onclick="gui.projectSettings().userManager.addToProject($('#userid').val());">Add User</a>
    </div>

    <br/>

    <a id="adduserbutton" class="bluebutton" onclick="gui.projectSettings().userManager.showAddUserNames('userAddSelectBox')">Add User</a>
<br/><br/>

</script>
