

<script id="projects" type="text/x-handlebars-template">



<div id="projects">
<h2>my projects:</h2>

<table>
    {{#each projects}}
    <tr>
        <td style="width:70%;">
            <a href="#/project/{{_id}}">{{name}}</a>
        </td>
        <td>
            <span class="button fa fa-trash-o tt" data-tt="delete" onclick="if(confirm('delete ?')) CABLES.api.delete('project/{{_id}}',{},function(){ ui.updateProjectList(); } );"></span>
            &nbsp;<span class="button fa fa-pencil-square-o tt" data-tt="rename" onclick="CABLES.api.put('project/{{_id}}',{name:prompt('projectname','{{name}}')},function(){ ui.updateProjectList(); } );"></span>
        </td>
    </tr>
    {{/each}}

</table>

<br/>
<span class="button" onclick="gui.createProject();">create project</span>



</div>

</script>
