
<script id="socketinfo" type="text/x-handlebars-template">
    Socket Connected: {{connected}}
    <br/>
    Num clients: {{numClients}}
    <br/>
    {{#if ping}}Ping http: {{ping}}
    <br/>
    {{/if}}

</script>


<script id="socket_userlist" type="text/x-handlebars-template">

    {{#each clients}}
        <div style="color:black;text-align:center;display:inline-block;width:24px;height:24px;background-color:rgb({{color.rb}},{{color.gb}},{{color.bb}});border-radius:100px;overflow: hidden;background-image:url({{apiUrl}}/api/avatar/{{userid}});">{{shortname}}</div>
    {{/each}}



</script>

