

<script id="suggestions" type="text/x-handlebars-template">

    {{#if showSelect}}<div id="suggestionOpSelect" class="opSelect" onclick="CABLES.UI.suggestions.showSelect();" >+</div>{{/if}}
    {{#each suggestions}}
        <div class="suggestion suggestion{{id}} {{#if recommended}}recommended-suggestion{{/if}}" id="suggestion{{id}}" onClick="CABLES.UI.suggestions.action({{id}});" style="transform:rotate({{rot}}deg);margin-left:{{left}}px;margin-top:{{top}}px;transform-origin:center left;">

            {{#if classname}}
                <span class="{{classname}}">◼</span>
            {{/if}}

            {{{shortName}}}

            {{#if isBoundToVar}}[##]{{/if}}
            {{#if isAnimated}}[/\]{{/if}}
        </div>
    {{/each}}

</script>
