
<script id="tab_itemmanager" type="text/x-handlebars-template">
    <div id="filemanagercontainer" style="height:99%">

        <div id="itemmanager_header" style="width:100%;height:50px;"></div>

        <div class="filelistcontainer" style="height:calc(100% - 260px);overflow-y:auto;">
            {{#each items}}

            {{#if divider}}
                <div style="clear:both"></div>
                <div style="border-bottom:1px solid var(--color-07);margin-bottom:5px;" class="text-center">
                    <h1>{{divider}}</h1>
                </div>
            {{else}}
                <div class="item-container {{#if selected}} selected {{/if}}" id="item{{id}}">
                    <div style="">
                        {{#if preview}}
                        <div class="preview" style="width:90%;height:90%;background-color:#777;background-image:url(img/checkerboard.png);background-size:40%;background-repeat:repeat;">
                            <div style="background-image:url({{preview}}?rnd={{file.cachebuster}});width:100%;height:100%;background-size:contain;background-repeat:no-repeat;background-position:center center;">
                            </div>
                        </div>
                        {{else}}
                        <div class="preview text-center" style="width:90%;height:90%;background-color:#555;" >
                            <br/>
                            <span class="icon icon-{{icon}} icon-4x"></span>
                        </div>
                        {{/if}}
                    </div>
                    <span>{{title}}</span>
                </div>
                {{/if}}
            {{/each}}
            <div style="clear:both"></div>
        </div>

        <div id="item_details" style="width:100%;height:200px;overflow-y:auto;padding:10px;background-color:var(--color-03)"></div>
    </div>

</script>

<script id="filemanager_header" type="text/x-handlebars-template">

    <a class="fileManagerSource {{#compare source '==' 'patch' }}activeFileManagerSource{{/compare}}" onclick="gui.fileManager.setSource('patch');">Patch Files</a>
    <a class="fileManagerSource {{#compare source '==' 'patch' }}{{else}}activeFileManagerSource{{/compare}}" onclick="gui.fileManager.setSource('lib');">Library Files</a>

    {{#if fileSelectOp}}
        <span style="border:2px solid var(--color-special);padding:7px;border-radius:10px;cursor:pointer;" onclick="gui.fileManager.setFilePort(null);">
            Selection mode for: {{fileSelectOp.objName}} 
            <span class="icon icon-x"></span>
        </span>
    {{/if}}

</script>

<script id="filemanager_details" type="text/x-handlebars-template">

    <div class="filemanager-detail-element">

        {{#if file.imgPreview}}
            <img src="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}?rnd={{file.cachebuster}}" style="height:100%;max-width:100%;"/>
        {{else}}
            No preview!!
        {{/if}}

    </div>
    <div class="filemanager-detail-element">
        <div style="padding:10px;">

            <a class="tt icon icon-1x icon-download iconhover" data-tt="download file" data-infotext="file_download" download href="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}?rnd={{file.cachebuster}}"></a>
            &nbsp;&nbsp;<a class="tt icon icon-1x icon-external iconhover" data-tt="open in new window" data-infotext="file_open" target="_blank" href="/assets/{{file.fileDb.projectId}}/{{file.fileDb.fileName}}?rnd={{file.cachebuster}}"></a>
            <!-- &nbsp;&nbsp;<a class="tt icon icon-1x icon-editbox iconhover" data-tt="edit file" data-infotext="file_edit"></a> -->
            &nbsp;&nbsp;<a class="tt icon icon-1x icon-search iconhover" data-tt="search in patch" data-infotext="file_search" onclick="gui.find().show('{{file.fileDb.fileName}}')"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="tt icon icon-1x icon-trash iconhover" data-tt="delete file" id="filedelete{{file.fileDb._id}}" data-infotext="file_delete"></a>

            <br/><br/>

            <b>{{file.fileDb.fileName}}</b>
            
            <br/><br/>
            {{#if file.imgSizeWidth}}
                    {{file.fileDb.type}}: {{ file.imgSizeWidth }} x {{ file.imgSizeHeight }} ({{file.sizeReadable}})
                {{else}}
                    {{file.fileDb.type}} ({{file.sizeReadable}})
            {{/if}}

            <br/><br/>
            last change: {{file.readableDateSince}}<br/>
            {{file.readableDate}}
            <br/><br/>

        </div>
    </div>
    <div class="filemanager-detail-element">
        {{#if file.ops}}
            File Ops
            <br/><br/>
            {{#each file.ops}}
                <a class="button fa fa-plus-circle" onclick="gui.patch().addAssetOp('{{op}}','{{portname}}','{{../file.fileDb.fileName}}','{{title}}')">&nbsp;add <b>{{op}}</b></a>
                <br/><br/>
            {{/each}}
        {{/if}}

        {{#if file.converters}}
            File Tools
            <br/><br/>
            {{#each file.converters}}
                <a class="button fa fa-retweet" onclick="gui.showConverter('{{ id }}','{{ ../file.fileDb.projectId }}','{{ ../file.fileDb._id }}','{{ name }}');">&nbsp;{{ name }}</a>
                <br/>
            {{/each}}
        {{/if}}
    </div>
    <div style="clear:both;"></div>



</script>
