<script id="tab_electron_opdirs" type="text/x-handlebars-template">
    <div class="tabContentScrollContainer">
        <h2>Op Directories</h2>
        Manage directories from where to find Ops.
        <br/><br/>
        If multiple Ops with the same name exist, the Op will be loaded from the directory higher on this list.
        <br/><br/>
        <a id="addOpDir" class="button-small button-icon tt info"><span class="icon icon-file-plus"></span>&nbsp; Add Directory</a>

        <br/><br/>
        {{#if dirs}}
            <table class="table">
                <thead>
                    <th></th>
                    <th>Type</th>
                    <th>Directory</th>
                    <th>Num Ops</th>
                    <th>Used</th>
                    <th></th>
                </thead>
                <tbody>
                    {{#each dirs}}
                    <tr data-id="{{@index}}" data-dir="{{dir}}">
                        <td><a class="icon icon-folder icon-0_75x" data-dir="{{dir}}" onclick="CABLESUILOADER.talkerAPI.send('openDir', { 'dir': this.dataset.dir});"></a></td>
                        <td>{{type}}</td>
                        <td><span class="dir">{{dir}}</span></td>
                        <td>{{numOps}}</td>
                        <td>{{#if numUsedOps}}{{numUsedOps}}{{/if}}</td>
                        <td>{{#if showOptions}}<a class="opdirthreedot" data-tt="more options" data-dir="{{dir}}"><span class="icon icon-three-dots"></span></a>{{/if}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>

</script>
