<script id="tab_standalone_opdirs" type="text/x-handlebars-template">

    <div class="tabContentScrollContainer">
        <h2>Op Directories</h2>
        Manage directories from where to pick Ops in this project.
        <br/><br/>
        If multiple Ops with the same name exist,<br/>
        the Op will be loaded from the directory higher on this list.
        <br/><br/>
        <a id="addOpProjectDir" class="button-small button-icon tt info" data-into="add op dir" data-tt="add op dir"><span class="icon icon-file-plus"></span>Add Directory</a>
        <a id="addOpPackage" class="button-small button-icon tt info" data-into="add op package" data-tt="add op package"><span class="icon icon-file-plus"></span>Add Package</a>

        <br/><br/>
        {{#if dirs}}
            <div id="dirlist" class="dragList draggable">
            {{#each dirs}}
                    <div class="draggable" data-id="{{@index}}" data-dir="{{dir}}" {{#compare numUsedOps '==' 0}}style="background-color: var(--color-04);" {{/compare}}>
                        {{#unless fixedPlace}}<span class="handle icon-grip icon icon-0_75x draggable" style="float: none;"></span>{{/unless}}
                        <span class="dir">{{dir}}</span>
                        <span class="controls" style="float: right">
                            <span class="usedOps">{{numUsedOps}}/</span><span class="ops">{{numOps}}</span>&nbsp;
                            <a class="icon icon-folder icon-0_75x" onclick="CABLESUILOADER.talkerAPI.send('openDir', { 'dir': '{{dir}}'});"></a>&nbsp;
                            {{#unless @last}}<a class="removeOpProjectDir icon icon-x icon-0_75x" data-dir="{{dir}}"></a>{{/unless}}
                        </span>
                    </div>
            {{/each}}
                <div class="highlightBlock info hidden" style="margin-top: 20px;"></div>
            </div>
        {{/if}}
    </div>

</script>


