<script id="tab_find" type="text/x-handlebars-template">

<div style="display: grid;grid-template-rows: 150px auto;height: 100%;">
    <div style="overflow: auto;">
        <div id="tabsearchbox" class="tabsearchbox">
            <input class="medium notIgnoreEscape" id="{{inputid}}" autocomplete="off" style="margin:4px;width:95%;" type="search">
            <input class="hidden" id="{{inputid}}_toggles" autocomplete="off"  type="search">
        </div>

        Find Ops:&nbsp;

        {{#each toggles}}
            <a class="findToggle" data-togglestr=":{{.}}" id="{{../inputid}}_{{.}}" >{{.}}</a>
        {{/each}}

        {{#each colors}}
            &nbsp;<a onclick="gui.find(':color={{.}}')" style="background-color:{{.}};color:black;" class="button-small">color</a>
        {{/each}}

        <br/>
        <br/>

    </div>
    <div style="overflow: auto;">
        <div id="tabsearchresult" class="tabSearchResultsContainer"></div>
        <div id="ophistory" class=""></div>
    </div>
</div>
</script>


