<script id="tab_find" type="text/x-handlebars-template">

    <div class="tabContentScrollContainer">

        <div id="tabsearchbox" class="tabsearchbox">
            <input class="medium info notIgnoreEscape" id="{{inputid}}" autocomplete="off" style="margin:0px;width:100%;" type="search">
        </div>

        <br/>
        Find Ops:&nbsp;
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':recent';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Recently used</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':outdated';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Outdated</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':bookmarked';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Bookmarked</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':commented';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Commented</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':unconnected';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Unconnected</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':user';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">User Made</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':error';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">With Errors</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':warning';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">With Warnings</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':hint';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Any Hint</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':dupassets';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Duplicate Assets</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':extassets';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">External Assets</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':textures';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">Textures</a>
        <a class="button-small" onclick="document.getElementById('{{inputid}}').value=':history';document.getElementById('{{inputid}}').dispatchEvent(new Event('input'));">History</a>

        {{#each colors}}
        &nbsp;<a onclick="gui.find(':color={{.}}')" style="background-color:{{.}};color:black;" class="button-small">color</a>
        {{/each}}

        <br/><br/>

        <div id="tabsearchresult" class="tabSearchResultsContainer">
        </div>

        <div id="ophistory" class="">
        </div>
    </div>



</script>


