<script id="tab_uiprofile" type="text/x-handlebars-template">

    <div class="tabContentScrollContainer">
        <h3>UI Profiler</h3>

        <div id="uiperfcontainer">
            <a onclick="gui.uiProfiler.clear();" class="button-small">reset</a>
            <input id="uiPerfFilter" placeholder="Filter" style="width:50%" type="search" />
            <br/>
            <br/>
            <div id="uiperf"></div>
        </div>
    </div>

</script>
<script id="uiperformance" type="text/x-handlebars-template">


    <table class="table">
        <tr>
            <th>name</th>
            <th>count</th>
            <th>ps</th>
            <th>last</th>
            <th>avg</th>
            <th>max</th>
            <th>info</th>
        </tr>

        {{#each measures}}
            <tr onclick="gui.uiProfiler.highlight('{{name}}')" class="{{#if highlight}}highlighted{{/if}}" >
                <td class="{{color}}">{{name}}</td>
                <td class="{{color}}">{{count}}</td>
                <td class="{{color}}">{{aps}}</td>
                <td class="{{color}}">{{last}}ms</td>
                <td class="{{color}}">{{avg}}ms</td>
                <td class="{{color}}">{{max}}ms</td>
                <td class="{{color}}">{{text}}</td>
            </tr>
        {{/each}}
    </table>


</script>
