<script id="tab_chat" type="text/x-handlebars-template">


    <div class="tabContentScrollContainer">

        <div id="netactivity">
            Traffic - In: <span id="netactivityIn"></span> - Out: <span id="netactivityOut"></span>
        </div>
        <h3>Clients</h3>
        <div id="chat-clientlist"></div>

        <hr/>
        <h3>Chat</h3>
        <div id="chatmsgs" ></div>
        <input type="text" id="newchatmsg"/>
        <a onclick="gui.socket.chat.send(document.getElementById('newchatmsg').value);document.getElementById('newchatmsg').value='';" class="button">send</a>
    </div>

</script>


<script id="chat_clientlist" type="text/x-handlebars-template">

    <table>
    {{#each clients}}
        {{#if isRemoteClient }} {{else}}
        <tr>
            <td>
                <span style="display:inline-block;width:12px;height:12px;border-radius:20px;background-color:rgb({{color.rb}},{{color.gb}},{{color.bb}});"></span>
            </td>
            <td>
                {{username}}
            </td>
            <td>
                {{#if isMe}} (me) {{/if}}
                {{#if lost}}timeout??{{/if}}
            </td>
        </tr>
        {{/if}}
    {{/each}}
    </table>

</script>
