
<script id="tab_manage_op" type="text/x-handlebars-template">

    <div class="tabContentScrollContainer">
        <img src="{{url}}/api/op/layout/{{opname}}" style="margin-top:10px;">
        <br/>
        <h2>Op {{opDoc.shortName}}</h2>
        {{opname}}
        <br/>
        <div class="summary selectable">
            <br/><b>{{summary}}</b>
        </div>
        <br/>

        <span class="button-small button-icon" onclick="gui.serverOps.edit('{{opname}}', {{readOnly}},null,true);">{{#if canEditOp}}<span class="icon icon-edit"></span>{{else}}<span class="icon icon-file"></span>{{/if}}</span>

        <a class="button-small" target="_blank" href="{{url}}/op/{{opname}}">Op Page / Documentation</a>

        <span class="button-small" onclick="gui.serverOps.cloneDialog('{{opname}}');">Clone op code</span><a class="button-small" target="_blank" href="{{url}}/op/rename?op={{opname}}&new={{opname}}">Rename Op</a>
        <br/>
        <br/>

        {{#if warns}}
            <div class="groupSpacer"><h3>Warnings</h3></div>
            <div class="params">
                {{#each warns}}
                    <div class="warning-error warning-error-level1"><b>{{id}}</b> {{{text}}}</div>
                    <br/>
                {{/each}}
            </div>
        {{/if}}


        {{#if portJson}}
            <div class="groupSpacer"><h3>Ports</h3></div>


            {{#if bpSaved}}{{else}}
                <span class="error">Please save your blueprint to make changes to ports!</span>
            {{/if}}

            <table class="table" style="{{#if bpSaved}}{{else}}opacity:0.33;pointer-events:none;{{/if}}"">
                <tr>
                    <th>Inputs</th>
                    <th style="width:40%">Title</th>
                    <th>default</th>
                    <th>display</th>
                    <th></th>
                </tr>
                {{#each portJson.ports}}

                {{#if divider}}
                <tr>
                    <th>Outputs</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {{/if}}

                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;
                        <span class="button-small button-icon" style="margin-right:0px;border-top-right-radius: 0;border-bottom-right-radius: 0;padding-left:5px;padding-right:2px;" id="{{../viewId}}_port_up_{{id}}"><span class="icon icon-chevron-up"></span></span><span class="button-small button-icon" style="margin-left:0px;border-top-left-radius: 0;border-bottom-left-radius: 0;padding-left:2px;padding-right:5px;" id="{{../viewId}}_port_down_{{id}}"><span class="icon icon-chevron-down"></span></span>
                        <span class="button-small button-icon" id="{{../viewId}}_port_title_{{id}}"><span class="icon icon-edit"></span></span>
                    </td>
                    <td>
                        <span class="portType_{{type}}_background">&nbsp;&nbsp;&nbsp;</span>&nbsp;
                        {{title}}
                    </td>
                    <td>{{value}}</td>
                    <td>{{uiDisplay}}</td>
                    <td>
                        <span class="button-small button-icon" id="{{../viewId}}_port_delete_{{id}}"><span class="icon icon-x"></span></span>
                    </td>
                </tr>


                {{/each}}
            </table>

            <a class="button" id="{{viewId}}_port_create"><span class="icon icon-plus-circle icon-1_25x"></span>Create Port</a>
            <br/><br/>
        {{/if}}

        <br/>
        <div class="groupSpacer"><h3>Files</h3></div>
        <table class="table">
            <tr>
                <th>Filename</th>
                <th>Type</th>
                <th></th>
            </tr>
            <tr>
                <td onclick="gui.serverOps.edit('{{opname}}', {{readOnly}},null,true);" style="cursor:pointer">
                    <a class="icon icon-edit iconhover" ></a>&nbsp;{{opname}}.js
                </td>
                <td>
                    Main Source File
                </td>
                <td></td>
            </tr>

            {{#if doc.attachmentFiles}}
                {{#each doc.attachmentFiles}}
                    <tr>
                        <td onclick="gui.serverOps.editAttachment('{{../opname}}','{{original}}');" style="cursor:pointer">
                            <a class="icon icon-edit iconhover" onclick="gui.serverOps.editAttachment('{{../opname}}','{{original}}');"></a>&nbsp; {{readable}}
                        </td>
                        <td>
                            Attachment
                        </td>
                        <td>
                            <a class="icon-x icon iconhover" style="text-align:right" onclick="gui.serverOps.deleteAttachment('{{../opname}}','{{../opid}}','{{original}}');"></a>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </table>

        <a class="button" onclick="gui.serverOps.addAttachmentDialog('{{opname}}');"><span class="icon icon-plus-circle icon-1_25x"></span>Create Attachment</a>

        <br/><br/>

        <div class="groupSpacer"><h3>Core-Libs</h3></div>

        {{#if doc.coreLibs}}
            <table class="table">
                <tr>
                    <th>Filename</th>
                    <th> </th>
                </tr>

                {{#each doc.coreLibs}}
                    <tr>
                        <td>{{.}}</td>
                        <td>
                            {{#if ../canEditOp}}
                            <a class="icon-x icon iconhover" style="text-align:right" onclick="gui.serverOps.removeCoreLib('{{../opname}}','{{.}}');"></a>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}

        <div class="libselect">
            <select id="addcorelib">
                <option value="">---</option>
                {{#each coreLibs}}
                <option value="{{.}}">{{.}}</option>
                {{/each}}
            </select>
            <a class="button-small" onclick="gui.serverOps.addCoreLib('{{opname}}', ele.getSelectValue(ele.byId('addcorelib')));">Add</a>
        </div>

        <br/><br/>
        <div class="groupSpacer"><h3>Libs</h3></div>

        You can upload .js files that can be used as libraries for your own ops

        {{#if doc.libs}}
            <table class="table">
                <tr>
                    <th>Filename</th>
                    <th> </th>
                </tr>
                {{#each doc.libs}}
                    <tr>
                        <td>{{.}}</td>
                        <td>
                            {{#if ../canEditOp}}
                            <a class="icon-x icon iconhover" style="text-align:right" onclick="gui.serverOps.removeOpLib('{{../opname}}','{{.}}');"></a>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{/if}}

        <div class="libselect">
            <select id="addoplib">
                <option value="">---</option>
                {{#each libs}}
                <option value="{{url}}">{{#if isAssetLib}}in patch - {{/if}}{{name}}</option>
                {{/each}}
            </select>
            <a class="button-small" onclick="gui.serverOps.addOpLib('{{opname}}', ele.getSelectValue(ele.byId('addoplib')));">Add</a>
        </div>


    </div>

</script>
