<script id="tab_keybindings" type="text/x-handlebars-template">

    <div style="height: 100%;">
        <div style="overflow: auto;">

            <span class="button" id="keybind_add">add</span>
            <br/>
            <table style="width:100%">
            <tr>
                <td>Left Mousn Doubleclick</td>
                <td>Create op</td>
                <td>
                    <a class="button-small">edit</a>
                </td>
            </tr>
            <tr>
                <td>Left Mousn Doubleclick</td>
                <td>srtnertstsrne</td>
                <td>
                    <a class="button-small">edit</a>
                </td>
            </tr>
            </table>

        </div>
    </div>

</script>


