<script id="tab_keys" type="text/x-handlebars-template">

<style>
</style>

<div class="tabcontent-scroll padding" style="padding-top: 0;">

    <h2>Keyboard shortcuts</h2>
    {{#if showDownloadButton}}
    <span class="button-small" onclick="gui.keys.download()"><i class="icon icon-lock"></i> Download Markdown</span>
    {{/if}}
    <table>
        {{#each keys}}
            {{#if group}}
            <tr>
                <td></td>
                <td></td>
                <td>
                    <br/><br/>
                    <h2 style="text-transform:capitalize;">{{group}}</h2>
                </td>
            </tr>
            {{/if}}
            <tr>
                <td class="keyline" style="text-align: right;">
                    {{#if options.cmdCtrl}}<code class="key">CMD</code> + {{/if}}
                    {{#if options.shiftKey}}<code class="key">SHIFT</code> + {{/if}}
                </td>
                <td class="keyline">
                    <code class="key">{{key}}</code>
                    &nbsp;
                </td>
                <td class="keyline">{{title}}</td>
            </tr>
        {{/each}}
    </table>
</div>

</script>
