
<script id="tabpanel_bar" type="text/x-handlebars-template">
    
    <div class="tabs" style="position:relative;">
        <!-- <div class="taboptions" > -->
            <!-- <div class="tt icon icon-triple-dot iconhover" data-tt="more options" style=""></div> -->
        <!-- </div> -->

        {{#each tabs}}
            <div class="tabcontainer">
                <div id="editortab{{id}}" data-id="{{id}}" class="tab {{#if options.wasChanged}} unsaved {{/if}} {{#if options.closable}} closable {{/if}} {{#if active}} active {{/if}}{{#if options.infotext}} info {{/if}}" style="{{#if options.showTitle}}{{else}} min-width:19px !important;max-width:19px !important;padding-left: 10px; {{/if}}" {{#if options.infotext}} data-infotext="{{options.infotext}}"{{/if}}>
                    {{#if icon }} <span class="tabicon icon-{{icon}} icon fleft"></span> &nbsp;{{/if}}
                    {{#if options.showTitle }}{{title}}{{/if}}
                    {{#if unsaved }} ! {{/if}}
                </div>
            </div>
        {{/each}}
        <div class="fright">
            <!-- <div class="tt icon icon-chevron-left iconhover" style="margin:7px;margin-right:12px;" onclick="CABLES.CMD.UI.toggleEditor()" data-tt="minimize editor"></div> -->
        </div>
        <div style="clear:both;"></div>
    </div>

</script>


<script id="tabpanel_toolbar" type="text/x-handlebars-template">

    <div class="tabtoolbar" id="toolbarContent{{id}}" style="float:left;"></div>

    {{#if options.closable}}
        <div 
            id="closetab{{id}}" 
            data-id="{{id}}" 
            style="margin-top: 8px;margin-right:10px;float:right;position: absolute;right: 0px;"
            class="icon-x icon icon-1_5x fright iconhover" ></div>
    {{/if}}
    <div style="clear:both;"></div>

</script>