

<script id="timeline_controler" type="text/x-handlebars-template">

    <div id="timelineui">
        <a id="button_toggleTiming" class="button">timing</a>

        <span class="timelinetime" onclick="gui.timeLine().toggleTimeDisplayMode();"></span>
        <span class="button timeLineInsert fa fa-plus-square-o"></span>

        <a class="button fa fa-step-backward" onclick="gui.timeLine().gotoZero();"></a>
        <a class="button fa fa-backward" onclick="gui.timeLine().gotoOffset(-2);"></a>
        <a class="button fa fa-play " id="timelineplay" onclick="gui.timeLine().togglePlay()"></a>
        <a class="button fa fa-forward" onclick="gui.timeLine().gotoOffset(2);"></a>

        <input type ="range" min="20" max="2000" value="" step ="1" oninput="gui.timeLine().setTimeScale(this.value);" style="float:left;width:85px;margin-left:20px;margin-top:10px;" class="tt" data-tt="scale time display"/>


        <a id="keymovemode" class="button fa fa-arrows tt" data-tt="key move mode" ></a>
        <a id="keyscaleheight" class="button fa fa-ellipsis-v tt" data-tt="scale value display"></a>
        <a id="keyscalewidth" class="button fa fa-ellipsis-h tt" data-tt="show all keys"></a>

        <a id="centercursor" class="button fa fa-i-cursor tt" data-tt="scroll to cursor"></a>

        <a id="loop" class="button fa fa-retweet tt" data-tt="toggle loop"></a>


<a onclick="$('.easingselect').toggle();" class="button">ease</a>



<div class="" style="float:right">
    <div class="hidden easingselect" >

<div class="select">
    <h3>in_out</h3>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_INOUT);">sin</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_INOUT);">cubic</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_INOUT);">expo</a><br/>
    <br/>

    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_LINEAR);">linear</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_ABSOLUTE);">absolute</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SMOOTHSTEP);">smoothstep</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SMOOTHERSTEP);">smootherstep</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_BEZIER);">bezier</a><br/>
</div>

<div class="select">
    <h3>in</h3>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_IN);">sin</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_IN);">cubic</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_IN);">expo</a><br/>
</div>

<div class="select">
    <h3>out</h3>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_SIN_OUT);">sin</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_CUBIC_OUT);">cubic</a><br/>
    <a onclick="gui.timeLine().setSelectedKeysEasing(CABLES.TL.EASING_EXPO_OUT);">expo</a><br/>
</div>




<!--
        // <a id="ease_linear" class="button tt" data-tt="easing: linear">lin</a>
        // <a id="ease_absolute" class="button tt" data-tt="easing: absolute">abs</a>
        // <a id="ease_smoothstep" class="button tt" data-tt="easing: smoothstep">smo</a>
        // <a id="ease_smootherstep" class="button tt" data-tt="easing: smootherstep">smo2</a>
        // <a id="ease_bezier" class="button tt" data-tt="easing: smootherstep">bez</a>
        -->
    </div>
</div>





    </div>

    <div id="timelineTitle" ></div>
    <div id="timetimeline" ></div>
    <div id="timeline" tabindex="2"></div>



</script>
