

<script id="timeline_controler" type="text/x-handlebars-template">

<div id="timelineui">

    <a class="button" onclick="ui.toggleTiming();">timing</a>

    <span class="timelinetime"></span>
    <span class="button timeLineInsert fa fa-plus-square-o"></span>

    <a class="button fa fa-step-backward" onclick="ui.scene.timer.setTime(0);"></a>
    <a class="button fa fa-backward" onclick="ui.scene.timer.setOffset(-2);"></a>
    <a class="button fa fa-play " id="timelineplay" onclick="ui.timeLine.togglePlay()"></a>
    <a class="button fa fa-forward" onclick="ui.scene.timer.setOffset(2);"></a>

    <input type ="range" min="20" max="2000" value="" step ="1" oninput="ui.timeLine.setTimeScale(this.value);" style="float:left;width:85px;margin-left:20px;margin-top:10px;"/>

    <a id="keymovemode" class="button fa fa-arrows-h" ></a>

</div>

    <div id="timetimeline" ></div>
    <div id="timeline" tabindex="2"></div>


</script>
