

<script id="timeline_controler" type="text/x-handlebars-template">

    <div id="timelineui" data-info="{{ texts.timelineui }}">
        <a id="button_toggleTiming" class=""><i class="fa fa-caret-up"></i>timing</a>

        <span class="timelinetime" onclick="gui.timeLine().toggleTimeDisplayMode();"></span>

        <a class="button fa fa-step-backward" onclick="gui.timeLine().gotoZero();"></a>
        <a class="button fa fa-backward" onclick="gui.timeLine().gotoOffset(-2);"></a>
        <a class="button fa fa-play " id="timelineplay" onclick="gui.timeLine().togglePlay()"></a>
        <a class="button fa fa-forward" onclick="gui.timeLine().gotoOffset(2);"></a>

        <a class="button fa fa-volume-up" id="timelineVolume" onclick="gui.toggleMute();"></a>


        <div id="keycontrols">
            <span class="button timeLineInsert fa fa-plus-square-o"></span>

            <input type ="range" min="20" max="2000" value="" step ="1" oninput="gui.timeLine().setTimeScale(this.value);" style="float:left;width:85px;margin-left:20px;margin-top:10px;" class="tt" data-tt="scale time display"/>


            <a id="keymovemode" class="button fa fa-arrows-h tt" data-tt="key move mode" ></a>
            <a id="keyscaleheight" class="button fa fa-ellipsis-v tt" data-tt="scale value display"></a>
            <a id="keyscalewidth" class="button fa fa-ellipsis-h tt" data-tt="show all keys"></a>
            <a id="centercursor" class="button fa fa-i-cursor tt" data-tt="scroll to cursor"></a>
            <a id="loop" class="button fa fa-retweet tt" data-tt="toggle loop"></a>
            <a id="toggleMultiGraphKeyDisplay" class="button fa fa-line-chart tt" data-tt="toggle key display of multiple graphs / right click - remove all graphs"></a>


            <a onclick="$('.easingselect').toggle();" class="button">ease</a>
        </div>

    </div>

    <div id="timelineTitle" ></div>
    <div id="timetimeline" ></div>
    <div id="timeline" tabindex="2"></div>





</script>
