<script id="uiperformance" type="text/x-handlebars-template">

<div style="text-align: right;">
    <a class="icon-x icon icon-1_5x" onclick="CABLES.UI.uiProfiler.hide();"></a>
</div>

    <table class="table">
        <tr>
            <th>name</th>
            <th>count</th>
            <th>last</th>
            <th>avg</th>
        </tr>

        {{#each measures}}
            <tr onclick="CABLES.UI.uiProfiler.highlight('{{name}}')" class="{{#if highlight}}highlighted{{/if}}" >
                <td class="{{color}}">{{name}}</td>
                <td class="{{color}}">{{count}}</td>
                <td class="{{color}}">{{last}}</td>
                <td class="{{color}}">{{avg}}</td>
            </tr>
        {{/each}}
    </table>

    <a onclick="CABLES.UI.uiProfiler.clear();" class="button">reset</a>

</script>
