<script id="tab_welcome" type="text/x-handlebars-template">

    <h2>welcome to cables</h2>
    ...now wat?

    <hr>

    <div style="clear:both" class="item_manager">
        {{#each patches}}

            <div style="float:left;" class="item item-container text-center" onclick="CABLESUILOADER.talkerAPI.send('gotoPatch', { 'id': '{{shortId}}' });">
                <img src="{{../url}}{{thumbnail}}" style="width:99px;"/>
                <br/>
                {{name}}
            </div>

        {{/each}}
    </div>
    <div style="clear:both"></div>

    <hr>

    <a href="https://cables.gl/docs" target="_blank" class="button">Documentation</a>
    <br>
    <a href="https://cables.gl/docs" target="_blank" class="button">Video tutorials</a>
    <br>
    <a href="https://cables.gl/docs" target="_blank" class="button">github discussions and issues</a>
    <br>
    <a href="https://discord.gg/cablesgl" target="_blank" class="button">Join cables discord community</a>


</script>
