#icon-bar {
  padding-top: 28px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  color: #2c3e50;

  ul {
    height: 100%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      margin-top: 12px;
      padding: 8px;

      &:hover {
        .label {
          color: cyan;
        }
        .icon {
          background-color: cyan;
        }
      }

      &.menu {
        position: absolute;
        width: 100%;
        bottom: 54px;
        display: block;
        box-sizing: border-box;
      }

      span {
        display: block;
        text-align: center;

        &.icon {
		  margin: 0 auto;
          margin-bottom: 6px;
        }
      }
    }
  }
}
