@import '../../scss/colors_dark';

// list also uses styles from ./Sidebar.scss

.sidebar-customizer {
  position: fixed;
  top: 50px;
  left: 100px;
  width: 400px;
  height: calc(100vh - 70px);
  background-color: $color-cz;
  color: #2c3e50;
  overflow-y: scroll;

  // special rules, will overwrite the rules for the list from Sidebar.scss
  #sidebar-customizer-list {

    &:after {
      clear: both;
    }

    li {
        float: left;
        width: 80px;
        height: 60px;

        .label {
          height: 34px;
        }
    }
  }
}

#sidebar-customizer-trash-can {
  background-color: red;
  height: 100px;
  width: 100%;
}
