

.gizmo
{
    position: absolute;
    z-index: 999999;
    border-radius:5px;
    width:12px;
    height:12px;
    margin-left:-6px;
    margin-top:-6px;
    cursor:pointer;
    position:absolute;
    z-index:9999;

    &:hover
    {
        border:1px solid white;
    }

}


#canvasicons
{
    background-color: black;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 6px;
    padding-left: 28px; /* to give resize-window icon some space */

    a
    {
        margin-right: 10px;
        position: relative;
        top: -2px;
    }

    .icon-resize-window {
        position: relative;
        width: 10px;
        height: 10px;
        top: 26px;
        left: -28px;
        display: block;
        opacity: 0.3;
        cursor: nesw-resize;
    }
}

#canvasmodal
{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
    opacity: 0.3;
    z-index: 99;
    // pointer-events: none;
    display: none;
}

#cablescanvas
{
    display: none;
}

#glcanvas
{
    position:absolute;
    top:0px;
    right:0px;
    outline: none;
    z-index: 100;

    &.maximized
    {
        &:focus
        {
            border-bottom:none;
        }

    }
}
