

#canvasicons
{
    background-color: black;
    display: none;
    position: absolute;
    z-index: 9999;
    padding:10px;

    a
    {
        margin-right: 10px;
    }
}

#canvasmodal
{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
    opacity: 0.3;
    z-index: 99;
    pointer-events: none;
}

#cablescanvas
{
    display: none;
}

#glcanvas
{
    position:absolute;
    top:0px;
    right:0px;
    outline: none;
    z-index: 100;

    &.maximized
    {
        &:focus
        {
            border-bottom:none;
        }

    }
}
