
// @keyframes blinke {
//     0% {
//         background-color: white
//     }
//     50% {
//         background-color: var(--color-special);
//     }
//     100% {
//         background-color: white;
//     }
// }


// .blinkanim
// {
//     transition:all 0.5s ease-in-out;
//     animation:blinke normal 0.5s infinite ease-in-out;
// }

.cablesCssUi
{
    .changelog
    {
        .log
        {
            clear: both;
            background-color: $background-color-brighter;
            max-height: 500px;
            overflow-y: scroll;
        }

        .icon-cables
        {
            transition:all 0.5s ease-in-out;
            animation:blinke normal 1.5s infinite ease-in-out;
        }

        .item
        {
            margin-bottom: 10px;
            border-bottom:1px solid #444;
            padding-top: 10px;
            padding-bottom: 10px;
            color:white;
            line-height: 22px;

            &:last-child
            {
                border:none !important;
            }

            .date
            {
                padding-right: 20px;
            }

            em
            {
                font-weight: bold;
            }

            a
            {
                text-decoration: underline;
            }

            code
            {
                background-color: #444;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

}
