

.cables_contextmenu
{
    z-index: $zindex_highest;
    border:1px solid #444;
    background-color: #000;
    position: absolute;
    padding:0px !important;

    .cm_item
    {
        padding:6px;
        padding-left:10px;
        padding-right:10px;
        cursor:pointer;
        list-style-type: none;

        &:hover
        {
            background-color: #444;
            color:#fff;
        }
    }

    .cm_icon
    {
        margin-right: 7px;
        margin-top: 2px;
    }

}

.cables_contextmenu_modal
{
    position: absolute;
    background-color: red;
    opacity: 0.0;
    z-index: $zindex_highest - 1;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
}


