

// todo: all tab stuff should be removed when new tabbar



#editorminimized,#editormaximized
{
    z-index:$zindex_over;
    top:10px;

    cursor:pointer;
    padding: 10px;
    // background-color: var(--color-button-bg);
    background-color: $color-bar-bg;
    // border-top: 10px solid var(--color-01);
    // border-bottom: 10px solid var(--color-01);

    border-top-right-radius: $iconbar-borderradius;
    border-bottom-right-radius: $iconbar-borderradius;
    position:absolute;

}


#editorminimized
{
}

.editorminimized_changed
{
    background-color: var(--color-06) !important;
}

#editormaximized
{
}

#editor
{
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    .warning
    {
        background: rgba(200, 10, 10, 0.5);
        position: absolute;
        width: 100% !important;
        left: 0 !important;
    }

    // #editorfoot
    // {
    //     position: absolute;
    //     color:var(--color-12);
    //     font-family: monospace;
    //     background-color: var(--color-03);
    //     overflow: hidden;
    //     z-index: 9;
    //     bottom:0px;
    //     user-select: all;
    // }

    #editorbar, .tabBar
    {
        position: absolute;
        background-color: var(--color-02);

        .tabs
        {
            width:100%;
            margin-bottom: 7px;
            height:32px;
            overflow: hidden;
            background-color: var(--color-03);

            .tab
            {
                float:left;
                font-size: 13px;
                padding:4px;
                padding-top:3px;
                cursor:pointer;
                padding-left: 8px;
                padding-right: 8px;
                margin-top: 7px;

                &.active
                {
                    background-color: var(--color-02);
                    color: var(--color-13);
                    font-weight: bold;
                    border-bottom: 1px solid var(--color-special);
                }

                &:hover
                {
                    color: var(--color-13);
                }
            }
        }
    }

    .iconbar
    {
        padding-left: 10px;

		a
		{
			margin-bottom: 4px;
		}
    }

    #editorstatus
    {
        padding-left: 10px;
    }

    #ace_editors
    {
        .ace_content
        {
            -webkit-font-smoothing: subpixel-antialiased;
        }
    }


    // #ace_editor
    // {
    //     margin: 0;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;


    //     .ace_content *
    //     {
    //         font-family: SourceCodePro,monospace;
    //         -webkit-font-smoothing: subpixel-antialiased;

    //     }

    //     .ace_search
    //     {
    //         // background-color: var(--color-03);
    //         border: none;

    //         .ace_search_form
    //         {
    //             border: none;
    //         }

    //         .ace_search_form *
    //         {
    //             background-color: var(--color-02);
    //             border-color: var(--color-01);
    //         }
    //     }
    // }
}

.ace_search_field, .ace_button, .ace_search_counter, .ace_searchbtn
{
    color:#000 !important;
}


.editor_spreadsheet
{

    table {
        border-spacing: 0px;
        border-collapse: separate;
        width:100%;
    };

    td,tr
    {
        border:0px;
        padding:0px;
    }

    td
    {
        border-bottom:1px solid var(--color-02);

    }

    tr:hover
    {
        td
        {
            border-bottom: 1px solid var(--color-12);
        }
    }

    .colname
    {
        margin-bottom: 3px;
        background-color: var(--color-04);
        border-bottom:1px solid var(--color-special);
        font-weight: bold;
        padding:4px;
    }

    .rownum,.colnum,.rownumleft
    {
        background-color: var(--color-04);
        color: var(--color-11);
        text-align: right;
        font-family: monospace;
        padding-right:5px;
        padding-left:5px;

        user-select: none;
    }
    .rownumleft
    {
        text-align: left;
    }
    .colnum
    {
        border-right:1px solid var(--color-02);
        text-align:left;
    }

    input,span
    {
        font-family: monospace;
        border:0px;
        padding:5px;
        border-left:1px solid var(--color-02);
        background-color: var(--color-05);
        color: var(--color-11);
        width:100%;

        &:focus
        {
            background-color: var(--color-06);
            color: var(--color-11);
        }
    }

    span
    {
        display:block;
        width:100%;
        height:100%;
    }
}
.editor_textarea
{
    background-color: var(--color-04);
    color: var(--color-12);
    border:none;
}
