
.cbl_iconbarContainer
{
    position: absolute;
    z-index: $zindex_over;
}

.cbl_iconbar_hor
{
    padding-bottom: 2px !important;
    display: inline-block;

    .item
    {
        display: inline-block;
    }
}

.cbl_iconbar
{
    border-radius: $iconbar-borderradius;
    background-color:$color-bar-bg;
    color:white;
    padding:4px;

    .item
    {
        cursor:pointer;
        padding:$iconbar-borderradius;
        padding-bottom: 3px;
        border-radius: 3px;
        margin-bottom: 3px;

        &:hover
        {
            background-color: $color-bar-hover;

            .icontext
            {
                display: block;
            }
        }
    }

    .icontext
    {
        position: absolute;
        display: none;
        background-color: var(--color-03);
        border-bottom-right-radius: $iconbar-borderradius;
        border-top-right-radius: $iconbar-borderradius;
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        white-space: nowrap;
        margin-left:27px;
    }
}

