.item_manager
{
    width:100%;

    .item-container
    {
        width:110px;
        height:135px;
        text-align:center;
        float:left;
        padding:5px;
        margin-right:5px;
        margin-top:5px;
        border-radius:10px;
        overflow: hidden;
        border:2px solid transparent;


    }

    .item
    {

        &:hover
        {
            background-color: var(--color-05);
            // border:2px solid var(--text-color-textOpselect);
        }

        &.selected
        {
            border:2px solid var(--color-special) !important;
        }


    }

    .listitem
    {
        padding:2px;
        border:2px solid transparent;
        padding-left:5px;
        word-break: break-all;
        text-overflow: ellipsis;
    }

    .preview
    {
        background-repeat:no-repeat;
        background-size:100% auto;
        width:100px;
        height:100px;
        background-position:center center;
        margin-left: 5%;
    }

    .filemanager-detail-element
    {
        float:left;
        width:33%;

        .iconbutton
        {
            display: inline-block;
            margin-bottom:4px;
        }
    }

    .fileManagerSource
    {
        padding-left:15px;
        padding-right:15px;
        padding:5px;
        border-bottom:1px solid transparent;
    }
    .activeFileManagerSource
    {
        border-bottom:1px solid var(--color-special);
    }

    .filename
    {
        text-overflow: ellipsis;
        margin-top:5px;
        font-size: 12px;
    }
}

.switch
{
    background-color:var(--color-05);
    padding-left:6px;
    padding-right:6px;
    padding-top:10px;
    padding-bottom:4px;
    cursor:pointer;
    user-select: none;
    display: inline-block;
    margin-bottom: 1px;
}

.switch-text
{
    padding-top:4px;
}

.switch-active
{
    background-color:var(--color-07);
    color:var(--color-13);
}

.switch-left
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.switch-right
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.switch-middle
{
}

#item_details
{
    width:100%;
    height:200px;
    overflow-y:auto;
    padding:10px;
    background-color:var(--color-03);
    position: absolute;
    bottom:0px;
}

#itemmanager_header
{
    width:100%;
    margin-bottom:10px;
}

.filelistcontainer
{
    height:calc(100% - 360px);
    width: 100%;
    overflow-y:auto;
    position: absolute;
}

.filemanager_header
{
    user-select: none;
    .divider
    {
        padding:13px;
        padding-top:0px;
        padding-bottom:2px;
    }
}
