
.meta_content *,.meta_content div,.params_op_head,pre
{
	pointer-events: all !important;
    user-select: initial !important;
    -webkit-user-select: initialm !important;
}

#meta
{
    position:absolute;
    overflow: hidden;
	background-color: $background-color-dark;
}

#meta_content
{
    overflow:auto;
    padding:10px;
}

#doc_op
{
    padding:10px;
    padding-top: 0px;
    overflow: auto;

    /* enable text selection */
    * {
      -webkit-user-select: text;
      -khtml-user-select: text;
      -moz-user-select: text;
      -o-user-select: text;
      user-select: text;
    }

    li
    {
        padding-left: 0px;
    }
    ul
    {
        padding-left: 20px;
    }
    a
    {
        text-decoration: underline;
    }
    .button
    {
        text-decoration: none;
    }
}

#preview_img_container
{
    user-select:none !important;

    canvas
    {
        user-select:none !important;
        background-position: left bottom;
    }
}


.bgPatternDark,img.dark
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAACACAMAAADkrB1gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQzNDFDMzY4NjU5QzExRTdBREE2QTdCMDFEMTc1MzEyIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQzNDFDMzY5NjU5QzExRTdBREE2QTdCMDFEMTc1MzEyIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDE1OEY0N0Y2NTlDMTFFN0FEQTZBN0IwMUQxNzUzMTIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDE1OEY0ODA2NTlDMTFFN0FEQTZBN0IwMUQxNzUzMTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7tdDZ3AAAABlBMVEUzMzMAAAAjllnVAAAAY0lEQVR42uzVIQ4AQAgDwfL/T5/BEPQFMzjUJDWb6kvf7z9AIHCBpgUC70FTAoF6CAQC9RAI1EMgEKiHQKAeAoFAPQQC9RAIBOohEKiHQCBQD4FAPQQCgXoIBOohEAgc/xNgAGbZHAEWJgt2AAAAAElFTkSuQmCC);
    background-repeat: repeat;
}
.bgPatternBright
{
    background-repeat: repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAACACAMAAADkrB1gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQzNDFDMzZDNjU5QzExRTdBREE2QTdCMDFEMTc1MzEyIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQzNDFDMzZENjU5QzExRTdBREE2QTdCMDFEMTc1MzEyIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDM0MUMzNkE2NTlDMTFFN0FEQTZBN0IwMUQxNzUzMTIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDM0MUMzNkI2NTlDMTFFN0FEQTZBN0IwMUQxNzUzMTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6WVZM7AAAABlBMVEX////MzMw46qqDAAAAYklEQVR42uzVoQkAAAhFQd1/aYsgLqDlbD8dWF5EX/ZdbSAQONsrgcB/0GuBQD0EAoF6CATqIRAI1EMgUA+BQKAeAoF6CAQC9RAI1EMgEKiHQKAeAoFAPQQC9RAIBK5dAgwAZtkcARn2MKsAAAAASUVORK5CYII=);
}
.bgPatternBlack
{
    background-color:black;
    background-image:none;
}
.bgPatternWhite
{
    background-color:white;
    background-image:none;
}
.bgPatternBlue
{
    background-color:blue;
    background-image:none;
}
.bgPatternRed
{
    background-color:red;
    background-image:none;
}
.bgPatternGrey
{
    background-color:rgba(128,128,128,1);
    background-image:none;
}

.doc-panel
{
	img
	{
		max-height:256px;
		max-width: 100%;
	}
}


#progresscontainer
{
	background-color: var(--color-03);
	min-height:20px;
	width:100%;

	.progress
	{
		background-color: var(--color-05);
		height: 20px;
		min-width: 0px;
	}
}
