

#meta_content .table
{
    max-width: 400px;;
}

.table
{
    border:0;
    padding:0;
    border-spacing: 0px;
    margin-bottom:20px;
    width:100%;

    th
    {
        background-color: var(--color-01);
        text-align: left;
    }

    tr:hover, tr td:hover
    {
        background-color: var(--color-05);
        color:#fff;
    }

    td,th
    {
        padding-top: 3px !important;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}