
#modalbg
{
    background-color: $color-c8;
    opacity: 0.45;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    position: absolute;
    z-index: 999;
}

#modalcontainer
{
	position: absolute;
	display: block;
	left:50%;
    transform: translateX(-50%);
    top:10%;
	width:auto;
    height:auto;
	min-width: 550px;
    max-height: 75%;
	overflow: auto;
	z-index: 9999;
	background-color: $background-color-dark;

	-webkit-box-shadow: -1px 1px 34px -6px rgba(0,0,0,0.68);
    -moz-box-shadow: -1px 1px 34px -6px rgba(0,0,0,0.68);
    box-shadow: -1px 1px 34px -6px rgba(0,0,0,0.68);

	padding-bottom: 15px;

	.modalclose
    {
        right:15px;
        margin-top: 5px;
		background-color: transparent;
        position: absolute;
		display: none;
		.fa
		{
			font-size: 23px;
		}
    }

    &.transparent
    {
        background-color: transparent !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }

}

#modalcontent
{
    padding:15px;
	font-size: $font-size-default+3;
    user-select:text;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */

    pre
    {
        max-width: 700px;
        overflow: auto;
    }
}

#modalheader
{
	// position: absolute;
	// background-color: $color-background-input;
	color:$highlight-color;
	text-align: center;
	font-size: 17px;
	padding:5px;
    text-transform: uppercase;
}




.shaderErrorCode
{
    font-family: SourceCodePro,monospace;
    white-space: pre;
    background-color: $color-c9;
    padding:10px;
    max-height: 600px;
    overflow: auto;
    user-select:text;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */

    .error
    {
        color: $color-error;
    }
}
