
.cablesCssUi
{

    #jobs
    {
        // display: none;
        // position: absolute;
        // z-index: $z-index-background-jobs;
        // top:50px;
        // margin-left:20px;
        // background-color: var(--color_op_bg);
        // padding:15px !important;
    }

    #timelineui
    {
        padding-right:10px;
    }

    .menubar,#timelineui
    {
        position:absolute;
        background-color: $color-menubar-background;
        overflow: hidden;

        .warning
        {
            color:var(--color-warning);
        }

        li.main
        {
            border-top-left-radius: $iconbar-borderradius;
            border-top-right-radius: $iconbar-borderradius;
            min-height:21px;
        }

        li
        {
            color:$color-menubar-text;

            &:hover
            {
                color: $color-menubar-hover;
            }
        }
        .button
        {
            background-color: transparent;
        }

    }

    .menubar
    {
        overflow: hidden;
    }

    .menubar:hover
    {
        overflow: visible;
    }

    #loggedin,#loggedout
    {
        float:right;
        display:none;
    }

    .menubar,#timing
    {
        .button
        {
            display: block;
            float: left;
            padding: 5px;
            padding-left: 5px;
            margin-left: 4px;
            margin-top: 3px;

            &.fa:before
            {
                margin-right: 0px;
            }

            &:hover
            {
                background-color: $icon-button-background-color-hover !important;
                color: var(--color-special);
            }

            &:active
            {
                background-color: $icon-button-background-color-hover;
            }
        }
    }


    .blinking
    {
        animation:blinkingText 0.8s infinite;
    }
    @keyframes blinkingText
    {
        0%{		color: var(--color-special);	}
        25%{	color: var(--color-12);	}
        50%{		color: var(--color-special);	}
        75%{	color: var(--color-12);	}
    }

    #patchname
    {
        margin-top:1px;
        user-select:none;
    }

    .menubar
    {
        display:block;
        z-index: $zindex_superlow;
        margin-top:10px;
        border:5px solid $color-menubar-background;
        border-radius: $iconbar-borderradius;
        // height: 30px;
        margin-left:calc(2 * var(--font-size-off));
        height: calc(30px + var(--font-size-off));

    }

    .cables-logo
    {
        position: absolute;
        text-align: center;
        height:20px;
        width:80px;
        height:80px;
        background-color: $color-menubar-background;
        top:0px;
        left:0px;
        // z-index: $z-index-cables-logo;
        // border-bottom: 1px solid var(--color-06);

        .icon-cables
        {
            margin-top:15px;
            width:40px;
            height:60px;
            background-color: var(--color-13);
        }
    }

    nav
    {
        user-select: none;
        float:left;
        $nav-li-padding: 5px 10px;

        .main .icon
    {
        margin-top:2px;
    }



        li
        {
            font-family: $headline-font, arial;
            font-weight: 400;
            vertical-align: top;

        }

        a
        {
            &:hover
            {
                color: var(--color-13);
            }
        }
        ul
        {
            text-align: left;
            display: inline;
            margin: 0;
            padding: 5px 4px 5px 0;
            list-style: none;
            // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        ul li
        {
            //font: bold 12px/18px arial;
            display: inline-block;
            // margin-right: -4px;
            position: relative;
            padding: $nav-li-padding;
            cursor: pointer;

            &.inactive
            {
                color: var(--color-06);
            }

            .shortcut {
                float: right;

                p
                {
                    padding:0;
                    margin:0;
                }

                code
                {
                    margin-right: 3px;
                }
            }


            // span
            // {
            //     margin-left: 20px;
            // }


            .icon {
                margin-left: 0 !important;
            }
        }
        ul li:hover
        {
            background: $highlight-color-dark;
            color: var(--color-13);
            a
            {
                color:var(--color-13);
            }
        }
        //ul li ul
        .nav-submenu
        {
            z-index: $zindex_highest;
            padding: 0;
            position: absolute;
            top: 29px;
            left: 0;
            width: 235px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transiton: opacity 0.1s;
            -moz-transition: opacity 0.1s;
            -ms-transition: opacity 0.1s;
            -o-transition: opacity 0.1s;
            transition: opacity 0.1s;
        }
        ul li ul li
        {
            background: var(--color-03);
            display: block;
            color: var(--color-13);

        }
        ul li ul li:hover
        {
            background: $highlight-color-dark;
            cursor:pointer;
        }
        ul li:hover > ul
        {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .divide
        {
            padding:0px;
            border-bottom: 1px solid var(--color-04);
        }


        a
        {
            &:hover
            {
                color: var(--color-13);
            }
        }
        ul
        {
            text-align: left;
            display: inline;
            margin: 0;
            padding: 5px 4px 5px 0;
            list-style: none;
            // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        ul li
        {
            //font: bold 12px/18px arial;
            display: inline-block;
            margin-right: -4px;
            position: relative;
            padding: $nav-li-padding;
            cursor: pointer;

            // span
            // {
            //     margin-left: 20px;
            // }
        }
        ul li:hover
        {
            background: $color-bar-hover;
            color: var(--color-13);
            a
            {
                color: var(--color-13);
            }
        }
        ul li ul
        {
            // z-index: 9999;
            padding: 0;
            position: absolute;
            top: 28px;
            left: 0;
            // width: 150px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transiton: opacity 0.1s;
            -moz-transition: opacity 0.1s;
            -ms-transition: opacity 0.1s;
            -o-transition: opacity 0.1s;
            transition: opacity 0.1s;
        }
        ul li ul li
        {
            background: var(--color-03);
            display: block;
            color: var(--color-13);
        }
        ul li ul li:hover
        {
            background: $highlight-color-dark;
            cursor:pointer;
        }
        ul li:hover > ul
        {
            display: block;
            opacity: 1;
            visibility: visible;
        }


        .divide
        {
            padding:0px;
            border-bottom: 1px solid var(--color-04);
        }
        /* sub-sub-menu, e.g. New from template -> 2d, 3d, ... */
        .nav-sub-submenu {
            .icon {
                background-color: var(--color-10);
                float: right;
                position: relative;
                right: -3px;

                &:after {
                    clear: both;
                }
            }

            ul {
                position: absolute;
                left: 204px;
                visibility: hidden;
                z-index: $zindex_superlow;

                li {
                    position: relative;
                    right: 0;
                    top: -28px;
                    padding: 0;
                    white-space: nowrap;

                    a {
                        display: block;
                        padding: $nav-li-padding;
                    }
                }
            }
        }


        .checked,.unchecked
        {
            margin-bottom: -3px;
            width: 14px;
            height: 14px;
            margin-right: 8px;
        }

        .unchecked
        {
            opacity: 0;
        }
    }

    #multiplayerbar {
        display: none;

        &.syncing {
            .sc-options {
                .start-button, .join-button, .leave-button {
                    display: none !important;
                }
                .loading-button {
                    display: inline-block !important;
                }
            }
        }
    }

    .nav-clientlist
    {
        padding-left:3px;
        padding-right:3px;

        display: flex;
        flex-direction: row;
        align-items: center;

        .sc-userlist {

            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 2px;

            .more-options {
                margin-bottom: 5px;
            }

            .item
            {
                display:inline-block;
                height: 100%;

                .avatar {
                    color:black;
                    text-align:center;
                    width:24px;
                    height:24px;
                    border-radius:100px;
                    overflow: hidden;
                    display:inline-block;
                    background-size:contain;

                    margin-left:2px;
                    margin-right:2px;

                    pointer-events: none;
                }

                &.remote-client {
                    .avatar {
                        color: white;
                    }
                }

                // &.pilot {
                //     .avatar {
                //         box-sizing: border-box;
                //         border: 2px solid white;
                //     }
                // }

                // &.following {
                //     .avatar {
                //         box-sizing: border-box;
                //         border: 2px solid var(--color-special);
                //     }
                // }

                .avatar
                {
                    opacity: 0.5;
                }
                &.me .avatar
                {
                    opacity: 1;
                }

                .piloticon,.followicon,.followingicon
                {
                    display: none;
                }

                .cursorcolor
                {
                    width:5px;
                    height:5px;
                    border-radius: 100%;
                    position: absolute;
                    background-color: red;
                    margin-left:-3px;

                }

                &.following .followingicon
                {
                    position: absolute;
                    display: block !important;
                    width:24px;
                    height:24px;
                    margin-top: -24px;
                    margin-left: 6px;
                }

                &.pilot .piloticon,
                &.follower .followicon,
                .greyicon
                {
                    position: absolute;
                    border-radius: 100%;
                    background-color: #444;
                    color:white;
                    width:17px;
                    height:17px;
                    margin-top: -20px;
                    z-index: 99;

                    .icon
                    {
                        margin-left:2px;
                    }
                }

                &.pilot .piloticon,
                &.follower .followicon
                {
                    display: block !important;
                }

                &.me {
                    &.pilot-request {
                        .avatar {
                            animation: animLogoFadein 2s infinite;
                        }
                    }
                }

                // &.follower {
                //     .avatar {
                //         // box-sizing: border-box;
                //         // border: 2px solid var(--color_port_function);
                //     }
                // }
            }
        }

        .sc-options {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-left: 10px;
            .button-small {
                display: none !important;
                margin-top: 0;

                &.visible {
                    display: inline-block !important;
                }
            }
        }
    }

    #nav-logo
    {
        margin-top: 0px !important;
    }

    .nav_logo
    {
        padding-left: 7px;
    }

    #nav-logo_idle
    {
        background-image:url(data:image;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAQAAAAm93DmAAABu0lEQVR4Ac3BP0jUcRjH8Y9nWZCFNwktojTIiXAQQRFhf5bLJtGWjsYyIZAIrnaDmoSGxLmrJagIiZoauqglEDoIh2hqKa6gH3F24N07Hh7OjusXfA++g6+XdhwuUKHCLcXCfcx7xcI65rniYC8NzF3FwRncRcXBKqbJQcVAlgTzWnFwB1dUDEzyG/OJ3eoF/UxQYJo8A9rGIFXcrMIxygo12hLKTEoSu3iGe6RwLFKn2xa32cND3GeyCsUy//MF94u8QjFP2xozjDFCgTJb/NXgrEIxTILZZE4dOMF3XJ1zCscSrqgunKSJeaJesIGpKAUPMAkDCkWWFuaKUlDA5RWKHG5KKRjBTSsU47hTSsEYrqBQ7KeJuaYUzOAmFI51TJWM/sEapka/wlHCldSFOdyKwjHIC1yTG2S0jSKbmDqjCsUQ7+hU5TqnmWKBCm2LCsU+3uIatEi3rFBkeIr7wXFm+Ua3hHmFo4SrkZckhrjJB1qYFhssMaxw5Ghg6hxVBw4wTo6sesVL3CXFwBHcK/oUA6u4Y4qBDF8xbxQHh3ELioOruEOKg3uYn/QpDh5jPioWzlOmzGXtNH8AqmJyrxV/UAsAAAAASUVORK5CYII=);
        background-size:auto 100%;
        width:20px;
        height:20px;
        display: block;
        position: absolute;
        z-index: 100;
    }

    #nav-loading
    {
        background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MCA0MCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7fS5jbHMtMntmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJFbXB0eV80MHg0MF9CRyIgZGF0YS1uYW1lPSJFbXB0eSA0MHg0MCBCRyI+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNDAiIGhlaWdodD0iNDAiLz48L2c+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMjcuNDEsMjYuNTNsLTIuNzctMi40NEE2LjE2LDYuMTYsMCwwLDEsMjAsMjYuMTksNi4wNyw2LjA3LDAsMCwxLDE2LjM5LDI1YTQuNTQsNC41NCwwLDAsMS0uNDgtLjM5bC0yLjQ2LDIuOGE5Ljg2LDkuODYsMCwwLDAsMTQtLjkxWiIvPjwvc3ZnPg==");
        width:20px;
        height:20px;
        background-size:100% 100%;
        animation: bkg 0.333s linear infinite;
        transition: none;
        position: absolute;
        z-index: 90;
    }

    @keyframes bkg {
    100% {transform:rotate(360deg)}
    }


    // sequence anim,...
    //
    // #nav-loading
    // {
    //     // montage -tile x1  Logo_Saving_40x40_0000* -geometry +0 -background none logo_saving.png
    //     // background-image:url(/ui/img/logo_saving.png);
    //     width:20px;
    //     height:20px;
    //     background-size:auto 100%;
    //     -webkit-animation: bkg 0.6666s steps(10) infinite;
    //     transition: none;
    //     position: absolute;
    //     z-index: 90;
    // }
    // @-webkit-keyframes bkg {
    //     0% {background-position: 0px top;}
    //   100% {background-position: -400px top;}
    // }



    .logoFadein
    {
        animation:animLogoFadein 0.2s normal forwards ease-out;
        animation-iteration-count: 1
    }

    @keyframes animLogoFadein
    {
        0%{		opacity: 0.3;	}
        100%{	opacity: 1;	}
    }


    .logoFadeout
    {
        animation:animLogoFadeout 0.2s normal forwards ease-out;
        animation-iteration-count: 1
    }

    @keyframes animLogoFadeout
    {
        0%{		opacity: 1;	}
        100%{	opacity: 0.3;	}
    }

}
