

#jobs
{
    display: none;
    position: absolute;
    z-index: $z-index-background-jobs;
    top:20px;
    background-color: $color-menubar-background;

    ul,li
    {
        padding:0;
        margin:0;
    }

    li
    {
        background-color: $color-menubar-background;
        color:var(--text-color);
        font-weight: normal;
        list-style-type: none;
        padding:10px;
    }
}


#menubar,#timelineui
{
    padding-right:10px;
    position:absolute;
    background-color: $color-menubar-background;
    overflow: hidden;
    display:none;

    .warning
    {
        color:var(--color-warning);
    }

	li
	{
		color:$color-menubar-text;

		&:hover
		{
			color: $color-menubar-hover;
		}
	}
    .button
    {
        background-color: transparent;
    }

}

#menubar
{
    overflow: visible;
}



#loggedin,#loggedout
{
    float:right;
    display:none;
}

#menubar,#timing
{
    .button
    {
        display: block;
        float: left;
        padding: 5px;
        padding-left: 5px;
        margin-left: 4px;
        margin-top: 3px;

        &.fa:before
        {
            margin-right: 0px;
        }

        &:hover
        {
            background-color: $icon-button-background-color-hover !important;
            color: var(--color-special);
        }

        &:active
        {
            background-color: $icon-button-background-color-hover;
        }
    }
}

.cables-logo
{
    position: absolute;
    text-align: center;
    height:20px;
    width:80px;
    height:80px;
    background-color: $color-menubar-background;
    top:0px;
    left:0px;
    z-index: $z-index-cables-logo;
    // border-bottom: 1px solid var(--color-06);

    .icon-cables
    {
        margin-top:15px;
        width:40px;
        height:60px;
        background-color: var(--color-13);
    }
}

// .cables
// {
//
//     a
//     {
//         display: block;
//         margin-left: 80px;
//     }
//
//
//
//     .fa
//     {
//         margin-top: 4px;
//         margin-left: -5px;
//     }
//
// }


nav
{
    margin-left: 80px;
    float:left;
    z-index: $z-index-nav;
    $nav-li-padding: 6px 14px;

        li
        {
          font-family: $headline-font, arial;
          font-weight: 400;
        }

        a
        {
            &:hover
            {
                color: var(--color-13);
            }
        }
        ul
        {
            text-align: left;
            display: inline;
            margin: 0;
            padding: 5px 4px 5px 0;
            list-style: none;
            // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        ul li
        {
            //font: bold 12px/18px arial;
            display: inline-block;
            margin-right: -4px;
            position: relative;
            padding: $nav-li-padding;
            cursor: pointer;

            &.inactive
            {
              color: var(--color-06);
            }

            .shortcut {
                  float: right;
            }

            span
            {
                margin-left: 20px;
            }
        }
        ul li:hover
        {
            background: $highlight-color-dark;
            color: var(--color-13);
            a
            {
                color:var(--color-13);
            }
        }
        //ul li ul
        .nav-submenu
        {
            z-index: $z-index-nav-submenu;
            padding: 0;
            position: absolute;
            top: 29px;
            left: 0;
            width: 235px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            display: none;
            opacity: 0;
            visibility: hidden;
            -webkit-transiton: opacity 0.1s;
            -moz-transition: opacity 0.1s;
            -ms-transition: opacity 0.1s;
            -o-transition: opacity 0.1s;
            transition: opacity 0.1s;
        }
        ul li ul li
        {
            background: var(--color-03);
            display: block;
            color: var(--color-13);
        }
        ul li ul li:hover
        {
            background: $highlight-color-dark;
            cursor:pointer;
        }
        ul li:hover > ul
        {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .divide
        {
            padding:0px;
            border-bottom: 1px solid var(--color-04);
        }


    a
    {
        &:hover
        {
            color: var(--color-13);
        }
    }
    ul
    {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 5px 4px 5px 0;
        list-style: none;
        // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    ul li
    {
        //font: bold 12px/18px arial;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: $nav-li-padding;
        cursor: pointer;

        span
        {
            margin-left: 20px;
        }
    }
    ul li:hover
    {
        background: $highlight-color-dark;
        color: var(--color-13);
        a
        {
            color: var(--color-13);
        }
    }
    ul li ul
    {
        z-index: 9999;
        padding: 0;
        position: absolute;
        top: 28px;
        left: 0;
        // width: 150px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        transition: opacity 0.1s;
    }
    ul li ul li
    {
        background: var(--color-03);
        display: block;
        color: var(--color-13);
    }
    ul li ul li:hover
    {
        background: $highlight-color-dark;
        cursor:pointer;
    }
    ul li:hover > ul
    {
        display: block;
        opacity: 1;
        visibility: visible;
    }


    .divide
    {
        padding:0px;
        border-bottom: 1px solid var(--color-04);
    }
    /* sub-sub-menu, e.g. New from template -> 2d, 3d, ... */
    .nav-sub-submenu {
        .icon {
            background-color: var(--color-10);
            float: right;
            position: relative;
            right: -3px;

            &:after {
                clear: both;
            }
        }

        ul {
            position: absolute;
            left: 204px;
            visibility: hidden;

            li {
                position: relative;
                right: 0;
                top: -28px;
                padding: 0;
                white-space: nowrap;

                a {
                    display: block;
                    padding: $nav-li-padding;
                }
            }
        }
    }


    .checked,.unchecked
    {
        margin-bottom: -3px;
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }

    .unchecked
    {
        opacity: 0;
    }
}
