
#nav-loading
{
    // position: absolute;
    // display:block;
    // top:8px;
    margin:3px;
}

#jobs
{
    // display: none;
    // position: absolute;
    // z-index: $z-index-background-jobs;
    // top:50px;
    // margin-left:20px;
    // background-color: var(--color_op_bg);
    // padding:15px !important;
}

#timelineui
{
    padding-right:10px;
}

.menubar,#timelineui
{
    position:absolute;
    background-color: $color-menubar-background;
    overflow: hidden;
    display:none;

    .warning
    {
        color:var(--color-warning);
    }

    li.main
    {
        border-top-left-radius: $iconbar-borderradius;
        border-top-right-radius: $iconbar-borderradius;
        min-height:21px;
    }

	li
	{
        color:$color-menubar-text;

		&:hover
		{
            color: $color-menubar-hover;
		}
	}
    .button
    {
        background-color: transparent;
    }

}

.menubar
{
    overflow: hidden;
}

.menubar:hover
{
    overflow: visible;
}

#loggedin,#loggedout
{
    float:right;
    display:none;
}

.menubar,#timing
{
    .button
    {
        display: block;
        float: left;
        padding: 5px;
        padding-left: 5px;
        margin-left: 4px;
        margin-top: 3px;

        &.fa:before
        {
            margin-right: 0px;
        }

        &:hover
        {
            background-color: $icon-button-background-color-hover !important;
            color: var(--color-special);
        }

        &:active
        {
            background-color: $icon-button-background-color-hover;
        }
    }
}


.blinking
{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText
{
	0%{		color: var(--color-special);	}
    25%{	color: var(--color-12);	}
    50%{		color: var(--color-special);	}
    75%{	color: var(--color-12);	}
}

#patchname
{
    margin-top:2px;
}

.menubar
{
    display:block;
    z-index: $zindex_over;
    margin-top:10px;
    border:5px solid $color-menubar-background;
    left:10px;
    border-radius: $iconbar-borderradius;
    height: 30px;
}

.cables-logo
{
    position: absolute;
    text-align: center;
    height:20px;
    width:80px;
    height:80px;
    background-color: $color-menubar-background;
    top:0px;
    left:0px;
    // z-index: $z-index-cables-logo;
    // border-bottom: 1px solid var(--color-06);

    .icon-cables
    {
        margin-top:15px;
        width:40px;
        height:60px;
        background-color: var(--color-13);
    }
}

nav
{

    float:left;
    $nav-li-padding: 5px 10px;

    li
    {
        font-family: $headline-font, arial;
        font-weight: 400;
        vertical-align: top;

    }

    a
    {
        &:hover
        {
            color: var(--color-13);
        }
    }
    ul
    {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 5px 4px 5px 0;
        list-style: none;
        // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    ul li
    {
        //font: bold 12px/18px arial;
        display: inline-block;
        // margin-right: -4px;
        position: relative;
        padding: $nav-li-padding;
        cursor: pointer;

        &.inactive
        {
            color: var(--color-06);
        }

        .shortcut {
                float: right;
        }


        // span
        // {
        //     margin-left: 20px;
        // }


        .icon {
            margin-left: 0 !important;
        }
    }
    ul li:hover
    {
        background: $highlight-color-dark;
        color: var(--color-13);
        a
        {
            color:var(--color-13);
        }
    }
    //ul li ul
    .nav-submenu
    {
        z-index: $zindex_high;
        padding: 0;
        position: absolute;
        top: 29px;
        left: 0;
        width: 235px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        transition: opacity 0.1s;
    }
    ul li ul li
    {
        background: var(--color-03);
        display: block;
        color: var(--color-13);
    }
    ul li ul li:hover
    {
        background: $highlight-color-dark;
        cursor:pointer;
    }
    ul li:hover > ul
    {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .divide
    {
        padding:0px;
        border-bottom: 1px solid var(--color-04);
    }


    a
    {
        &:hover
        {
            color: var(--color-13);
        }
    }
    ul
    {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 5px 4px 5px 0;
        list-style: none;
        // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    ul li
    {
        //font: bold 12px/18px arial;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: $nav-li-padding;
        cursor: pointer;

        // span
        // {
        //     margin-left: 20px;
        // }
    }
    ul li:hover
    {
        background: $color-bar-hover;
        color: var(--color-13);
        a
        {
            color: var(--color-13);
        }
    }
    ul li ul
    {
        // z-index: 9999;
        padding: 0;
        position: absolute;
        top: 28px;
        left: 0;
        // width: 150px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        transition: opacity 0.1s;
    }
    ul li ul li
    {
        background: var(--color-03);
        display: block;
        color: var(--color-13);
    }
    ul li ul li:hover
    {
        background: $highlight-color-dark;
        cursor:pointer;
    }
    ul li:hover > ul
    {
        display: block;
        opacity: 1;
        visibility: visible;
    }


    .divide
    {
        padding:0px;
        border-bottom: 1px solid var(--color-04);
    }
    /* sub-sub-menu, e.g. New from template -> 2d, 3d, ... */
    .nav-sub-submenu {
        .icon {
            background-color: var(--color-10);
            float: right;
            position: relative;
            right: -3px;

            &:after {
                clear: both;
            }
        }

        ul {
            position: absolute;
            left: 204px;
            visibility: hidden;

            li {
                position: relative;
                right: 0;
                top: -28px;
                padding: 0;
                white-space: nowrap;

                a {
                    display: block;
                    padding: $nav-li-padding;
                }
            }
        }
    }


    .checked,.unchecked
    {
        margin-bottom: -3px;
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }

    .unchecked
    {
        opacity: 0;
    }
}

.nav-clientlist
{
    padding-top:4px;
    padding-left:3px;
    padding-right:3px;

    div
    {
        margin-left:2px;
        margin-right:2px;
    }
}


#logo-loading
{
    // montage -tile x1  Logo_Saving_40x40_0000* -geometry +0 -background none logo_saving.png
    background-image:url(/ui/img/logo_saving.png);
    width:20px;
    height:20px;
    background-size:auto 100%;
    -webkit-animation: bkg 1.0s steps(10) infinite;
    transition: none;

}

@-webkit-keyframes bkg {
    0% {background-position: 0px top;}
  100% {background-position: -400px top;}
}

