/*
 * GENERAL STYLES
 */

 /*
  * PORT COLORS - BACKGROUND COLOR
  */

.bg-color-port-function { background-color: var(--color_port_function); }
.bg-color-port-value { background-color: var(--color_port_value); }
.bg-color-port-object { background-color: var(--color_port_object); }
.bg-color-port-array { background-color: var(--color_port_array); }
.bg-color-port-dynamic { background-color: var(--color_port_dynamic); }

 /*
  * PORT COLORS - COLOR
  */

  .color-port-function { color: var(--color_port_function); }
  .color-port-value { color: var(--color_port_value); }
  .color-port-object { color: var(--color_port_object); }
  .color-port-array { color: var(--color_port_array); }
  .color-port-dynamic { color: var(--color_port_dynamic); }

/*
 * OP DOC SPECIFIC
 */

.op-doc {
  .op-doc__port-bullet {
    display: inline-block;
    width: 11px;
    height: 11px;
  }

  .op-doc__port-list {
    list-style: none;
    padding: 0;
  }

  .op-doc__headline {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 13px;
    font-weight: bold;
    color: var(--color-11);
  }

  .op-doc__namespace {
    margin-top: 4px;
    color: var(--color-07);
  }

  .op-doc__name {
    margin-top: 0;
    display: none; /* only show in meta-tab */
  }

  .op-doc__summary {
    // margin-bottom: 28px;
    margin-bottom: 15px;
  }

  .op-doc__summary, .op-doc__summary p {
    color: var(--color-11);
    font-style: italic;
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 30px;

    &::first-letter {
      text-transform: capitalize;
    }

    p {
      margin-bottom: 0px;
      
      &::first-letter {
        text-transform: capitalize;
      }
    }

    code, pre {
      color: white;
      // background-color: var(--color-04);
      font-family: SourceCodePro, monospace;
    }
  }

  .op-doc__screenshot {
    margin-bottom: 0;
    margin-top: 11px;
    max-width: 100%;
    max-height: 200px;
  }

  .op-doc__screenshot + .op-doc__description {
    margin-top: 32px;
  }

  // .op-doc__description {}

  .op-doc__description p:last-child {
    margin-bottom: 0; // distance between last paragraph of input port headline
  }

  .op-doc__description p:first-child {
    margin-top: 6px; // distance between summary and first paragraph of description
  }

  .op-doc__port + .op-doc__port {
    margin-top: 10px;
  }

  .op-doc__port-name {
    color: var(--color-11);
    text-transform: capitalize;
    font-size: 13px;
    margin-left: 4px;
    font-weight: bold;
  }

  .op-doc__port-doc {
    margin-top: 5px;
    padding-left: 17px;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  /* Rules for markdown formatted elements in description and port description */
  .op-doc__port-doc, .op-doc__description {
    p::first-letter {
      text-transform: capitalize;
    }

    a {
      text-decoration: underline;
      text-decoration-color: var(--color-06);

      &:hover {
        color: var(--color-special);
        text-decoration-color: var(--color-special);
      }
    }

    code, pre {
      font-family: SourceCodePro, monospace;
      font-size: 11px;
      background-color: var(--color-04);
      padding: 1px 2px;
    }
  }
}

/* special rules for the docs in the meta-tab */

#meta_content_doc {
  .op-doc {
    .op-doc__name {
      display: block;
      color: var(--color-13);
      font-size: 18px;
    }

    .op-doc__namespace {
      display: none;
    }

    // .op-doc__headline {
    //   font-size: 16px;
    // }

    // .op-doc__port-name {
    //   font-size: 13px;
    // }
  }
}

