
#opsearchmodal
{
    z-index: $zindex_highest;
    position: absolute;
    left: 15%;
    top:5%;
    padding:0;
}

#opselect_replaceVar,#opselect_createTrigger
{
    padding-bottom:5px;
}

.opsearch
{
    background-color: $background-color-dark;
    border-radius: $border-radius-popups;

    width:860px;
    height:580px;
    overflow: hidden;

    .opselectclose
    {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    header
    {
        width:440px;
        background-color: var(--color-03);
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 25px;

        input
        {
            -webkit-user-select: auto;
            -webkit-appearance: none;
            font-size: 20px;
            width:100%;
            // background-color: $color-background-input !important;
            // border: 1px solid $color-background-input !important;
        }
    }

    .insertbutton
    {
        display: inline-block !important;
        background-size: 50%;
        padding: 10px;
        background-position: center;
        border-radius: 20px;
        margin-top: 3px;
        position: relative;
        right: -7px;
    }

    // documentation in the op add modal
    .op-doc
    {
        .op-summary
        {
            font-style: italic;
            font-size: 20px;
        }
    }

	#opselect-layout
	{
		min-width: 200px;
        min-height: 40px;
        display: inline-block;
        width: 100%;
	}

    .opOptions
    {
        padding:5px;
        padding-left: 15px;
        text-align: center;

        border-bottom-left-radius: $border-radius-popups;
        border-bottom-right-radius: $border-radius-popups;

        .warning
        {
            background-color:var(--color-warning);
            color:#000;
            font-weight: bold;
            padding-left:10px;
            padding-right:10px;
        }
    }

    .searchbrowserContainer
    {
        width:480px;
        height: 521px;
        background-color: $background-color-brighter;
    }

    .shortname
    {
        font-weight: bold;

        i
        {
            text-decoration: underline;
            font-style: normal;
            color:white;
        }
    }

    .searchresult
    {
        font-size: 16px;
        padding: 15px 20px;
		border-bottom: 1px solid var(--color-01);
        background-color: $background-color-brighter;

        .icon
        {
            -webkit-mask-position-y: 2px;
            mask-position-y: 2px;
        }
    }

    .searchbrowser
    {
        height:465px;
        overflow:auto;

        .addbutton
        {
            margin-right: 0px;;
        }

        .not-usable .addbutton
        {
            display: none;
        }

        .collection
        {
            border: 2px solid var(--color-07);
            margin-bottom: 3px;
        }
    }

    .searchinfo
    {
        margin-top: 60px;
        // background-color: $background-color-dark;
		border-bottom:30px solid $background-color-dark;
		border-top:30px solid $background-color-dark;
        margin-left: 480px;
        position: absolute;
        width:350px;
        // padding: 20px;
        padding: 0 15px;
        overflow-x: hidden;
        overflow-y: auto;
        height:460px;
        border-top-right-radius: $border-radius-popups;
        border-bottom-right-radius: $border-radius-popups;

        /* enable text selection on all elements except svg */
        * {
          -webkit-user-select: text;
          -khtml-user-select: text;
          -moz-user-select: text;
          -o-user-select: text;
          user-select: text;
        }

        .open-docs-button {
            float: right;
            margin-top: 7px;
        }

        .opTitleSvg
        {
            margin-top: 0px;
			position: absolute;
			margin-top:-33px;
			font-size: 19px;
            margin-left: 10px;
        }

        .op-svg-shortname {
            font-size: 18px;
            font-family: $text-font;
        }

        .namespace-wrapper {
            margin-top: 30px;
        }

        #opselect-layout
        {
            min-height: 40px;
        }
    }
    .score
    {
        color:var(--text-color);
    }

    .selected
    {
		background-color: var(--color_op_bg_active);
        a
        {
            color:white;
        }

        .insertbutton
        {
            color: var(--color-11);
			background-color: var(--color_op_bg);

            &:hover
            {
                background-color: var(--color-02);
                *
                {
                    background-color:var(--color-special) !important;
                }
            }
        }

        .summary
        {
            // color: var(--color-13);
            color:var(--text-color-textOpselectSelected);
            i
            {
                text-decoration: underline;
                font-style: normal;
                color: var(--color-03);
            }
        }

		.op_color_default
		{
			color: var(--color-13);
		}

        .namespace
        {
            color:var(--text-color-textOpselectSelected);

            i
            {
                text-decoration: underline;
                font-style: normal;
            }

            &:hover
            {
                color:white;
                i
                {
                    text-decoration: underline;
                    font-style: bold;
                    color:white;
                }

            }
        }
    }

    .namespace
    {
        font-size: 11px;
        font-style: normal;
        color:var(--color-08);

        &:hover
        {
            color:var(--color-11);
            // color:$highlight-color-dark;
        }

        i {
            text-decoration: underline;
            font-style: normal;
            // color:var(--text-color);
        }
    }

    .summary
    {
        color:var(--text-color-textOpselect);
        font-size: 13px;
        font-style: normal;
        // margin-top: 5px;

        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;

        i
        {
            text-decoration: underline;
            font-style: normal;
        }
    }
}

.opsearch.minimal
{
    opacity: 0.9;
    width: 428px;
    height: 590px;

    input
    {
        padding:4px !important;
        padding-left:8px;
    }

    .button
    {
        display: none;
    }
    .searchresult
    {
        border:0;
        border-bottom:1px solid black;
        white-space: nowrap;
    }

    #realsearch,
    .namespace,
    .insertbutton,
    .searchinfo
    {
        display:none !important;
    }

    input:focus
    {
        border:1px solid black;
        border-radius: 2px;
    }

    .summary
    {
        display:inline;
    }

    .searchbrowserContainer
    {
        width: 428px;
    }

    header
    {
        padding:4px;
        border-radius: 0px;
    }

    .searchable
    {
        padding: 5px 10px;
    }
}

.searchbrowser
{
    .item_color_default { border-left:15px solid var(--color_op_handle_default);}
    .item_color_gl { border-left:15px solid var(--color_op_handle_gl); }
    .item_color_audio { border-left:15px solid var(--color_op_handle_audio); }
    .item_color_devices { border-left:15px solid var(--color_op_handle_devices); }
    .item_color_html { border-left:15px solid var(--color_op_handle_html); }
    .item_color_math { border-left:15px solid var(--color_op_handle_math); }
    .item_color_user { border-left:15px solid var(--color_op_handle_user); }
}

