


.params
{



    .warning,.warning-experimental,.warning-error
	{
		border: 1px solid;
    padding: 21px;

		a {
			text-decoration: underline;
		}
	}


	.hint
	{
		padding: 10px;
		background-color: transparent;
		border: 1px solid;
		display: none;
	}

	.warning ,.warning-experimental, .warning a, .warning-experimental a
	{
		color: $color-warning;
	}

	.warning-error, .warning-error a
	{
		color: $color-error;
	}

	.icon-link {
		position: relative;
        top: 4px;
	}

	.hint
	{
		background-color: $background-color-brighter;
	}

	.op-contextmenu {
		position: absolute;
		top: 15px;
		right: 10px;
	}

	.params_op_head
	{
	    text-align: center;

			#opname {
				width: 77%;
				background-color: transparent;
				margin-bottom: 0;

				&:hover {
					background-color: $color-c7;
				}
			}

		.summary
		{
			font-size: $font-size-default+2;
			padding:5px;
			margin: 10px 0;
		}

		// a
		// {
		// 	opacity: 0.6;
		// }

	    input
	    {
	        text-align: center;
			margin-bottom: 5px;
        }
        

	}







}

.paramsPortLink
{
    text-decoration: underline;
    margin-right: 5px;
    cursor:pointer;

    &:hover
    {
        color: $color-ca;
    }
}


.panel
{
    overflow: auto;
	padding:10px;

    div
    {

    }

    .invalid
    {
        border:1px solid $color-error;
        background-color:$color-error !important;
    }

    .nonDefaultValue
    {
        color: $color-ca;
    }

	.icon
	{
		background-color: $color-c3;
	}

    td.port
    {
        // border-left:4px solid $text-color;
        padding-left: 15px;
        //font-family: arial;
        text-transform: capitalize;
        align:top;

        text-overflow: ellipsis;
        max-width: 135px;
        overflow: hidden;
    }
    /* 90 degree border */

	td.portType_0 { box-shadow: inset 5px 0 0 $color_link_value !important; }
    td.portType_1 { box-shadow: inset 5px 0 0 $color_link_function !important; }
    td.portType_2 { box-shadow: inset 5px 0 0 $color_link_object !important; }
    td.portType_3 { box-shadow: inset 5px 0 0 $color_link_array !important; }

	td.portType_0_linked { box-shadow: inset 11px 0 0 $color_link_value !important; }
    td.portType_1_linked { box-shadow: inset 11px 0 0 $color_link_function !important; }
    td.portType_2_linked { box-shadow: inset 11px 0 0 $color_link_object !important; }
    td.portType_3_linked { box-shadow: inset 11px 0 0 $color_link_array !important; }

	textarea
	{
		background-color: $color-background-input;
        border: 1px solid $background-color-brighter;
	}

    input.value,.linkedValue
    {
		background-color: $color-background-input;
        border: 1px solid $background-color-brighter;
        float:left;
        font-family: SourceCodePro,monospace;
        font-size: 13px;
        &:focus
        {
            background-color: $color-background-input-focussed;
            outline: none;
        }

        -moz-appearance:textfield;
        
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        


    }

    .linkedValue
    {
        background-color:$color-cz;
        margin-top:4px;
        
    }



    .ccheckbox
    {
        padding-right:10px;
        font-size:17px;
        cursor:pointer;
        color:$color-c7;
    }

    .fa-check-square:before
    {
        color:$color-c2 !important;

    }

    .value
    {
        //font-family: SourceCodePro,monospace;
        width: 120px;

        display: block;
        padding-top:2px !important;
        padding-bottom:2px !important;
        padding-left: 7px !important;
    }

    table
    {
        width:100%;
        border-spacing: 0px;
        border-collapse: separate;

        th
        {
            font-weight: bold;
            text-align: left;
            padding:5px;
            padding-left:10px;
            padding-top: 20px;
            padding-bottom: 10px;
            font-size: 14px;
            color:$highlight-color;
        }

        tr
        {

        }

        td
        {
            padding-bottom: 3px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-top: 3px;

        }
    }

}

.panelhead
{
    background-color: $color-panelhead;
    padding: 6px !important;
    font-family: Arial;
    text-transform: capitalize;
    font-size: 14px !important;
    font-style: normal;
    cursor:pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;

    &:hover
    {
        color: $color-ca;
		background-color: $color-panelhead-hover;
    }

    &:before
    {
        font-family: fontawesome,arial;
        content:"\f107";
        margin-right: 5px;
        display:inline-block;
    }

    &.closed
    {
        &:before
        {
            font-family: fontawesome,arial;
            content:"\f106";
            margin-right: 5px;
            display:inline-block;
        }
    }













    

}

#options
{
    position:absolute;
    overflow: scroll;
    overflow-x: hidden;
	background-color: $background-color-dark;

    &:focus {
      border: 1px solid $highlight-color;
    }

    td
    {
        vertical-align:top;
    }

    select
    {
        border: 1px solid $color-c10;
        background-color: $color-background-input;
        padding:2px;
        border: 3px solid #444;
    }

    .colorButton
    {
        width:20px;
        height:20px;
        display:block;
        border:3px solid black;
        float:left;
    }
}


.valueDragger
{
    margin-left: -1px;
    height: 17px;
    background-color: $color-c85;
    padding-left: 5px;
    margin-top: 1px;
    padding-right: 6px;
    padding-top: 5px;
}


#options td, #meta td
{
    padding-top: 4px;
}

#options td, #meta td,#options input
{
    line-height: 18px !important;
    border-bottom: 1px solid $background-color-dark;
}



#options input[type="text"]
{
    padding:0px;
    padding-left:5px;
}

#options input:hover {
  background-color: $color-c8;
}

#options input:active, #options input:focus {
  border-bottom: 1px solid $highlight-color-dark;
}

#options input[type=range] {
    background-color: $color-c8;
    --slider-height: 18px;
    height: var(--slider-height);
    border-radius: 0;
    margin: 0;

    &::-moz-range-track {
        background-color: transparent;
        border: none;
        height: var(--slider-height);
    }

    &::-moz-range-thumb {
        border: none;
        border-radius: 0;
        background-color: $color-c4;
        height: var(--slider-height);
        width: var(--slider-height);
    }
}

td.head
{
    background-color: $color-cz;
}


.paramGroupSpacer
{
    :before
    {
        border:2px solid red;

    }
}