
.cablesCssUi
{

    #metatabpanel .tabs, #metatabpanel .tabpanel
    {
        height:0px !important;
        max-height: 30px !important;
        overflow: hidden;
    }

    #opparams
    {
        .button-small
        {
            margin-top:0px !important;
        }
    }

    .reset_hidden
    {
        pointer-events: none;
        opacity: 0.0 !important;
    }

    .param_reset
    {
        opacity:0;
        cursor:pointer;
        vertical-align: middle;
        opacity: 0.5;

        background-color: red;
        &:hover
        {
            opacity: 1 !important;

        }
    }

    .panel_head
    {
        background-color: var(--color-01);
        padding-bottom: 15px;

    }

    .params
    {


        .op-contextmenu {
            position: absolute;
            top: 9px;
            right: 10px;
        }
        .toggle-bookmark-button
        {
            position: absolute;
            top: 9px;
            right: 34px;
        }


        .warning,.warning-experimental,.warning-error
        {
            margin-top:10px;
            border: 3px solid;
            padding: 6px;

            a {
                text-decoration: underline;
            }
        }

        // old
        .hint
        {
            padding: 10px;
            background-color: transparent;
            border: 1px solid;
            display: none;
        }

        // old
        .warning ,.warning-experimental, .warning a, .warning-experimental a
        {
            border-color: var(--color-warning);
            font-size: var(--font-size-bigger);
        }

        .warning-error p
        {
            margin:0px;
        }
        .warning-error, .warning-error
        {
            margin-top:10px;
            text-align: left;
            border-color: transparent;
            font-size: var(--font-size-bigger);
            border-radius: 5px;
            margin-bottom: 3px;;
        }

        .icon-link {
            position: relative;
            top: 4px;
        }

        .hint
        {
            background-color: $background-color-brighter;
        }

        .params_op_head
        {

            #opname {
                width: 77%;
                background-color: transparent;
                margin-bottom: 0;

                &:hover {
                    background-color: var(--color-06);
                }
            }

            .summary
            {
                font-size: var(--font-size-bigger);
                padding:2px;
                margin: 10px 0;
            }

            // a
            // {
            // 	opacity: 0.6;
            // }

            input
            {
                // text-align: center;
                margin-bottom: 5px;
                padding-bottom: 3px;
            }

        }
    }
    .warning-error-level2,.warning-error-level2:hover
    {
        background: var(--color-bg-error) !important;
    }


    .warning-error-level1
    {
        background: var(--color-bg-warning);
    }

    .warning-error-level0, .warning-error-level3
    {
        background: var(--color-bg-hint);
    }


    .paramsPortTitleClickable
    {
        cursor:pointer;
        user-select:none;

        &:hover
        {
            // text-decoration: underline;
            background-color: #444;
        }
    }



    .paramsPortLink
    {
        text-decoration: underline;
        margin-right: 5px;
        cursor:pointer;

        &:hover
        {
            color: var(--color-13);
        }
    }


    .panel
    {
        overflow: auto;
        padding:10px;

        .colorbutton
        {
            width:20px;
            height:20px;
            display:block;
            border:3px solid var(--color-01);
            color:var(--color-01);
            float:left;
            display: block;
        }

        div
        {

        }

        .invalid
        {
            border:1px solid var(--color-error);
            background-color:var(--color-error) !important;
        }

        .nonDefaultValue
        {
            color: var(--color-13);
        }

        .icon
        {
            background-color: var(--color-10);
        }

        tr.greyedout
        {
            opacity:0.3 !important;
            pointer-events: none;

            .numberinput-display
            {
                color:transparent;
            }
        }



        .hide
        {
            display: none;
        }


        td.port
        {
            // border-left:4px solid var(--text-color);
            padding-left: 5px;
            //font-family: arial;
            text-transform: capitalize;
            align:top;

            text-overflow: ellipsis;
            max-width: 135px;
            overflow: hidden;
            vertical-align: top;
        }
        /* 90 degree border */

        td.portType_0 { box-shadow: inset 6px 0 0 -1px var(--color_link_value) !important; }
        td.portType_1 { box-shadow: inset 6px 0 0 -1px var(--color_link_function) !important; }
        td.portType_2 { box-shadow: inset 6px 0 0 -1px var(--color_link_object) !important; }
        td.portType_3 { box-shadow: inset 6px 0 0 -1px var(--color_link_array) !important; }
        td.portType_4 { box-shadow: inset 6px 0 0 -1px var(--color_port_dynamic) !important; }
        td.portType_5 { box-shadow: inset 6px 0 0 -1px var(--color_link_string) !important; }

        td.portType_0_linked { box-shadow: inset 12px 0 0 -1px var(--color_link_value) !important; }
        td.portType_1_linked { box-shadow: inset 12px 0 0 -1px var(--color_link_function) !important; }
        td.portType_2_linked { box-shadow: inset 12px 0 0 -1px var(--color_link_object) !important; }
        td.portType_3_linked { box-shadow: inset 12px 0 0 -1px var(--color_link_array) !important; }
        td.portType_4_linked { box-shadow: inset 12px 0 0 -1px var(--color_port_dynamic) !important; }
        td.portType_5_linked { box-shadow: inset 12px 0 0 -1px var(--color_link_string) !important; }

        td.disp_switch { box-shadow: inset 6px 0 0 -1px var(--color_link_value) !important; } // overwrite: string port switch should be displayed as number because input port is index number

        textarea
        {
            background-color: $color-background-input;
            border: 1px solid $background-color-brighter;
            width:95% !important;
        }

        textarea,input
        {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
        }

        input.value,.linkedValue
        {
            background-color: $color-background-input;
            // border: 1px solid $background-color-brighter;
            float:left;
            font-family: SourceCodePro,monospace;
            font-size: var(--font-size-default);
            &:focus
            {
                background-color: $color-background-input-focussed;
                outline: none;
            }

            -moz-appearance:textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }

        .linkedValue
        {
            background-color:var(--color-01);
            margin-top:4px;
        }

        .ccheckbox
        {
            cursor:pointer;
        //     padding-right:10px;
        //     font-size:17px;
        //     color:var(--color-06);
        }


        .checkbox-active,.checkbox-inactive
        {
            border-radius: 4px;
            display: block;
            width: 20px;
            height: 20px;

            .icon
            {
                background-color: white;
                margin-top: 1px;
                width:16px;
                height:16px;
            }
        }

        .checkbox-active
        {
            background-color: var(--color-07);
            width:20px;
            height:20px;
        }
        .checkbox-inactive
        {
            border-radius: 4px;
            background-color: var(--color-05);
            .icon
            {
                opacity: 0;
            }
        }

        // .fa-check-square:before
        // {
        //     color:var(--color-11) !important;
        // }

        .value
        {
            width: 120px;
            display: block;
            padding-top:2px !important;
            padding-bottom:2px !important;
            padding-left: 7px !important;
        }

        .objType
        {
            border-radius: 4px;
            background-color: var(--color-04) !important;
            padding: 2px;
            font-size: 12px;
            padding-left: 4px;
            padding-right: 4px;
            font-style: italic;
        }


        table
        {
            width:100%;
            border-spacing: 0px;
            border-collapse: separate;

            th
            {
                font-weight: bold;
                text-align: left;
                padding:5px;
                padding-left:10px;
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 14px;
                color:$highlight-color;
            }

            tr
            {

            }

            td
            {
                // padding-bottom: 3px;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-top: 3px;

            }
        }

    }



    .panelhead
    {
        // background-color: var(--color-01);
        // // background-color: transparent;
        // padding: 6px !important;
        // font-family: Arial;
        // text-transform: capitalize;
        // font-size: 14px !important;
        // font-style: normal;
        // // cursor:pointer;
        // padding-left: 10px;
        // padding-right: 10px;
        // // padding-top: 20px !important;
        // margin-bottom: 1px;
        // text-align: center;
        // border-top:10px solid var(--color-02);
        // border-bottom:10px solid var(--color-02) !important;
        // text-transform: uppercase;
        // &:hover
        // {
        //     color: var(--color-13);
        // 	   background-color: var(--color-04);
        // }

        // &:before
        // {
        //     font-family: arial;
        //     content:"\f107";
        //     margin-right: 5px;
        //     display:inline-block;
        // }

        // &.closed
        // {
        //     &:before
        //     {
        //         font-family: arial;
        //         content:"\f106";
        //         margin-right: 5px;
        //         display:inline-block;
        //     }
        // }
    }

    select
    {
        border: 1px solid var(--color-02);
        background-color: $color-background-input;
        padding:2px;
        border: 1px solid transparent;
        // max-width: 190px;
    }

    .contextmenuarea
    {
        min-width:15px;
        text-align:right;
    }

    #options
    {
        position:absolute;
        overflow: auto;
        overflow-x: hidden;
        background-color: $background-color-dark;
        // z-index: 10;

        &:focus
        {
            border: 1px solid $highlight-color;
        }



        td
        {
            vertical-align:top;
        }

        &.readonly .panel {
            opacity: 0.6;
            pointer-events: none !important;
            user-select: none !important;

            input {
                pointer-events: none !important;
                user-select: none !important;
            }
        }

    }


    .valueDragger
    {
        margin-left: -1px;
        height: 17px;
        background-color: var(--color-04);
        padding-left: 5px;
        margin-top: 1px;
        padding-right: 6px;
        padding-top: 5px;
    }


    #options td, #meta td
    {
        padding-top: 4px;
    }

    #options td, #meta td,#options input
    {
        line-height: 18px !important;
        border-bottom: 1px solid $background-color-dark;
    }



    #options input[type="text"]
    {
        padding:0px;
        padding-left:5px;
    }

    #options input:hover {
    background-color: var(--color-05);
    }

    #options input:active, #options input:focus {
    border-bottom: 1px solid $highlight-color-dark;
    }

    #options input[type=range] {
        background-color: var(--color-05);
        --slider-height: 18px;
        height: var(--slider-height);
        border-radius: 0;
        margin: 0;

        &::-moz-range-track {
            background-color: transparent;
            border: none;
            height: var(--slider-height);
        }

        &::-moz-range-thumb {
            border: none;
            border-radius: 0;
            background-color: var(--color-09);
            height: var(--slider-height);
            width: var(--slider-height);
        }
    }

    #options .axisX:after
    {
        color: rgb(255,0,0);
        content:"•";
        font-weight: bold;
    }
    #options .axisY:after
    {
        color: rgb(0,255,0);
        content:"•";
        font-weight: bold;
    }
    #options .axisZ:after
    {
        color: rgb(0,0,255);
        content:"•";
        font-weight: bold;
    }

    td.head
    {
        background-color: var(--color-01);
    }

    .groupSpacer,.groupSpacer h3
    {
        color: var(--color-13);
        margin-top:0px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .groupSpacer
    {
        user-select: none;
        font-size: 15px;

        .icon-chevron-down,.icon-chevron-up
        {
            vertical-align: middle;
            margin-right: 5px;
        }

        // &:hover
        // {
        //     // background-color: red;
        //     color:white;
        //     cursor:pointer;
        // }


        background: linear-gradient(180deg,
            rgba(0,0,0,0) calc(50% - 0px),
            var(--color-04) calc(50%),
            rgba(0,0,0,0) calc(50% + 2px)
        );

        text-shadow:
            -6px 0px 1px var(--color-02),
            -5px 0px 1px var(--color-02),
            -4px 0px 1px var(--color-02),
            -3px 0px 1px var(--color-02),
            -2px 0px 1px var(--color-02),
            -1px 0px 1px var(--color-02),
            6px 0px 1px var(--color-02),
            5px 0px 1px var(--color-02),
            4px 0px 1px var(--color-02),
            3px 0px 1px var(--color-02),
            2px 0px 1px var(--color-02),
            1px 0px 1px var(--color-02)
            ;

        padding-left: 14px;
        margin-top:10px;
        margin-bottom:8px;
        // color:var(--color-07);
        // text-align:center;
        line-height: 20px;
        min-height:10px;
    }

    .port2previewbutton
    {
        padding: 5px 10px;
        &::before
        {
            margin:0px !important;

        }
    }




    .radioToggle
    {
        border-radius:4px;
        // border:1px solid #222;
        display:inherit;
        background-color: var(--color-05);

        label
        {
            float:left;
            border-right:1px solid var(--color-02);
            cursor:pointer;
            user-select:none;

            &:last-child
            {
                border:0;
            }
        }


        label span {
            padding:3px;
            padding-top:2px;
            padding-left:6px;
            padding-right:6px;
            text-align:center;
            // font-size: 13px;
            display:block;
            border-radius: 0px;
        }

        label input {
            display:none;
        }

        input:checked + span {
            color: var(--color-13);
            background-color: var(--color-07);
        }


        label
        {
            &:last-child span
            {
                border-top-right-radius:4px;
                border-bottom-right-radius:4px;
            }

            &:first-child span
            {
                border-top-left-radius:4px;
                border-bottom-left-radius:4px;
            }
        }

    }

    .panel {
        &.patch_summary {
            padding: 0;
            // margin-top: 10px;
            height: 100%;
            .iframe {
                width: 100%;
                height: 320px;
                border: none;
                overflow-x: hidden;
            }
        }
    }

    .subpatchlist div
    {
        padding:3px;
    }

    .subpatchlist
    {
        .lostsubpatch
        {
            background-color: var(--color-bg-error) !important;
            color:white !important;

            // color:red !important;
        }


    }

}

