

.cursor_pointer{ cursor:pointer; }
.cursor_grab{ cursor:url(/ui/img/grab.png) 0 0, auto; }
.cursor_wait{ cursor:progress; }
.cursor_auto{ cursor:auto; }

.cursor_port_circle{ cursor:url(/img/circle.png) 10 10, auto }
.cursor_port_remove{ cursor:url(/img/remove.png) 10 10, auto }
.cursor_port_add{ cursor:url(/img/add.png) 10 10, auto }



#drop-op-cursor
{
	position: absolute;
	display:none;
	width:75px;
	height:20px;
	z-index: $z-index-patch-drop-op;
	background-image: url(/img/dragicon.png);
	background-size: 100% 100%;
	pointer-events: none;
}

.error-indicator
{
	fill:$color-error;
	stroke-width:0;
}
.error-indicator-warning
{
	fill:$color-warning;
	stroke-width:0;
}

#minimapContainer
{
    // border:1px solid red;
    border:2px solid var(--color-01);
    position: absolute;
    display: none;

    .title
    {
        cursor:pointer;
        background-color: var(--color-08);
    }
}

#minimap
{
    display: none;

    &:focus
    {
        outline: none;
    }

    svg
    {
        background-color: var(--color-01);
        cursor: pointer;
    }

    rect
    {
        vector-effect:non-scaling-stroke;
        pointer-events: none;
    }

    .op_minirect_default { fill:$color_op_handle_default;}
    .op_minirect_gl { fill:$color_op_handle_gl; }
    .op_minirect_audio { fill:$color_op_handle_audio; }
    .op_minirect_devices { fill:$color_op_handle_devices; }
    .op_minirect_html { fill:$color_op_handle_html; }
	.op_minirect_math { fill:$color_op_handle_math; }
}


.port_text_color_function { color::$color_port_function;}
.port_text_color_value { color::$color_port_value; }
.port_text_color_object { color::$color_port_object;}
.port_text_color_array { color::$color_port_array;  }
.port_text_color_dynamic { color::$color_port_dynamic;}
.port_text_color_string { color::$color_port_string;}


.port_color_function { fill:$color_port_function; stroke:$color_port_function; }
.port_color_value { fill:$color_port_value; stroke:$color_port_value; }
.port_color_object { fill:$color_port_object; stroke:$color_port_object; }
.port_color_array { fill:$color_port_array; stroke:$color_port_array; }
.port_color_dynamic { fill:$color_port_dynamic; stroke:$color_port_dynamic;}
.port_color_string { fill:$color_port_string; stroke:$color_port_string;}
.port_color_unknown { fill:#0f0; }


.op_color_default { color:$color_op_handle_default;}
.op_color_gl { color:$color_op_handle_gl; }
.op_color_audio { color:$color_op_handle_audio; }
.op_color_devices { color:$color_op_handle_devices; }
.op_color_html { color:$color_op_handle_html; }
.op_color_math { color:$color_op_handle_math; }
.op_color_user { color:$color_op_handle_user; }



#patch
{
    outline:none;
    position:absolute;
    border:1px solid rgb(26, 26, 26);
    overflow: hidden;

    &:focus
    {
        // border:1px solid $highlight-color-dark;
		// transition: ease-in-out, border .1s ease-in-out;
		border: 1px solid var(--color-05);
	}

	.commentTitle
    {
        font-size: 70px !important;
	    letter-spacing: 3px;
		font-family: SourceSansProLight !important;
        text-transform: none;
        // fill:var(--color-12);
    }
	.commentText
    {
        font-size: 15px !important;
		font-family: SourceSansPro !important;
        text-transform: none;
        // fill:var(--color-12);
    }

	.Ops_Ui_Comment
	{
        fill:var(--color_op_bg_active) !important;
        
	}

    svg
    {
        // shape-rendering:crispEdges;
        // shape-rendering:optimizeSpeed;
        position:absolute;
        text
        {
            // text-transform: capitalize;
            font-size: 14px !important;
			font-family: SourceSansPro !important;
            pointer-events:none;
            // fill:var(--color_op_text);

			&.active
			{
				fill:var(--color_op_text_active);
			}
        }
    }

    .op_background
    {
        fill: var(--color_op_bg);
        stroke-width:0;
        // cursor: move;

        &.active
        {
            fill:var(--color_op_bg_active);
        }
    }

    .op_highlight
    {
        stroke-width:2;
        stroke:var(--color-08);
        color:#fff !important;
    }

    .op_handle
    {
        stroke-width:0;
        cursor: "ew-resize";
    }

    .op_subpatch,.op_subpatch_in,.op_subpatch_out
    {
        stroke:$color_op_handle_default !important;
        stroke-width:2;
    }

    .rubberband
    {
        stroke: $color-rubberband;
        fill: $color-rubberband;
        stroke-width: 1;
        fill-opacity: 0.08;
    }



    .port
    {
        stroke-width: 0;
        fill-opacity:1;
        width:10px;
        height:6px;

        &.connected
        {
            height:9px;
        }

        &.animated
        {
            // stroke-width:1;
            fill-opacity:0.5;
            // stroke: var(--color-13) !important;
            // stroke-opacity:0.5;
        }


        &.active
        {
            stroke-width:1;
            fill-opacity:1;
            stroke: var(--color-13) !important;
            // stroke-opacity:0.5;
        }
    }
    .addCircle
    {
        fill:$background-color-dark;
        stroke-width:2;
        stroke-opacity:1;

        &.active
        {
            stroke-width:4;
        }
    }

    .link_color_function { stroke:$color_link_function; }
    .link_color_value { stroke:$color_link_value; }
    .link_color_object { stroke:$color_link_object; }
    .link_color_array { stroke:$color_link_array; }
    .link_color_dynamic { stroke:$color_link_dynamic; }
    .link_color_string { stroke:$color_link_string; }
    .link_color_unknown,.link_color_error { stroke: var(--color-06); }

    .link_hover
    {
        stroke: var(--color-13) !important;
        stroke-width:3;
    }



	@keyframes copyAnim
	{
	    0%
		{
			stroke-width:4px;
		}
	    100%
		{
			stroke-width:0px;
		}
	}

	.copyOp
	{
		stroke:$color-special;
		stroke-width:0px !important;
		animation: copyAnim 0.1s;
	}


	@keyframes focusAnim
	{
	    0%
		{
			stroke-width:6px;
			fill: $color-special;
		}
	    100%
		{
			stroke-width:0px;
			fill: var(--color_op_bg);
		}
	}

	.focusOp
	{
		stroke:$color-special;
		stroke-width:0px !important;
		fill: var(--color_op_bg);
		animation: focusAnim 0.4s;
	}

}

#patch,#opselect-layout
{
    .op_handle_default { fill:$color_op_handle_default;}
    .op_handle_gl { fill:$color_op_handle_gl; }
    .op_handle_audio { fill:$color_op_handle_audio; }
    .op_handle_devices { fill:$color_op_handle_devices; }
    .op_handle_html { fill:$color_op_handle_html; }
    .op_handle_math { fill:$color_op_handle_math; }
    .op_handle_user { fill:$color_op_handle_user; text-decoration:underline}

}

.color-op-category-default { color: $color_op_handle_audio; }
.color-op-category-gl { color: $color_op_handle_gl; }
.color-op-category-audio { color: $color_op_handle_audio; }
.color-op-category-devices { color: $color_op_handle_devices; }
.color-op-category-html { color: $color_op_handle_html; }
.color-op-category-math { color: $color_op_handle_math; }
.color-op-category-user { color: $color_op_handle_user; }

#suggestionDialog
{
    position: absolute;
    z-index: $z-index-patch-suggestion-dialog;
    bottom: 100px;

    .suggestion
    {
        margin-bottom: 10px;
        padding:5px;
        text-overflow: ellipsis;
        position: absolute;
        font-size: 13px;
        min-width: 50px;
        white-space: nowrap;
        background-color:var(--color-01);// rgba(20,20,20,0.7);
        color: var(--color-13);
        border-radius: 4px;

        &:hover
        {
            cursor:pointer !important;
            background-color: $highlight-color-dark;
            color: var(--color-13);
        }

		.icon
		{
			margin-left:5px;
			margin-right:5px;
		    mask-position-y: 2px;
		}
    }

    .recommended-suggestion
    {
        border-left:10px solid white;
    }

    .opSelect
    {
		cursor:pointer;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        background-color: var(--color-13);
        color: var(--color-02);
        border-radius: 100px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;

        &:hover
        {
            cursor:pointer !important;
            background-color: $highlight-color-dark;
            color: var(--color-13);
        }
    }
}

#subpatch_nav
{
    // background-color: var(--color-01);
	position: relative;
	z-index: $z-index-patch-subpatch-nav;
	display: none;

	#subpatch_breadcrumb
	{
		float:left;
		margin-top: 14px;
        margin-left: 14px;
        color: var(--color_op_text_active);

        a
		{
			font-size: 15px;
            background-color: var(--color_op_bg);
            color: var(--color_op_text_active);
			padding: 2px;
			padding-left: 8px;
			padding-right: 8px;
			border-radius: 4px;
			margin-right: 10px;

			&:hover
		    {
				background-color: var(--color_op_bg_active);
		    }

		}
	}

	#button_subPatchBack
	{
		float:left;
	    background-color: var(--color_op_bg);
	    padding:10px;
	    border-radius: 100px;

	    cursor: pointer;

	    width:30px;
	    height:30px;

	    &:hover
	    {
			background-color: var(--color_op_bg_active);
	    }
	}

}





@keyframes pathSpeedAnim
{
  from { stroke-dashoffset: 0; }
  to { stroke-dashoffset: 200; }
}

@keyframes pathSpeedAnimFast
{
  from { stroke-dashoffset: 0; stroke-width: 5;}
  to { stroke-dashoffset: 200;stroke-width: 5}
}

@keyframes pathSpeedAnimFlash
{
  from { stroke-width: 10; stroke-dashoffset: 0; }
  to { stroke-width: 2; stroke-dashoffset: 9;}
}

.pathSpeed0,.pathSpeed1,.pathSpeed2,.pathSpeed3,.pathSpeed4
{
    stroke-dashoffset: 0;
    stroke-dasharray: 5;
    stroke-width:2px;
    animation: pathSpeedAnim 10s;
    animation-iteration-count:infinite;
}

.pathSpeed0
{
    animation-iteration-count:0;
    opacity: 0.3;
}

.pathSpeed1
{
    animation: pathSpeedAnimFlash 0.2s;
    animation-iteration-count:infinite;
}

.pathSpeed2
{
    animation: pathSpeedAnim 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

.pathSpeed3
{
    animation: pathSpeedAnim 2.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

.pathSpeed4
{
    animation: pathSpeedAnimFast 1.25s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}


rect
{
    tap-highlight-color:rgba(0,0,0,0);
}
