

#searchbox,#cmdpalette
{
    position: absolute;
    top:31px;
    z-index: $zindex_highest;

	background-color: $color-searchInputContainer;
	border-radius: 4px;
	padding:0px;

	.inputcontainer
	{
		padding:10px;
	}


    #searchresult_cmd
    {
		max-height: 30vh;
	    overflow-y: auto;
    }
}



	#searchbox input,#cmdpalette input,.tabsearchbox input
	{
        -webkit-appearance: none;
        -webkit-user-select: auto;
        margin-bottom: 15px;
        background-color: var(--color-06);
        border: 1px solid transparent;

        &:focus {
            border-color: var(--color-13);
        }
	}


#searchbox,.tabSearchResultsContainer {
    -webkit-appearance: none;

    .inputcontainer {
        background-color: var(--color-01);

        .icon {
            margin-left: 5px;
        }

        input {
            -webkit-appearance: none;
            -webkit-user-select: auto;
            background-color: var(--color-06) !important;
        }
    }
}

#searchresult,.tabSearchResultsContainer {
  $search-result-border-radius: 8px; // TODO: Move to main.scss

//   box-shadow: 1px 0px 10px #000;
//   border-bottom-left-radius: $search-result-border-radius;
//   border-bottom-right-radius: $search-result-border-radius;
//   max-height: 90vh;
//   overflow-y: scroll;

  div {
    border-bottom: 1px solid var(--color-05);

    // &:last-child {
    //   border-bottom: none;
    // //   border-bottom-left-radius: $search-result-border-radius;
    // //   border-bottom-right-radius: $search-result-border-radius;
    // }
  }

    .highlight
    {
        color:var(--color-special);
    }
}

#searchresult,#searchresult_cmd,.list,.tabSearchResultsContainer
{
	background-color: $background-color-brighter;
    padding:0px;

    h3
    {
        margin:0px;
    }

    div
    {
        padding:10px;
        cursor:pointer;
        overflow-x: hidden;

        &:hover
        {
            cursor:pointer;
			background-color: var(--color_op_bg_active);
        }
        border-left:2px solid transparent;
    }

    .lastClicked
    {
        background-color: var(--color-05);
    }

    .blueprint, .blueprint_subpatch,.blueprintSub
    {
        opacity:0.5;
    }

    .blueprint, .blueprint_subpatch
    {


        h3
        {
            border-right: 5px solid var(--color_op_handle_default);
        }
    }

    .selected
    {
        border-left:2px solid var(--color-07);
    }

    .resultError
    {
        border:0;
        background-color: black;
    }
}

#searchresult .highlight
{
    font-weight:bold;
    text-decoration:underline
}



.resultHiddenOp
{
    opacity:0.5;
}
