
#searchbox,#cmdpalette
{
    position: absolute;
    top:31px;
    z-index: $z-index-searchbox;
    display:none;

	background-color: $color-searchInputContainer;
	border-radius: 4px;
	padding:0px;

	.inputcontainer
	{
		padding:10px;
	}

	input
	{
		margin-bottom: 15px;
	}

    #searchresult_cmd
    {
		max-height: 30vh;
	    overflow-y: auto;
    }
}

#searchbox {
    .inputcontainer {
        background-color: $color-cz;

        .icon {
            margin-left: 5px;
        }
        
        input {
            background-color: $color-c7 !important;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid $color-ca;
            }
        }
    }
}

#searchresult {
  $search-result-border-radius: 8px; // TODO: Move to main.scss

  border-bottom-left-radius: $search-result-border-radius;
  border-bottom-right-radius: $search-result-border-radius;

  div {
    border-bottom: 1px solid $color-list-border;

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: $search-result-border-radius;
      border-bottom-right-radius: $search-result-border-radius;
    }
  }
}

#searchresult,#searchresult_cmd,.list
{
	background-color: $background-color-brighter;
    padding:0px;

    h3
    {
        margin:0px;
    }

    div
    {
        padding:10px;
        cursor:pointer;
        overflow-x: hidden;

        &:hover
        {
            cursor:pointer;
			background-color: $color_op_bg_active;
        }
    }
}
