
.tabtoolbar
{
    padding-top:3px;
    padding-left:5px;

    a
    {
        border-radius: 9px;
        cursor:pointer !important;

        background-color: $button-background-color !important;
        color:$button-text-color;
        padding:2px;
        padding-left:5px;
        padding-right:5px;

        &:hover
        {
            background-color: $button-background-color-hover !important;
            color:$button-text-color-hover;
        }
    }    
}

.tabpanel
{
    // position: absolute;
    background-color: var(--color-02);

    


    .tabs
    {
        // border:1px solid green;
        width:100%;
        margin-bottom: 3px;
        height:32px;
        overflow: hidden;
        background-color: var(--color-03);

        .tabcontainer
        {
            display:inline;
        }

        .taboptions
        {
            position:absolute;
            min-width:20px;
            max-width: 20px !important;
            right:0px;
            padding:4px;
            padding-top:10px;
            padding-bottom:8px;
            background-color: var(--color-03);
            z-index: 2;
        }

        .tab
        {
            float:left;
            font-size: 13px;
            padding:4px;
            padding-top:3px;
            cursor:pointer;
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 7px;
            min-width: 70px !important;
            opacity:0.4;
            color: var(--color-13);

            &:hover
            {
                opacity:0.6;
                border-bottom: 1px solid var(--color-08);
            }

            &.active
            {
                background-color: var(--color-02);
                opacity:1;
                font-weight: bold;
                border-bottom: 1px solid var(--color-special);
                
                &:hover
                {
                    opacity:1;
                }
            }


            .tabicon
            {
                pointer-events: none !important;
            }

        }
    }
}

.contentcontainer
{
    .tabcontent
    {
        background-color:$background-color-dark;
        max-height:100%;
        padding:10px;
        height:auto;
        overflow-x:hidden;
        overflow-y:scroll;
    }
}


#maintabs
{
    background-color:$background-color-dark;
    margin: 0;
    // background-color: blue;
    z-index: 2000;
    position: absolute;
    // top: 50;
    // bottom: 0;
    // left: 200;
    // right: 0;
    // border:2px solid red;
    // width:40%;
    height:100%;

    .ace_content *
    {
        font-family: sourceCodePro;
        -webkit-font-smoothing: subpixel-antialiased;

    }
}
