

.tabContentScrollContainer
{
    height:100%;
    overflow-y: auto;
}
.tabtoolbar
{
    padding:15px;
    padding-left:5px;
}

#bottomtabs .tabtoolbar
{
    padding:2px;
}

.toolbar
{
    // border:1px solid green;
    background-color: var(--color-01);
}

.tabpanel
{
    background-color: var(--color-02);

    .tabs
    {
        // height: 32px; // dont set height directly because scrollbars...
        // height: auto;
        padding:0px;
        padding-left: 4px;

        width:100%;
        // margin-bottom: 3px;
        // height:32px;
        // overflow: hidden;
        overflow-x: auto;
        overflow-y: none;
        background-color: var(--color-03);
        white-space: nowrap;

        .tabcontainer
        {
            user-select: none;
            display:inline-block;
        }

        .taboptions
        {
            position:absolute;
            min-width:20px;
            max-width: 20px !important;
            right:0px;
            padding:4px;
            padding-top:10px;
            padding-bottom:8px;
            background-color: var(--color-03);
            z-index: 2;
        }

        .tab
        {
            float:left;
            font-size: 13px;
            padding:4px;
            padding-top:3px;
            cursor:pointer;
            padding-left: 8px;
            padding-right: 8px;
            margin-top: 7px;
            min-width: 70px !important;
            opacity:0.8;
            color: var(--color-13);
            background-color: var(--color-02);
            border-bottom: 1px solid transparent;

            &:hover
            {
                opacity:0.6;
                border-bottom: 1px solid var(--color-08);
            }

            &.active
            {
                opacity:1;
                background-color: var(--color-01);
                border-bottom: 1px solid var(--color-special);

                &:hover
                {
                    opacity:1;
                }
            }

            .tabicon
            {
                pointer-events: none !important;
            }
        }

        .unsaved
        {
            color:var(--color-warning);
        }
    }
}



.contentcontainer
{
    // outer container for tabs. can not scroll. scrolling must be handles in container childs!
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;

    .tabcontent-scroll
    {
        height:100%;
        overflow-x:auto;
        overflow-y:auto;
    }

    .tabRows
    {
        display: flex;
        flex-direction:column;
        height:100%;

        .tabRow
        {
            margin-bottom:10px;
        }

        .tabRowExpand
        {
            display:flex;
            flex-grow:1;
            flex: 1 1 auto;
            overflow-y: auto;
            margin-bottom:10px;
        }

        .hljs
        {
            width:100%;
            height:100%;
            overflow: auto;
        }
    }

    .padding
    {
        padding-left:10px;
    }

    .closetabx
    {
        margin-top: 4px;
        margin-right:10px;
        float:right;
        position: absolute;
        right: 0px;
    }

    .tabcontent
    {
        background-color:$background-color-dark;
        max-height:100%;
        height:auto;

        &.readonly
        {
            opacity: 0.6;
            pointer-events: none !important;
            user-select: none !important;

            input
            {
                pointer-events: none !important;
                user-select: none !important;
            }
        }

        h1,h2,h3,h4
        {
            color:var(--color-13);
        }

        hr
        {
            margin-top:20px;
            border-top:2px solid var(--color-05);
        }
    }
}

#metatabpanel .contentcontainer
{
    overflow-y: auto;
}

#metatabpanel .libselect.inactive
{
    opacity: 0.5;
}

#bottomtabs .tabpanel
{
    display: none;
}

#maintabs,#bottomtabs
{
    background-color:$background-color-dark;
    margin: 0;
    // background-color: blue;
    z-index: $zindex_over;
    position: absolute;
    overflow: hidden;
    // top: 50;
    // bottom: 0;
    // left: 200;
    // right: 0;
    // border:2px solid red;
    // width:40%;
    // max-height:400px;
    // max-height:100%;
    // height:50%;
    // border:1px solid blue;
    // overflow-y:hide;


    .ace_gutter-active-line
    {
        background-color: #696a6b;
    }

    .ace_content *
    {
        font-family: sourceCodePro;
        -webkit-font-smoothing: subpixel-antialiased;

    }

    .ace_selection
    {
        background-color: #188eac !important;
        border:0 !important;
    }
    .ace_selected-word
    {
        background-color: #14748b !important;
        border:0 !important;
    }

}


.tabSubtab
{
    padding-left:15px;
    padding-right:15px;
    padding:5px;
    border-bottom:1px solid transparent;
}
.tabActiveSubtab
{
    border-bottom:1px solid var(--color-special);
}


.logList
{
    height: 100%;
    overflow:scroll;
    display: flex;
    flex-direction: column-reverse;

    .logLineCode
    {
        background-color: rgba(0,0,0,0.75);
        padding-left:10px;
        padding-right:10px;
    }

    .logLine
    {
        margin-top:3px;
        background-color: #222;
        font-family: monospace;
        *
        {
            color:#c8c8c8;
        }

        .outerInitiator
        {
            color:#777;
        }
        .initiator,a
        {
            color:#ecce64;
        }
        a
        {
            text-decoration: underline;
        }
    }

    .logLine:hover
    {
        background-color: #333;
    }

    .initiator_gui
    {
        color:var(--color_port_value)
    }

    .logLevel0
    {
    }
    .logLevel1
    {
        background-color: rgb(48, 48, 3);
    }
    .logLevel1:hover
    {
        background-color: rgb(61, 61, 4);
    }
    .logLevel2
    {
        background-color: rgb(52, 9, 9);
    }
    .logLevel2:hover
    {
        background-color: rgb(74, 13, 13);
    }

    .logLevel99
    {
        background-color: transparent;

        a
        {
            text-decoration: none;
            font-family: "SourceSansPro", sans-serif;;
        }
    }
    .logLevel99:hover
    {
        background-color: transparent;
    }

}
