
// .cablesCssUi
// {
//     #timing
//     {
//         font-family: SourceCodePro,monospace;
//         position: absolute;
//         overflow: hidden;

//         &.readonly {
//             opacity: 0.6;
//             pointer-events: none;
//         }

//         .breadcrumb
//         {
//             color: var(--color_op_text_active);
//             padding:5px;
//             padding-left:10px;
//             padding-right:10px;
//             margin-top: 4px;
//             background-color: var(--color_op_bg);
//         }


//     }

//     .timeline-cursor
//     {
//         stroke:var(--color-special);
//         stroke-width: 2px;
//         z-index: 1000;
//     }

//     .timeline-key
//     {
//         fill-opacity: 0.6;
//         fill:var(--color_port_value);
//         stroke-width: 1px;
//         stroke:var(--color-13);
//         cursor:col-resize;
//     }

//     .timeline-key-selected
//     {
//         fill:#fff;
//         fill-opacity: 1;
//     }

//     .timeline-keyline
//     {
//         stroke:var(--color_port_value);
//     }

//     .timeline-timesteplines
//     {
//         stroke:#111;
//     }

//     .timeline-overview-area
//     {
//         fill:var(--color-05);
//         stroke:var(--color-05);
//         cursor:grab;
//     }

//     .timeline-overview-area-resize
//     {
//         fill:var(--color-04);
//         stroke:var(--color-04);
//         stroke-width: 0;
//         cursor:col-resize;
//     }



//     #timetimeline
//     {
//         box-shadow: 0px 0px 10px #111;
//         cursor:col-resize;

//         *
//         {
//             cursor:col-resize;
//         }

//     }


//     #timelineui
//     {
//         overflow: hidden;
//         padding-top: 5px;

//         #button_toggleTiming
//         {
//             float: left;
//             // ily: arial;
//             margin-left: 10px;
//             padding-top: 5px;
//             cursor: pointer;
//             height:30px;
//             padding-right: 10px;
//             color: var(--color-13);
//             opacity: 0.5;

//             i
//             {
//                 margin-right: 10px;
//             }
//         }

//         input
//         {
//             margin-top: 6px !important;
//             margin-left: 10px !important;
//             // border:1px solid red;
//         }


//         .timelineprogress
//         {
//             display: block;
//             font-size: var(--font-size-default);
//             line-height: 14px;
//             float:left;
//             padding:4px;
//             width:33px;
//             height:32px;
//             margin-top: -1px;
//             margin-left: 0px;
//             text-align: center;
//             padding-top:2px;
//         }

//         .timelinetime
//         {
//             display: block;
//             font-size: var(--font-size-default);
//             line-height: 14px;
//             float:left;
//             padding:4px;
//             width:70px;
//             height:32px;
//             margin-top: -1px;
//             margin-left: 0px;
//             text-align: center;
//             padding-top:2px;
//         }
//     }


//     .timingbutton,.showgraphbutton
//     {
//         opacity: 0.5;
//     }

//     .timingbutton_active,.graphbutton_active
//     {
//         color: $highlight-color !important;
//         opacity: 1;
//     }



//     .timingbutton,.graphbutton
//     {
//         display:block;
//         float:left;
//         padding:0px;
//         color: var(--color-08);
//         padding-left:2px;
//         padding-top: 2px;
//         font-size: 14px !important;
//         padding-right:5px;
//         margin-left: 0px;
//         margin-right: 5px;
//         cursor:pointer;

//         &:hover
//         {
//             opacity: 1;
//             color: var(--color-12);
//         }
//     }


//     #timelineTitle
//     {
//         position: absolute;
//         z-index: $zindex_over - 1;
//         bottom:10px;
//         left:10px;
//     }



//     #overviewtimeline
//     {
//         border:none;
//         position: absolute;
//         background-color: #222; // TODO: Change color
//         height:25px;
//         max-height:25px;
//         overflow: hidden;
//         svg
//         {
//         }
//     }


//     #timetimeline
//     {
//         border:1px solid transparent;
//         position: absolute;
//         background-color: #2a2a2a; // TODO: Change color
//         height:25px;
//         max-height:25px;
//         overflow: hidden;
//         svg
//         {
//         }
//     }


//     #timeline
//     {
//         border:1px solid transparent;
//         outline:none;
//         background-color: var(--color-02);

//         &:focus
//         {
//             border: 1px solid var(--color-05);
//         }
//         svg
//         {
//             position:absolute;
//         }
//     }



//     .easingselect
//     {
//         // padding:10px;
//         right:0px;
//         min-width:240px;
//         // height:260px;
//         // background-color: var(--color-01);
//         // z-index: $z-index-timeline-easing;

//         .title
//         {
//             display:inline-block;
//             width:60px;
//         }

//         div,span
//         {
//             font-size: 12px;
//             font-family: arial;
//         }

//         .select
//         {
//             float:left;
//             width:33%;

//             a
//             {
//                 font-family: arial;
//                 &:hover
//                 {
//                     text-decoration: underline;
//                 }

//                 .active
//                 {
//                     color:$mainColor;
//                 }
//             }
//         }

//         .button
//         {
//             font-size:14px;
//         }

//         div
//         {
//             margin-bottom: 5px;
//             width:100%;
//             clear:both;
//         }
//     }
// }
