.cablesCssUi
{

    .tlTitle
    {
        user-select: none;
        background-color: black;
        white-space: nowrap;
        padding-right: 5px;
        padding-left: 5px;
        border-left:3px solid transparent;
        border-bottom:1px solid #222;
        width:80%;
        padding-top:4px;
        overflow: hidden;

        &:hover,&.hover
        {
            background-color: #111;
        }

        span
        {
            cursor: pointer;
            padding-right: 10px;
            padding-left: 5px;
            color:var(--color-07);

            &.current
            {
                color:var(--color-12);
            }
        }

        .portname
        {
            color:var(--textedit-comment);
        }

        &.selectedOp
        {
            background-color: #444;
        }

        .button-small {
            padding: 3px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin: 1px !important;

            .icon {
            }
        }
    }
        .folder{
            height: 40px;
            user-select: none;
            margin-left: 10px;
            background-color: #444;
            border-radius: 4px;
            padding-left: 8px;
            padding-right: 8px;
        }

    .hasSelectedKeys
    {
        border-left:3px solid #ffff00;
    }

    .onkey
    {
        background-color: #00FFFF !important;
    }

    .filterInput
    {
        width: 60px;
        top: 1px;
        left: 140px;
        position: absolute;
    }

    .selectMode
    {
        left: 94px;
        position: absolute;
        top: 44px;
    }

    .timelineminimize
    {
        position:absolute;
        right: 1px;
    }

    .cblgltimelineEle
    {
        z-index: 9;
    }

    .tlContainer{
        position: absolute;
        width:100%;

        canvas{
            z-index: $zindex_over;

        }
        .keyOverlay
        {
            z-index: $zindex_low;

        }
        .splitterTimeline
        {
            z-index: $zindex_high;
        }

        .scrollContainer
        {
            z-index: $zindex_low;
            overflow: auto;
            position: absolute;
        }

        .scrollheight{
            height: 1000px;
        }
    }

    .tltimedisplay
    {
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 99;
        color: var(--color-08);
        cursor: pointer;
        z-index: 888;


        h3
        {
            padding:0px;
            margin:0px;
            color:white;
        }
    }

    .keyOverlay {
        position: absolute;
        bottom: 10px;
        background-color: var(--color-02);
        width: 300px;
        overflow: auto;
        z-index: 9899;

        .iconbutton
        {
            margin-right: 1px;

        }

        .panel
        {
            padding:0px
        }
        .panel_head
        {
            padding:10px;
        }
        .content
        {
            padding:10px;
        }
    }

    .linesContainer
    {
        position: relative;
        /* border: 1px solid red; */
        overflow: hidden;
        padding-left: 20px;

        .toggle{
            background-color: white;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            margin-left: -20px;
        }
    }
}
