.cablesCssUi {
    .tlTitle {
        position: absolute;
        background-color: black;
        white-space: nowrap;
        padding-right: 5px;
        padding-left: 5px;
        border-left:3px solid transparent;

        &.hasSelectedKeys
        {
            border-left:3px solid yellow;
        }

        span {
            cursor: pointer;
            padding-right: 10px;
            padding-left: 5px;

            &.current
            {
                color:var(--color-special)
            }
        }

        .button-small {
            padding: 3px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin: 1px !important;

            .icon {
                width: calc(3px) !important;
            }
        }
    }

    .tltimedisplay
    {
        position: absolute;
        top: 40px;
        left: 10px;
        z-index: 99;
        background-color: var(--color-02);
    }

    .keyOverlay {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: var(--color-02);
        width: 300px;
        height: 165px;
        z-index: 99;

        .iconbutton
        {
            margin-right: 1px;
        }
    }
}
