.cablesCssUi
{
    .tlTitle
    {
        position: absolute;
        background-color: black;
        white-space: nowrap;
        padding-right: 5px;
        padding-left: 5px;
        border-left:3px solid transparent;
        width:100%;


        span
        {
            cursor: pointer;
            padding-right: 10px;
            padding-left: 5px;
            color:var(--color-07);

            &.current
            {
                color:var(--color-12);
            }
        }

        .portname
        {
            color:var(--textedit-comment);
        }
        &.selectedOp
        {
            background-color: #444;
        }

        .button-small {
            padding: 3px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin: 1px !important;

            .icon {
                width: calc(3px) !important;
            }
        }
    }

    .hasSelectedKeys
    {
        border-left:3px solid #ffff00;
    }

    .onkey
    {
        background-color: #00FFFF !important;
    }

    .filterInput
    {
        top: 81px;
        left: 31px;
        position: absolute;
    }

    .selectMode
    {
        left: 194px;
        position: absolute;
        top: 79px;
    }

    .timelineminimize
    {
        position:absolute;
        right: 1px;
    }

    .cblgltimelineEle
    {
        z-index: 9;
    }

    .tltimedisplay
    {
        position: absolute;
        top: 40px;
        left: 10px;
        z-index: 99;
        background-color: var(--color-02);
        color: var(--color-08);
        cursor: pointer;
        h3
        {
            padding:0px;
            margin:0px;
            color:white;
            }
    }

    .keyOverlay {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: var(--color-02);
        width: 300px;
        height: 165px;
        z-index: 99;

        .iconbutton
        {
            margin-right: 1px;
        }
    }
}
