

#infoArea
{
    width: 100%;
    position: absolute;
    min-width: 10px !important;
    display:none;
    background-color:$background-color-dark;
    padding:10px;
    padding-top:20px !important;
    padding-left:20px !important;
    height:240px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;

    h2
    {
        font-size: 15px;
    }

    ul
    {
        margin-left: 15px;
        padding-left: 0px;
    }
}

.tooltip
{
    position: absolute;
    z-index: $z-index-tooltip;
    background-color: $color-cz;
    color: $color-ca;
    padding:7px;
    border-radius: 0px;
    opacity:0.96;
    display:none;

    &:hover
    {
        display: none;
    }

    b
    {
        font-weight: bold;
        color:$color-ca;
        font-size: 14px;
    }

    i
    {
        color:$color-ca;
    }
    .code
    {
        font-family: monospace;
        color:$color-ca;
    }
}

// #hoverPreviewer
// {
//     position: absolute;
//     z-index: 99999999;
//     // border:2px solid red;
//     display: none;
// }