.cablesCssUi
{

    .numberinput-value
    {
        position: absolute;
        // display: none;
        // outline: none;
        border:none;

        background-color: transparent !important;
        padding:0px;
        width:100%;

        &:hover
        {
            background-color: transparent !important;
        }
    }

    .numberinputFocussed
    {
        border-bottom: 1px solid var(--color-special) !important;
    }

    .numberinput,.numberinput-value
    {
        overflow: hidden;
        position: relative;
        font-family: monospace;
        font-size: var(--font-size-default);
        color:var(--color-13);
        border:none;
        // outline: none;
    }

    .numberinput
    {
        background-color: $color-background-input;
        width:140px;
        padding:1px;
        padding-top:1px;
        height:18px;
        padding-left: 5px;
        padding-right: 5px;
        color:var(--color-11);
        border-radius: 2px;
        border-bottom: 1px solid transparent;
        user-select: none;
        cursor:ew-resize;
    }

    .valueinputtype-string
    {
        cursor:pointer !important;
    }

    // .numberinput-progress
    // {
    //     width:50%;
    //     background-color: red;
    //     height:100%;
    //     position: relative;
    // }
}
