#icon-bar {
  padding-top: 28px;
  background-color: $color-cz;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  // height: 100vh;
  color: #2c3e50;
  z-index: 1;

  ul {
    left: 5px;
  }
}

#icon-bar ul, .sidebar-customizer ul{
  height: 100%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    cursor: pointer;
    margin-top: 12px;

    &:hover {
      .label {
        color: $color-special;
      }
      .icon {
        background-color: $color-special;
      }
    }

    span {
      display: block;
      text-align: center;

      &.icon {
        margin: 0 auto;
        margin-bottom: 6px;
        background-color: $color-ca;
      }
    }
  }
}

#sidebar-list {
  height: calc(100% - 96px) !important;
  overflow-y: scroll;
}

body {
  list-style: none; /* needed because li being dragged is temporarily added as child of the body */
}

/* list elements being dragged */
li.gu-mirror {
  cursor: move;
  margin-top: 12px;
  padding: 8px;
  width: 64px;
  box-sizing: border-box;

  span {
    display: block;
    text-align: center;

    &.icon {
      margin: 0 auto;
      margin-bottom: 6px;
    }
  }
}

#icon-bar {
  .menu {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 54px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;

    .icon {
      background-color: $color-ca;
    }

    &:hover {
      .icon {
        background-color: $color-special;
      }
    }
  }
}
