// list also uses styles from ./Sidebar.scss

$customizer-side-padding: 24px;

.customizer-animation-enter-active {
  animation: customizer-slide-in .3s;
}

.customizer-animation-leave-active {
  animation: customizer-slide-in .3s reverse;
}

@keyframes customizer-slide-in {
  0% {
    left: -300px;
  }
  100% {
    left: 80px;
  }
}

.sidebar-option {
  margin: 24px 0px;

  #display-text-icon-switch {
    padding-left: 10px;
  }
}


.sidebar-customizer {
  position: fixed;
  z-index: $z-index-sidebar-customizer;
  top: 80px;
  left: 80px;
  width: 445px;
  height: calc(100vh - 130px);
  background-color: $color-c9;
  color: #2c3e50;
  box-sizing: border-box;
  border-left: 1px solid $color-c9;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  .sidebar-customizer-main {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    box-sizing: border-box;
    border-top-right-radius: 12px;
    overflow-x: hidden; /* hide scrollbar in firefox */
  }

  .close-wrapper {
    padding: 6px;
    text-align: right;
    background-color: $color-c10;
    border-top-right-radius: 12px;
  }

  #ux-hint {
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    background-color: $color-c10;
    color: $color-c6;
    border-bottom-right-radius: 12px;
    margin: 0;
    padding: 16px;
  }

  header {
    background-color: $color-c10;
    padding: 10px $customizer-side-padding 6px $customizer-side-padding;

    #customizer-search {
      width: 100%;
      background-color: $color-c8;
    }
  }

  // special rules, will overwrite the rules for the list from Sidebar.scss
  #sidebar-customizer-list {
    overflow-y: scroll;
    padding: $customizer-side-padding;
    background-color: $color-c9;

    &:after {
      clear: both;
    }

    li {
        float: left;
        width: 80px;
        height: 60px;
        margin-top: 0;
        margin-bottom: 16px;

        .icon {
          background-color: $color-c5;
        }

        .label {
          height: 34px;
          color: $color-c5;
        }

        &:hover {
          .icon { background-color: $color-c5; }
          .label { color: $color-c5; }
        }
    }
  }
}

#sidebar-customizer-trash-can {
  height: 100%;
  width: 100%;
  position: relative;
  opacity: 0.3;

  &.drag-over {
      opacity: 1.0;
  }

  li {
    display: none;
  }

  .icon-wrapper {
    padding: 20px;
    border-radius: 20px;
    border: 2px dashed white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    margin-top: -90px;
    margin-left: -90px;

    .icon {
      width: 140px;
      height: 140px;
    }
  }
}
